@model WebTemplate.Models.RequestsApproval.Leave_Request.Index

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var LeaveRequestPageAccess = credential.GetPage("RequestsApproval/LeaveRequests") ?? new DataAccessLayer.System.Page();
    var LeaveRequestApprover = credential.GetPage("Approver Leave Request") ?? new DataAccessLayer.System.Page();
    var UploadDocumentAccess = credential.GetPage("Kiosk Upload Document") ?? new DataAccessLayer.System.Page();

    ViewBag.title = LeaveRequestPageAccess.PageName;
}

<div class="wrapper wrapper-content">
    <div class="page-heading">
        <div class="col-lg-8">
            <h1>@Html.Raw(LeaveRequestPageAccess.PageName ?? "&nbsp;")</h1>
            <ol class="breadcrumb">
                <li>
                    <a href='@Url.Action("Index", "Home")'>Home</a>
                </li>
                <li>Movement</li>
                <li class="active">
                    <strong>@Html.Raw(LeaveRequestPageAccess.PageName ?? "&nbsp;")</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-4">
            <div class="title-action">
            </div>
        </div>
    </div>
    <div class="" style="margin-top: 85px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated fadeInLef">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-sm" style="padding: 0px;">
                <div class="tabs-container" style="border: 1px solid #009688;">
                    <div class="tab-content" style="margin-top: 0px; max-height: unset; overflow-y: auto; overflow-x: hidden;">
                        @if (LeaveRequestApprover.Approve)
                        {
                            <div id="tab-2" class="tab-pane active" style="height: 850px;">
                                <div id="LeaveRequestsForm" class="panel-body" style="padding: 10px; max-height: 100%; border: 1px solid #e5e6e7; overflow-y: hidden;">
                                    @Html.Partial("~/Views/RequestsApproval/LeaveRequests/_LeaveRequests.cshtml")
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal custom-modal" id="CancellationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInDown modal-width-30">
                <div class="modal-header">
                    <h5 class="modal-title">Cancellation Remarks</h5>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 750px; background-color: #fff; overflow: hidden;">
                    <div class="chat-view">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label">Indicate why you are cancelling this request.</label>
                            <textarea name="CancellationRemarks" value="Remarks" style="resize: none;" class="form-control text-transform-none" placeholder="Cancellation Remarks..." rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" name="CancelMemoArchive" class="btn btn-outline btn-w-m btn-danger CancelMemoArchive" value="0" title="Clear"><i class="fa fa-times"></i> &nbsp;Cancel</button>
                    <button type="button" name="Proceed" class="btn btn-info btn-w-m Proceed" value="0" title="Proceed Cancellation">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal custom-modal" id="LeaveRequestModal" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInDown modal-width-30">
                <div class="modal-header">
                    <h5 class="modal-title" style="text-align: center;">New Leave Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div id="LeaveRequestForm" class="modal-body" style="max-height: 750px; background-color: #fff; overflow: hidden;">
                </div>
            </div>
        </div>
    </div>
</div>

@if (UploadDocumentAccess.View || UploadDocumentAccess.Insert || UploadDocumentAccess.Update || UploadDocumentAccess.Delete)
{                        
        <div class="modal inmodal custom-modal" id="UploadDocumentModal" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-center vertical-align-center">
                    <div class="modal-content animated fadeInDown modal-width-30">
                        <div class="modal-header">
                            <h5 class="modal-title">Upload Document</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                        </div>
                        <div class="modal-body" style="max-height: 750px; background-color: #fff; overflow: hidden;">
                            <input id="browseFile" type="file" class="btn btn-default" />
                            @Html.Hidden("leaveRequestId", 0)
                            <form id="DeleteDocumentForm" action="/LeaveRequests/DeleteDocument?leaveRequestId=">
                                <input id="DeleteDocument" type="hidden" value="Delete" class="btn btn-danger btn-outline btn-w-m font-bold-700 pull-right" title="Delete" />
                            </form>
                        </div>
                        <div class="modal-footer" style=" margin: 0;">
                            <button type="button" class="btn btn-default btn-outline btn-w-m font-bold-700 pull-left" data-dismiss="modal">Close</button>
                            <button type="button" onclick="ValidateFile()" class="btn btn-primary btn-w-m font-bold-700 pull-right">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal inmodal custom-modal" id="" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-center vertical-align-center modal-full-page">
                <div class="modal-content animated fadeInUp modal-width-100">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload Document</h5>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="UploadDocumentForm" style=" overflow-x: auto;">
                            <fieldset>
                                <legend>Select File</legend>
                                <div id="SelectedFilesPreview">
                                    @*@Html.Partial("~/Views/RequestsApproval/LeaveRequests/_UploadDocument.cshtml", new ProcessLayer.Entities.Kiosk.LeaveRequest())*@
                                </div>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-default btn-file">
                                        <span class="fileinput-new"><i class="fa fa-plus"></i></span>
                                        <span class="fileinput-exists">Change</span><input id="browseFile" type="file" name="..." />
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                </div>
                                @*<input type="hidden" id="DeleteDocument" class="btn btn-primary btn-w-m font-bold-700 pull-right" value="Delete"/>*@
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default btn-outline btn-w-m font-bold-700 pull-left" data-dismiss="modal">Close</button>*@
                        <button type="button" class="btn btn-primary btn-w-m font-bold-700 pull-right">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var $_leaveTypeArr = @Html.Raw(Json.Encode(Model.LeaveTypes));
    var $_uploadDocAcc = @Html.Raw(Json.Encode(UploadDocumentAccess));
    var $_IsBulkUse = false;
    var xhr;

    $(document).ready(function () {
        Events();
    });

    function Events() {
        //$_SelectedRows = [];

        SetRowLoadingDisplayColSpan();
        SearchTabEvents();

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $('.status-checkbox').off('ifClicked').on('ifClicked', StatusFilter);

        $(".modal").on('shown.bs.modal', function () {
            var id = $(this).attr('id');
            $('#' + id + '.form-control:first').select();
            $(this).find('span.select2').css('width', '100%');
        });

        $('.pages').off('click').on('click', function () {
            $('#Page').val($(this).val())
            SearchLeaveRequests();
        });

        $(document).off('keydown').on('keydown', function () {
            if (event.keyCode == 13) {
                if ($('div.showSweetAlert button.confirm').length > 0)
                    $('div.showSweetAlert button.confirm').trigger('click');
            }

            if (event.keyCode == 27) {
                if ($('div.showSweetAlert button.confirm').length > 0)
                    $('div.showSweetAlert button.cancel').trigger('click');
            }
        });

        $('#Personnel').off('keydown').on('keydown', function () {
            if (event.keyCode == 13) {
                $('#Btn_Search').click();
            }
        });

        $('#Btn_Search').off('click').on('click', function () {
            $('#Page').val(1);
            SearchLeaveRequests();
        });
    }

    function SearchTabEvents() {
        $('#form_search_params #LeaveTypeID').off('change').on('change', SetLeaveTypeID);
        $('#Btn_Search').off('click').on('click', SearchLeaveRequests);
        //$('input[type="checkbox"]').parent('div.disabled').css('background-color', '#eee');
        $('.ApproveLeaveRequest').off('click').on('click', ApproveLeaveRequest);
        $('.CancelLeaveRequest').off('click').on('click', CancelLeaveRequest);
        $('select').select2();
    }

    function StatusFilter() {
        var name = $(this).attr('name');

        if (name == 'All') {
            if ($(this).is(':checked')) {
                $('.status-checkbox').each(function (e) {
                    if ($(this).attr('name') !== 'All') {
                        $(this).iCheck('uncheck');
                    }
                });
            }
            else {
                $('.status-checkbox').each(function (e) {
                    if ($(this).attr('name') !== 'All') {
                        $(this).iCheck('check');
                    }
                });
            }

            $('.status-checkbox[name="IsPending"]').iCheck('check');
        }
        else {
            $('.status-checkbox[name="All"]').iCheck('uncheck');
        }

        setTimeout(SearchLeaveRequests, 500);
    }

    function UploadDocument(leaveReqID, filename) {
        var action = $('#DeleteDocumentForm').attr('action');

        if (leaveReqID) {
            $('#UploadDocumentModal #leaveRequestId').val(leaveReqID);
            $('#UploadDocumentModal').attr('action', action + (filename ? leaveReqID : ''));
            //$('#UploadDocumentModal #browseFile').val(filename);
            //$('#UploadDocumentModal #DeleteDocument').attr(filename ? 'submit' : 'hidden');
            $('#UploadDocumentModal .modal-header .close').off('click').on('click', CancelDocumentUpload);
            $('#UploadDocumentModal').appendTo('body').modal('show');
        }
        else {
            toastr.warning('Warning', 'Leave Request not found.');
        }
    }

    function CancelDocumentUpload() {
        $('#SelectedFilesPreview').empty();
        $('#UploadDocumentModal .fileinput .close').trigger('click');
        $("#UploadDocumentModal #browseFile").val('');
        $('#UploadDocumentModal').modal('hide');
    }

    function ValidateFile() {
        var formdata = new FormData();
        if ($("#UploadDocumentModal #browseFile")[0].files.length > 0)
            formdata.append("fileBase", $("#UploadDocumentModal #browseFile")[0].files[0])

        formdata.append("leaveRequestId", $("#UploadDocumentModal #leaveRequestId").val());
        formdata.append("__RequestVerificationToken", $('@Html.AntiForgeryToken()').val());

        if (xhr) { xhr.abort(); }
        xhr = $.ajax({
            data: formdata,
            url: '@Url.Action("UploadDocument", "LeaveRequests")',
            type: 'POST',
            datatype: 'JSON',
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () { ShowLoadingScreen() },
            complete: function () { RemoveLoadingScreen() },
            success: function (response) {
                if (response.msg == null) {
                    toastr.warning('Warning', response.res);
                }
                else {
                    toastr.success('Success', response.res);
                    SearchLeaveRequests();
                }
            },
            error: function (x, y, z) {
                //toastr.error('Error', x + y + z);
            }
        })
    }

    function SearchLeaveRequests() {
        var formdata = new FormData();
        var isBulkUse = $('#form_search_params #LeaveTypeID option:selected').attr('isbulk') === 'true';

        $('#form_search_params .form-control*').each(function () {
            formdata.append($(this).attr('name'), $(this).val());
        });
        $('#status_search_params input.i-checks*').each(function () {
            formdata.append($(this).attr('name'), $(this).is(':checked'));
        });
        $('#form_search_params #' + (isBulkUse ? '' : 'Non') + 'BulkUseDatePicker input').each(function () {
            formdata.append($(this).attr('name'), $(this).val());
        });
        formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());

        if (xhr) { xhr.abort(); }
        xhr = $.ajax({
            url: '@Url.Action("Index", "LeaveRequests")',
            data: formdata,
            type: "POST",
            datatype: 'JSON',
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                //ShowLoadingScreen();
                ShowHideRowLoadingDisplay('LeaveRequestsTable', true);
            },
            complete: function () {
                //RemoveLoadingScreen();
            },
            success: function (response) {
                if (response.msg == null) {
                    $('#LeaveRequestsForm').html(response);
                    Events();
                } else {
                    toastr.warning(response.res);
                }
            },
            error: function () {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }

    function ApproveLeaveRequest() {
        var id = $(this).val();

        swal({
            title: 'Continue to approve<br/>Leave Request?',
            text: '', //'Choose from the actions below or<br/>Press Esc to Cancel, Enter to Continue.',
            type: 'warning',
            showConfirmButton: true,
            showCancelButton: true,
            confirmButtonColor: "#1ab394",
            cancelButtonColor: "#f27474", //"f27474",
            confirmButtonText: 'Continue',
            cancelButtonText: 'Cancel',
            closeOnConfirm: true,
            closeOnCancel: true,
            html: true
        },
        function (isConfirm) {
            if (isConfirm) {
                Approve(id);
            }
        });
    }

    function Approve(id) {
        var params = 'id=' + id + 
            '&__RequestVerificationToken=' +
            $('@Html.AntiForgeryToken()').val();

        if (xhr) { xhr.abort(); }
        xhr = $.ajax({
            data: params,
            type: 'POST',
            url: '@Url.Action("Approve", "LeaveRequests")',
            cache: false,
            beforeSend: function () {
                ShowLoadingScreen()
            },
            complete: function () {
                RemoveLoadingScreen()
            },
            success: function (response) {
                if (response.msg == true) {
                    $('#ApprovalModal').modal('hide');
                    toastr.success('Leave Request Approved!');

                    SearchLeaveRequests();
                } else {
                    toastr.error(response.res);
                }
            },
            error: function (response) {
                toastr.error(response.res);
            }
        });
    }

    function CancelLeaveRequest() {
        var id = $(this).val();

        //swal({
        //    title: 'Continue to cancel<br/>Leave Request?',
        //    text: '', //'Choose from the actions below or<br/>Press Esc to Cancel, Enter to Continue.',
        //    type: 'warning',
        //    showConfirmButton: true,
        //    showCancelButton: true,
        //    confirmButtonColor: "#1ab394",
        //    cancelButtonColor: "#f27474", //"f27474",
        //    confirmButtonText: 'OK',
        //    cancelButtonText: 'Cancel',
        //    closeOnConfirm: true,
        //    closeOnCancel: true,
        //    html: true
        //},
        //function (isConfirm) {
        //    if (isConfirm) {
                $('#CancellationModal').appendTo("body").modal('show');
                $('#CancellationModal .Proceed').val(id);
                $('#CancellationModal .Proceed').off('click').on('click', Cancel);
                $('#CancellationModal .form-control').off('keydown').on('keydown', Proceed);
        //    }
        //});
    }

    function Cancel() {
        var remarks = $('#CancellationModal textarea').val();
        var id = $(this).val();

        if (remarks.length > 0) {
            var params = 'id=' + id +
                '&CancellationRemarks=' + remarks +
                '&__RequestVerificationToken=' +
                $('@Html.AntiForgeryToken()').val();

            if (xhr) { xhr.abort(); }
            xhr = $.ajax({
                data: params,
                type: 'POST',
                url: '@Url.Action("Cancel", "LeaveRequests")',
                cache: false,
                beforeSend: function () {
                    ShowLoadingScreen()
                },
                complete: function () {
                    RemoveLoadingScreen()
                },
                success: function (response) {
                    if (response.msg == true) {
                        $('#CancellationModal').modal('hide');
                        toastr.success('Leave Request cancelled!');

                        SearchLeaveRequests();
                    } else {
                        toastr.error(response.res);
                    }
                },
                error: function (response) {
                    toastr.error(response.res);
                }
            });
        }
        else {
            toastr.error('Remarks is required!');
        }
    }

    function Proceed() {
        $proceedBtn = $(this).closest('div.modal').find('.Proceed');

        if (event.keyCode == 13)
            $proceedBtn.trigger('click');
    }

    function SetLeaveTypeID() {
        var div = $('#LeaveRequestModal').is(':visible') ? '#LeaveRequestModal' : '#form_search_params';
        var id = $(div + ' #LeaveTypeID option:selected').val();
        var newBulkUse = $(div + ' #LeaveTypeID option:selected').attr('isbulk') === 'true';

        if (id) {
            if (newBulkUse != $_IsBulkUse || newBulkUse == true) {
                $(div + ' #' + (newBulkUse ? 'Non' : '') + 'BulkUseDatePicker').addClass('hidden');
                $(div + ' #' + (newBulkUse ? '' : 'Non') + 'BulkUseDatePicker').removeClass('hidden');
            }

            $_IsBulkUse = newBulkUse;
        }
    }
</script>