@model WebTemplate.Models.TimeLog.PersonnelList
@{
    Layout = null;
}
<div id="form_search_params" class="input-group m-b-sm" style="width: 100%;">
    @Html.AntiForgeryToken()
    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-2">
        <label class="control-label">Start Date & Time</label>
        @Html.TextBox("startdate", String.Format("{0:yyyy'-'MM'-'dd}", Model.startdate), new { @type = "datetime-local", @class = "form-control" })
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-2">
        <label class="control-label">End Date & Time</label>
        @Html.TextBox("enddate", String.Format("{0:yyyy'-'MM'-'dd}", Model.enddate), new { @type = "datetime-local", @class = "form-control" })
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-2">
        <label class="control-label">Start Date & Time</label>
        @Html.TextBox("key", Model.key, new { @class = "form-control", @placeholder = "Search Personnel..." })
    </div>
    <span class="input-group-addon" id="SearchPersonnel" style="cursor: pointer;"><i class="fa fa-search"></i></span>
</div>
<div id="SearchTable" class="tablediv" style="width: 50%;">
    <div id="SearchPersonnelDiv" class="input-group m-b-sm" style="width: 100%;">
        <input id="SearchPersonnelInput" class="form-control" placeholder="Search Personnel..." />
        <span class="input-group-addon" id="SearchPersonnel" style="cursor: pointer;"><i class="fa fa-search"></i></span>
    </div>
    <div id="SearchTableDiv">
        <div class="table-responsive" style="max-height: 550px; overflow-y: scroll;">
            <table id="PersonnelsTable" class="table table-stripped table-bordered" style="max-height: 500px;">
                <thead>
                    <tr>
                        <th style="text-align: center;" scope="col">Personnel</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Partial("~/Views/HumanResource/TimeLog/_Employees.cshtml", Model)
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="margin: 0px 10px;"></div>
<div id="TimeLogsTable" class="tablediv" style="width: 50%;">
    <div id="TimeLogsTableDiv">
        <div class="table-responsive" style="max-height: 550px; overflow-y: scroll;">
            <table id="TimeLogTable" class="table table-stripped table-bordered" style="max-height: 500px;">
                <thead>
                    <tr>
                        <th style="text-align: center;" scope="col">Log in</th>
                        <th style="text-align: center;" scope="col">Log Out</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="No-Row-Display">
                        <td style="text-align: center;" colspan="6">No TimeLogs found...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>