@model WebTemplate.Models.TimeLog.ValidateTimelog

<input id="HiddenPath" hidden value="@Model.Path" />
<div class="col-lg-6" style="margin: 0px;">
    <div class="" style="margin-bottom: 1em;">
        <div class="mail-box">
            <table id="ErrorInputs" class="table table-hover table-striped">
                <thead>
                    <tr class="bg-info">
                        <th style="text-align:center">Errors</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PinNotRecognized.Count() > 0)
                    {
                        <tr>
                            <td class="text-danger">Pin not recognized. @(string.Format("{0}", String.Join(", ", Model.PinNotRecognized.ToArray(), 0, Model.PinNotRecognized.Count - 1) + (Model.PinNotRecognized.Count() > 1 ? ", and ": "") + Model.PinNotRecognized.LastOrDefault()))</td>
                        </tr>
                    }
                    @if (Model.InvalidTimelog.Count() > 0)
                    {
                        <tr>
                            <td class="text-danger">Invalid timelog. Line@(string.Format("{0} {1}", Model.InvalidTimelog.Count() > 1 ? "s" : "", String.Join(", ", Model.InvalidTimelog.ToArray(), 0, Model.InvalidTimelog.Count - 1) + (Model.InvalidTimelog.Count() > 1 ? ", and " : "") + Model.InvalidTimelog.LastOrDefault()))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-6" style="margin: 0px;">
    <div class="" style="margin-bottom: 1em;">
        <div class="mail-box">
            <table id="validInputs" class="table table-hover table-striped">
                <thead>
                    <tr class="bg-info">
                        <th style="text-align:center">Validated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style=" padding: 0px;">
                            <div class="panel-group" id="accordion" style="margin: 0px;">
                                @{
                                    var personnel = Model.Timelogs.GroupBy(m => new { m._Personnel.BiometricsID, m._Personnel.FullName }).Select(m => new { m.Key.BiometricsID, m.Key.FullName }).ToList();

                                    for (var i = 0; i < personnel.Count(); i++)
                                    {
                                        var timelogs = Model.Timelogs.Where(n => n._Personnel.BiometricsID == personnel[i].BiometricsID);

                                        <div class="panel-default">
                                            <div class="panel-heading" style=" padding: 7px 16px;">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-@(i)" class="" aria-expanded="false">@(personnel[i].FullName)</a>
                                                </h5>
                                            </div>
                                            <div id="collapseOne-@(i)" class="panel-collapse collapse in">
                                                <div class="panel-body" style="padding: 0; max-height: unset !important;">
                                                    <div class="" style="margin-bottom: 0;">
                                                        <div class="mail-box">
                                                            <table id="Timelogs" class="table table-hover table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Time In</th>
                                                                        <th>Time Out</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var t in timelogs)
                                                                    {
                                                                        <tr>
                                                                            <td>@(t.LoginDate != null ? (t.ID > 0 ? "From DB : " : "" ) + t.LoginDate.Value.ToString("MMMM dd, yyyy hh:mm:ss tt") : "")</td>
                                                                            <td>@(t.LogoutDate != null ? t.LogoutDate.Value.ToString("MMMM dd, yyyy hh:mm:ss tt") : "")</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>