@model ProcessLayer.Entities.PersonnelVaccine
@{
    var vaccineTypes = ProcessLayer.Processes.LookupProcess.GetVaccineType();

    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var VaccinesPageAccess = credential.GetPage("Vaccines") ?? new DataAccessLayer.System.Page();
}

<tr id="Row-Display-Vaccine-@Model.ID" class="Row-Display">
    <td class="hidden">
        <input type="hidden" value="@Model.PersonnelID" name="PersonnelID" />
    </td>
    <td class="hidden">
        <input type="hidden" value="@Model.VaccineTypeID" class="vaccineTypeID"/>
    </td>
    <td style="text-align: center;">@Model._VaccineType.Description</td>
    <td style="text-align: center;">@String.Format("{0:MMMM dd, yyyy}", Model.ExpirationDate)</td>
    @if (VaccinesPageAccess.Update || VaccinesPageAccess.Delete)
    {
        <td style="text-align: center; width: 14.6%;">
            <div class="btn-group">
                @if (VaccinesPageAccess.Delete)
                {
                    <button type="button" name="DeleteVaccine" class="btn btn-outline btn-danger btn-sm btn-rounded DeleteVaccine TableDeleteButton" value="@Model.ID" title="Delete"><i class="fa fa-trash"></i></button>
                }
                @if (VaccinesPageAccess.Update)
                {
                    <button type="button" name="EditVaccine" class="btn btn-info btn-sm btn-rounded EditVaccine TableEditButton" value="@Model.ID" title="Edit"><i class="fa fa-pencil"></i></button>
                }
            </div>
        </td>
    }
</tr>
<tr id="Row-Input-Vaccine-@Model.ID" class="Row-Input hidden">
    <td class="hidden">
        <input type="hidden" value="@Model.PersonnelID" name="PersonnelID" />
    </td>
    <td style="text-align: center;">
        @Html.DropDownList("VaccineTypeID", new SelectList(vaccineTypes, "ID", "Description"), "N/A", new { @class = "form-control vaccineTypes" })
    </td>
    <td style="text-align: center;">
        <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            @Html.TextBoxFor(m => m.ExpirationDate, "{0:MM/dd/yyyy}", new { @class = "form-control text-transform-none" })
            <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
        </div>
    </td>
    @if (VaccinesPageAccess.Update)
    {
        <td style="text-align: center; width: 14.2%;">
            <div class="btn-group">
                <button type="button" name="CancelVaccine" class="btn btn-outline btn-danger btn-sm btn-rounded CancelVaccine TableCancelButton" value="@Model.ID" title="Cancel"><i class="fa fa-times"></i></button>
                <button type="button" name="SaveVaccine" class="btn btn-info btn-sm btn-rounded SaveVaccine TableSaveButton" value="@Model.ID" title="Save"><i class="fa fa-save"></i></button>
            </div>
        </td>
    }
</tr>

