@model WebTemplate.Models.Personnel.Management
@using WebTemplate.Extension
@using ProcessLayer.Entities

@{
    var entity = new DataAccessLayer.System.User();
    var statuses = entity.LookupUserStatus();
    var genders = new Dictionary<bool, string> { { true, "Male" }, { false, "Female" } };
    var civilStatuses = ProcessLayer.Processes.LookupProcess.GetCivilStatus();
    var religions = ProcessLayer.Processes.LookupProcess.GetReligion();
    var personnelTypes = ProcessLayer.Processes.Lookups.PersonnelTypeProcess.Instance.Value.GetList();
    //var personnelLocations = ProcessLayer.Processes.LocationProcess.Instance.Value.GetList();
    var employmentStatuses = ProcessLayer.Processes.LookupProcess.GetEmployementStatus();
    var nationalities = ProcessLayer.Processes.LookupProcess.GetNationality();
    var sched = ProcessLayer.Processes.Lookups.ScheduleTypeProcess.Instance.Value.GetList();
    var paytype = ProcessLayer.Processes.LookupProcess.GetPayrollType();
    //var allowances = ProcessLayer.Processes.LookupProcess.GetAllowance();
    //var positions = ProcessLayer.Processes.PositionProcess.Instance.Value.GetByPersonnelType();
    //var employmentTypes = ProcessLayer.Processes.LookupProcess.GetEmploymentType();
    //var departments = ProcessLayer.Processes.Lookups.DepartmentProcess.Instance.Value.GetList();
    //var currencies = ProcessLayer.Processes.LookupProcess.GetCurrency();
    //var relationships = ProcessLayer.Processes.LookupProcess.GetRelationship();
    //var taxTypes = ProcessLayer.Processes.LookupProcess.GetTaxType();

    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PersonnelTabAccess = credential.GetPage("HumanResource/Personnel") ?? new DataAccessLayer.System.Page ();
    var EmploymentInfoTabAccess = credential.GetPage("Employment Info") ?? new DataAccessLayer.System.Page ();
    var ContactsTabAccess = credential.GetPage("Contacts") ?? new DataAccessLayer.System.Page();
    var DependentsTabAccess = credential.GetPage("Dependents") ?? new DataAccessLayer.System.Page ();
    var LicenseTabAccess = credential.GetPage("License") ?? new DataAccessLayer.System.Page ();
    var SchedulesTabAccess = credential.GetPage("Schedules") ?? new DataAccessLayer.System.Page();
    var VaccinesTabAccess = credential.GetPage("Vaccines") ?? new DataAccessLayer.System.Page ();
    var EducationalBackgroundsTabAccess = credential.GetPage("Educational Backgrounds") ?? new DataAccessLayer.System.Page ();
    var WorkExperiencesTabAccess = credential.GetPage("Work Experiences") ?? new DataAccessLayer.System.Page ();
    var TrainingsAndSeminarsTabAccess = credential.GetPage("Trainings and Seminars") ?? new DataAccessLayer.System.Page ();
    var MemoTabAccess = credential.GetPage("Memo") ?? new DataAccessLayer.System.Page ();
    var InfractionsTabAccess = credential.GetPage("Infractions") ?? new DataAccessLayer.System.Page ();
    var CompensationsTabAccess = credential.GetPage("Compensations") ?? new DataAccessLayer.System.Page ();
    var DeductionsTabAccess = credential.GetPage("Deductions") ?? new DataAccessLayer.System.Page ();
    var LoansTabAccess = credential.GetPage("Loans") ?? new DataAccessLayer.System.Page();
    var LeaveCreditsTabAccess = credential.GetPage("Leave Credits") ?? new DataAccessLayer.System.Page();
}

<div class="modal-header">
    <h5 class="modal-title">Personnel Profile</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body" style="">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            @if (PersonnelTabAccess.View)
            {
                <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Personal Info</a></li>
            }
            @if (EmploymentInfoTabAccess.View)
            {
                <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-vcard-o"></i> Employment Info</a></li>
            }
            @if (EducationalBackgroundsTabAccess.View)
            {
                <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-graduation-cap"></i> Educational Background</a></li>
            }
            @if (WorkExperiencesTabAccess.View)
            {
                <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-suitcase"></i> Work Experience</a></li>
            }
            @if (TrainingsAndSeminarsTabAccess.View)
            {
                <li class=""><a data-toggle="tab" href="#tab-5"><i class="fa fa-certificate"></i> Trainings and Seminars</a></li>
            }
            @if (MemoTabAccess.View)
            {
                <li class=""><a data-toggle="tab" href="#tab-6"><i class="fa fa-files-o"></i> Memos</a></li>
            }
            @if (InfractionsTabAccess.View)
            {
                <li class=""><a data-toggle="tab" href="#tab-7"><i class="fa fa-exclamation-circle"></i> Infractions</a></li>
            }
            @if (CompensationsTabAccess.View || DeductionsTabAccess.View)
            {
                <li class=""><a data-toggle="tab" href="#tab-8"><i class="fa fa-money"></i> Compensation and Deductions</a></li>
            }
            @if (LeaveCreditsTabAccess.View)
            {
                <li class=""><a data-toggle="tab" href="#tab-9"><i class="fa fa-calculator"></i> Leave Credits</a></li>
            }
            @if (LoansTabAccess.View)
            {
                <li class=""><a data-toggle="tab" href="#tab-10"><i class="fa fa-calculator"></i> Loans</a></li>
            }
        </ul>
        <div class="tab-content" style="padding: 0;">
            @* Personal Info *@
            @if (PersonnelTabAccess.View)
            {
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body" style="padding: 10px;">
                        @Html.HiddenFor(m => m.Personnel.ID, new { @class = "PersonnelID", @value = 0 })

                        @* Basic *@
                        <div class="row">
                            <div id="BasicDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                <div class="panel-heading" style="padding: 5px 10px;">Basic</div>
                                <div class="panel-body" style="padding: 10px;">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align: -webkit-center;">
                                        @*<div class="image-crop">
                                        <img src=""/>
                                        <label title="Upload image file" for="inputImage" class="btn btn-block btn-primary" style="cursor: pointer;">
                                            <input type="file" accept="image/*" name="file" id="inputImage" class="hidden">
                                            <i class="fa fa-folder-open"></i>
                                        </label>
                                        <div class="img-preview img-preview-sm"></div>
                                        <div class="btn-group hidden">
                                            <button class="btn btn-white" id="zoomIn" title="Zoom In" type="button"><i class="fa fa-plus"></i></button>
                                            <button class="btn btn-white" id="zoomOut" title="Zoom Out" type="button"><i class="fa fa-minus"></i></button>
                                            <button class="btn btn-white" id="rotateLeft" title="Rotate Left" type="button"><i class="fa fa-rotate-left"></i></button>
                                            <button class="btn btn-white" id="rotateRight" title="Rotate Right" type="button"><i class="fa fa-rotate-right"></i></button>
                                            <button class="btn btn-danger" id="cancelImage" title="Cancel" type="button"><i class="fa fa-times"></i></button>
                                            <button class="btn btn-primary" id="saveImage" title="OK" type="button"><i class="fa fa-save"></i></button>
                                        </div>
                                    </div>*@
                                        <div class="">
                                            <img id="ImageCanvasImg" src="@(System.IO.File.Exists(Model.Personnel.ImagePath) ? Model.Personnel.ImagePath : "\\Images\\default.jpg")" class="m-b-sm" style="width: 200px; height: 200px; border: 1px solid #ddd;" />
                                            <input type="file" id="browseImage" name="fileBase" class="browsefile form-control">
                                            <input hidden name="Personnel.ImagePath" value="@(Path.GetFileName(Model.Personnel.ImagePath) ?? "")" />
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.EmployeeNo, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.EmployeeNo, new { @class = "form-control text-transform-none required", @placeholder = "yyyy-mm-99999" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.LastName, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.LastName, new { @class = "form-control text-transform-none required" })
                                            </div>
                                        </div>

                                        <div id="MaidenMiddleNameDiv" class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3 hidden">
                                            @Html.LabelFor(m => m.Personnel.MaidenMiddleName, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.MaidenMiddleName, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.FirstName, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.FirstName, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.MiddleName, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.MiddleName, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.Gender, new { @class = "control-label" })
                                            <div class="">
                                                @Html.DropDownListFor(m => m.Personnel.Gender, new SelectList(genders, "Key", "Value"), "N/A", new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-5 col-md-5 col-lg-6">
                                            @Html.LabelFor(m => m.Personnel.Address, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.Address, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.BirthPlace, new { @class = "control-label", @style = "" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.BirthPlace, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3" id="data_1" style="margin-bottom: 7px !important;">
                                            @Html.LabelFor(m => m.Personnel.BirthDate, new { @class = "control-label", @style = "margin-bottom: 0px;" })
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                @Html.TextBoxFor(m => m.Personnel.BirthDate, "{0:MM/dd/yyyy}", new { @class = "form-control text-transform-none" })
                                                <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.ReligionID, new { @class = "control-label" })
                                            <div class="">
                                                @Html.DropDownListFor(m => m.Personnel.ReligionID, new SelectList(religions, "ID", "Description", Model.Personnel.ReligionID), "N/A", new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.CivilStatusID, new { @class = "control-label" })
                                            <div class="">
                                                @Html.DropDownListFor(m => m.Personnel.CivilStatusID, new SelectList(civilStatuses, "ID", "Description", Model.Personnel.CivilStatusID), "N/A", new { @class = "form-control required" })
                                            </div>
                                        </div>

                                        @*<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                        @Html.LabelFor(m => m.Personnel.TaxTypeID, new { @class = "control-label" })
                                        <div class="">
                                            @Html.DropDownListFor(m => m.Personnel.TaxTypeID, new SelectList(taxTypes, "ID", "Description"), new { @class = "form-control" })
                                        </div>
                                    </div>*@

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.NationalityID, new { @class = "control-label" })
                                            <div class="">
                                                @Html.DropDownListFor(m => m.Personnel.NationalityID, new SelectList(nationalities, "ID", "Description", Model.Personnel.NationalityID), "N/A", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* Contacts *@
                        @*<div class="row">
                        <div id="ContactsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                            <div class="panel-heading" style="padding: 5px 10px;">Contacts</div>
                            <div class="panel-body" style="padding: 10px;">
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3" title="@Html.DisplayNameFor(m => m.Personnel.MobileNo)">
                                        @Html.LabelFor(m => m.Personnel.MobileNo, new { @class = "control-label" })
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Personnel.MobileNo, new { @class = "form-control text-transform-none maskedInput", @placeholder = "9999-999-9999" })
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        @Html.LabelFor(m => m.Personnel.TelephoneNo, new { @class = "control-label" })
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Personnel.TelephoneNo, new { @class = "form-control text-transform-none maskedInput", @placeholder = "9-9999-999" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                        @if (ContactsTabAccess.View && Model.Personnel.ID > 0)
                        {
                            <div class="row">
                                <div id="ContactsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                    <div class="panel-heading" style="padding: 5px 10px;">Contacts</div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div class="">
                                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                @Html.LabelFor(m => m.Personnel.Email, new { @class = "control-label" })
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Personnel.Email, new { @class = "form-control text-transform-none email" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="padding: 0px 13px 0px 14px;">
                                            <div id="form-contacts">
                                                @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelContacts.cshtml")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @* Gov't IDs *@
                        <div class="row">
                            <div id="GovtIDsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                <div class="panel-heading" style="padding: 5px 10px;">Government IDs</div>
                                <div class="panel-body" style="padding: 10px;">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.SSS, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.SSS, new { @class = "form-control text-transform-none maskedInput", @placeholder = "99-9999999-9" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.Philhealth, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.Philhealth, new { @class = "form-control text-transform-none maskedInput", @placeholder = "99-999999999-9" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.PAGIBIG, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.PAGIBIG, new { @class = "form-control text-transform-none maskedInput", @placeholder = "9999-9999-9999" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.TIN, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.TIN, new { @class = "form-control text-transform-none maskedInput", @placeholder = "999-999-999-999" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* In case of emergency: *@
                        <div class="row">
                            <div id="EmergencyDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                <div class="panel-heading" style="padding: 5px 10px;">In case of emergency, please notify:</div>
                                <div class="panel-body" style="padding: 10px;">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                            @Html.LabelFor(m => m.Personnel.EmergencyContactPerson, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.EmergencyContactPerson, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-6 col-md-5 col-lg-5">
                                            @Html.LabelFor(m => m.Personnel.EmergencyContactAddress, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.EmergencyContactAddress, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.EmergencyContactNumber, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.EmergencyContactNumber, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* Dependents *@
                        @if (DependentsTabAccess.View && Model.Personnel.ID > 0)
                        {
                            <div class="row">
                                <div id="DependentsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                    <div class="panel-heading" style="padding: 5px 10px;">Dependents</div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div class="row" style="padding: 0px 13px 0px 14px;">
                                            <div id="form-dependents">
                                                @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelDependents.cshtml")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @* Details *@
                        <div class="row">
                            <div id="DetailsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                <div class="panel-heading" style="padding: 5px 10px;">Employment Details</div>
                                <div class="panel-body" style="padding: 10px;">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.DateHired, new { @class = "control-label" })
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                @Html.TextBoxFor(m => m.Personnel.DateHired, "{0:MM/dd/yyyy}", new { @class = "form-control text-transform-none" })
                                                <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.PersonnelTypeID, new { @class = "control-label" })
                                            <div class="">
                                                @Html.DropDownListFor(m => m.Personnel.PersonnelTypeID, new SelectList(personnelTypes, "ID", "Description"), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.EmploymentStatusId, new { @class = "control-label" })
                                            <div class="">
                                                @Html.DropDownListFor(m => m.Personnel.EmploymentStatusId, new SelectList(employmentStatuses, "ID", "Description", Model.Personnel.EmploymentStatusId), "N/A", new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.AdditionalHazardRate, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.AdditionalHazardRate, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.BiometricsID, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.BiometricsID, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.AutoOT, new { @class = "control-label" })
                                            <div class="">
                                                @Html.CheckBoxFor(m => m.Personnel.AutoOT, new { @class = "i-checks chkRow" })
                                            </div>
                                        </div>

                                        @*<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
            @Html.LabelFor(m => m.Personnel.Allowance, new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon input-group-addon-dropdown">
                    @Html.DropDownListFor(m => m.Personnel.AllowanceCurrencyID, new SelectList(currencies, "ID", "Description"), new { @class = "form-control" })
                </span>
                @Html.TextBoxFor(m => m.Personnel.Allowance, new { @class = "form-control text-transform-none moneyInput" })
            </div>
        </div>*@

                                        @*<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
            @Html.LabelFor(m => m.Personnel.Salary, new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon input-group-addon-dropdown">
                    @Html.DropDownListFor(m => m.Personnel.SalaryCurrencyID, new SelectList(currencies, "ID", "Description"), new { @class = "form-control" })
                </span>
                @Html.TextBoxFor(m => m.Personnel.Salary, new { @class = "form-control text-transform-none moneyInput" })
            </div>
        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* Departments, Positions, Locations *@
                        @if (EmploymentInfoTabAccess.View && Model.Personnel.ID > 0)
                        {
                            <div class="row">
                                <div id="DepartmentsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                    <div class="panel-heading" style="padding: 5px 10px;">Departments</div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div class="row" style="padding: 0px 13px 0px 14px;">
                                            <div id="form-departments">
                                                @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelDepartments.cshtml")
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="PositionsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                    <div class="panel-heading" style="padding: 5px 10px;">Positions</div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div class="row" style="padding: 0px 13px 0px 14px;">
                                            <div id="form-positions">
                                                @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelPositions.cshtml")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="PersonnelLocationsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                    <div class="panel-heading" style="padding: 5px 10px;">Assigned Locations</div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div class="row" style="padding: 0px 13px 0px 14px;">
                                            <div id="form-personnellocations">
                                                @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelAssignedLocations.cshtml")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="EmploymentTypesDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                    <div class="panel-heading" style="padding: 5px 10px;">Employment Types</div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div class="row" style="padding: 0px 13px 0px 14px;">
                                            <div id="form-employmenttypes">
                                                @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelEmploymentTypes.cshtml")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @*<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        @Html.LabelFor(m => m.Personnel.EmploymentTypeID, new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownListFor(m => m.Personnel.EmploymentTypeID, new SelectList(employmentTypes, "ID", "Description"), new { @class = "form-control" })
                        </div>
                    </div>

                                    @*<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                        @Html.LabelFor(m => m.Personnel.PersonnelLocationID, new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownListFor(m => m.Personnel.PersonnelLocationID, new SelectList(personnelLocations, "ID", "Description"), new { @class = "form-control" })
                        </div>
                    </div>*@

                        @* Resignation Details *@
                        <div class="row">
                            <div id="ResignationDetailsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                <div class="panel-heading" style="padding: 5px 10px;">Resignation Details</div>
                                <div class="panel-body" style="padding: 10px;">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3" id="data_1">
                                            @Html.LabelFor(m => m.Personnel.ResignationDate, new { @class = "control-label" })
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                @Html.TextBoxFor(m => m.Personnel.ResignationDate, "{0:MM/dd/yyyy}", new { @class = "form-control text-transform-none" })
                                                <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                            @Html.LabelFor(m => m.Personnel.ResignationRemarks, new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.ResignationRemarks, new { @class = "form-control text-transform-none" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (PersonnelTabAccess.Update)
                    {
                        <div class="save-button-bottom">
                            <button type="button" class="btn btn-primary btn-w-m font-bold-700 tab-save-btn" id="btnSavePersonalInfo" style="">Save Personal Info</button>
                        </div>
                    }
                </div>
            }

            @* Employment Info *@
            @if (EmploymentInfoTabAccess.View)
            {
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body" style="padding: 10px;">
                        @* Schedules *@
                        @if (SchedulesTabAccess.View)
                        {
                            <div class="row">
                                <div id="SchedulesDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                    <div class="panel-heading" style="padding: 5px 10px;">Schedules</div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div id="form-schedules">
                                            @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelSchedules.cshtml", Model.Personnel)
                                        </div>
                                    </div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                            @Html.LabelFor(m => m.Personnel.PayrollTypeID, new { @class = "control-label" })
                                            @Html.DropDownListFor(m => m.Personnel.PayrollTypeID, new SelectList(paytype, "ID", "Description", Model.Personnel.PayrollTypeID), "N/A", new { @class = "form-control required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*<div class="row">
                            <div id="SchedDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                <div class="panel-heading" style="padding: 5px 10px;">Schedule</div>
                                @*<div id="Days" class="panel-body" style="padding: 0px;">
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                        <label>Sunday</label>
                                        @Html.DropDownListFor(m => m.Personnel._Schedule.SundayScheduleID, new SelectList(sched, "ID", "Description", Model.Personnel._Schedule.CheckIfNull<PersonnelSchedule>().SundayScheduleID), "N/A", new { @class = "form-control required" })
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                        <label>Monday</label>
                                        @Html.DropDownListFor(m => m.Personnel._Schedule.MondayScheduleID, new SelectList(sched, "ID", "Description", Model.Personnel._Schedule.CheckIfNull<PersonnelSchedule>().MondayScheduleID), "N/A", new { @class = "form-control required" })
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                        <label>Tuesday</label>
                                        @Html.DropDownListFor(m => m.Personnel._Schedule.TuesdayScheduleID, new SelectList(sched, "ID", "Description", Model.Personnel._Schedule.CheckIfNull<PersonnelSchedule>().TuesdayScheduleID), "N/A", new { @class = "form-control required" })
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                        <label>Wednesday</label>
                                        @Html.DropDownListFor(m => m.Personnel._Schedule.WednesdayScheduleID, new SelectList(sched, "ID", "Description", Model.Personnel._Schedule.CheckIfNull<PersonnelSchedule>().WednesdayScheduleID), "N/A", new { @class = "form-control required" })
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                        <label>Thursday</label>
                                        @Html.DropDownListFor(m => m.Personnel._Schedule.ThursdayScheduleID, new SelectList(sched, "ID", "Description", Model.Personnel._Schedule.CheckIfNull<PersonnelSchedule>().ThursdayScheduleID), "N/A", new { @class = "form-control required" })
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                        <label>Friday</label>
                                        @Html.DropDownListFor(m => m.Personnel._Schedule.FridayScheduleID, new SelectList(sched, "ID", "Description", Model.Personnel._Schedule.CheckIfNull<PersonnelSchedule>().FridayScheduleID), "N/A", new { @class = "form-control required" })
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                        <label>Saturday</label>
                                        @Html.DropDownListFor(m => m.Personnel._Schedule.SaturdayScheduleID, new SelectList(sched, "ID", "Description", Model.Personnel._Schedule.CheckIfNull<PersonnelSchedule>().SaturdayScheduleID), "N/A", new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="panel-body" style="padding: 0px;">
                                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                        @Html.LabelFor(m => m.Personnel.PayrollTypeID, new { @class = "control-label" })
                                        @Html.DropDownListFor(m => m.Personnel.PayrollTypeID, new SelectList(paytype, "ID", "Description", Model.Personnel.PayrollTypeID), "N/A", new { @class = "form-control required" })
                                    </div>
                                </div>
                            </div>
                        </div>*@

                        @* Particulars *@
                        @if (LicenseTabAccess.View)
                        {
                            <div class="row">
                                <div id="LicensesDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                    <div class="panel-heading" style="padding: 5px 10px;">License</div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div id="form-particulars">
                                            @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelLicenses.cshtml")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @* Vaccines *@
                        @if (VaccinesTabAccess.View)
                        {
                            <div class="row">
                                <div id="VaccinesDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                    <div class="panel-heading" style="padding: 5px 10px;">Vaccines</div>
                                    <div class="panel-body" style="padding: 0px;">
                                        <div id="form-vaccines">
                                            @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelVaccines.cshtml")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @* Reference *@
                        <div class="row">
                            <div id="ReferenceDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                <div class="panel-heading" style="padding: 5px 10px;">Reference</div>
                                <div class="panel-body" style="padding: 0px;">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-3 col-md-3 col-lg-3" style="padding: 10px 15px 10px 30px; display: flex;">
                                            @Html.LabelFor(m => m.Personnel.WalkIn, new { @class = "control-label Personnel_WalkInSwitchLabel", @for = "Personnel_WalkIn" })
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Personnel.WalkIn, new { @class = "js-switch", @type = "checkbox" })
                                            </div>
                                        </div>

                                        <div id="ReferenceDiv">
                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(m => m.Personnel.ReferredBy, new { @class = "control-label" })
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Personnel.ReferredBy, new { @class = "form-control text-transform-none" })
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                @Html.LabelFor(m => m.Personnel.ReferenceContactNo, new { @class = "control-label" })
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Personnel.ReferenceContactNo, new { @class = "form-control text-transform-none maskedInput", @placeholder = "9999-999-9999" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* Vacation *@
                        @*<div class="row">
            <div id="VacationsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                <div class="panel-heading" style="padding: 5px 10px;">Vacations</div>
                <div class="panel-body" style="padding: 0px;">
                    <div class="row" style="padding: 0px 13px 0px 14px;">
                        <div id="form-vaccines">
                            @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelVacations.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
                    </div>

                    @if (PersonnelTabAccess.Update)
                    {
                        <div class="save-button-bottom">
                            <button type="button" class="btn btn-primary btn-w-m font-bold-700 tab-save-btn" id="btnSaveEmploymentInfo" style="">Save Employment Info</button>
                        </div>
                    }
                </div>
            }

            @* Educational Backgrounds *@
            @if (EducationalBackgroundsTabAccess.View)
            {
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body" style="padding: 10px;">
                        <div id="EducationalBackgroundsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                            <div class="panel-body" style="padding: 0px;">
                                <div class="row" style="padding: 0px 13px 0px 14px;">
                                    <div id="form-educbgs">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @* Work Experiences *@
            @if (WorkExperiencesTabAccess.View)
            {
                <div id="tab-4" class="tab-pane">
                    <div class="panel-body" style="padding: 10px;">
                        <div id="WorkExperiencesDiv" class="panel panel-primary" style="margin: 0px;">
                            <div id="form-workexps">
                            </div>
                        </div>
                    </div>
                </div>
            }

            @* Trainings *@
            @if (TrainingsAndSeminarsTabAccess.View)
            {
                <div id="tab-5" class="tab-pane">
                    <div class="panel-body" style="padding: 10px;">
                        <div id="TrainingsDiv" class="panel panel-primary" style="margin: 0px;">
                            <div id="form-trainings">
                            </div>
                        </div>
                    </div>
                </div>
            }

            @* Memos *@
            @if (MemoTabAccess.View)
            {
                <div id="tab-6" class="tab-pane">
                    <div class="panel-body" style="padding: 10px;">
                        <div id="form-memos" class="">
                            <div id="MemosDiv" class="panel panel-primary" style="margin: 0px;">
                                @*Html.Partial("~/Views/HumanResource/Personnel/_PersonnelMemos.cshtml")*@
                            </div>
                            <div id="MemoRepliesDiv" class="panel panel-info hidden" style="margin: 0px;">
                                <div class="panel-heading" style="padding: 5px 10px; font-size: 23px;">
                                    <button type="button" class="close" style="float: left; font-size: 30px; font-weight: 800; color: #fff; opacity: 1;">
                                        <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                    </button>
                                    &nbsp; Memo Replies
                                </div>
                                <div class="panel-body" style="padding: 0px;">
                                    <div class="chat-view">
                                        <div class="col-md-12 col-lg-offset-3 col-lg-6" style="padding: 0px;">
                                            <div class="chat-discussion"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @* Infractions *@
            @if (InfractionsTabAccess.View)
            {
                <div id="tab-7" class="tab-pane">
                    <div class="panel-body tab-panel-body" style="width: 100%; overflow-y: auto; padding: 10px;">
                        <div id="form-legislation" class="">
                            <div id="LegislationsDiv" class="panel panel-primary" style="margin: 0px;">
                                @*Html.Partial("~/Views/HumanResource/Personnel/_PersonnelLegislations.cshtml")*@
                            </div>
                            <div id="LegislationRepliesDiv" class="panel panel-info hidden" style="margin: 0px;">
                                <div class="panel-heading" style="padding: 5px 10px; font-size: 23px;">
                                    <button type="button" class="close" style="float: left; font-size: 30px; font-weight: 800; color: #fff; opacity: 1;">
                                        <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                    </button>
                                    &nbsp; Infraction Replies
                                </div>
                                <div class="panel-body" style="padding: 0px;">
                                    <div class="chat-view">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @* Compensation and Deductions *@
            @if (CompensationsTabAccess.View || DeductionsTabAccess.View)
            {
                <div id="tab-8" class="tab-pane">
                    <div class="panel-body tab-panel-body" style="width: 100%;">
                        <div id="form-compded">

                        </div>
                    </div>
                </div>
            }

            @* Leave Credits *@
            @if (LeaveCreditsTabAccess.View)
            {
                <div id="tab-9" class="tab-pane">
                    <div class="panel-body" style="padding: 10px;">
                        <div class="row">
                            <div id="leavecreditsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                <div class="panel-heading" style="padding: 5px 10px;">Leave Credits</div>
                                <div class="panel-body" style="padding: 0px;">
                                    <div class="row" style="padding: 0px 13px 0px 14px;">
                                        <div id="form-leavecredits">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @* Loans *@
            @if (LoansTabAccess.View)
            {
                <div id="tab-10" class="tab-pane">
                    <div class="panel-body" style="padding: 10px;">
                        <div class="row">
                            <div id="loansDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                <div class="panel-heading" style="padding: 5px 10px;">Loans</div>
                                <div class="panel-body" style="padding: 0px;">
                                    <div class="row" style="padding: 0px 13px 0px 14px;">
                                        <div id="form-loans">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body" style="padding: 10px;">
                        <div class="row">
                            <div id="loandetailsDiv" class="panel panel-primary" style="margin: 0px 15px 5px 15px;">
                                <div class="panel-heading" style="padding: 5px 10px;">Payroll Deducted</div>
                                <div class="panel-body" style="padding: 0px;">
                                    <div class="row" style="padding: 0px 13px 0px 14px;">
                                        <div id="form-loan-details" class="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        changeSwitchState('#Personnel_WalkIn',
            @(Model.Personnel.WalkIn.HasValue &&  Model.Personnel.WalkIn.Value ? "true" : "false"));
        HideOptions('.licenseTypeID', '.licenseTypes');
        HideOptions('.vaccineTypeID', '.vaccineTypes');

        $('#FromMonth, #ToMonth').next('span').css({
            'float': 'left',
            'width': '50%'
        });
        $('#FromYear, #ToYear').next('span').css({
            'width': '50%'
        });
    })                                               
</script>