@model ProcessLayer.Entities.PersonnelAssignedLocation
@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var AssignedLocationsPageAccess = credential.GetPage("Assigned Locations") ?? new DataAccessLayer.System.Page();

    var locations = ProcessLayer.Processes.LocationProcess.Instance.Value.GetList();
}

<tr id="Row-Display-AssignedLocation-@Model.ID" class="Row-Display">
    <td class="hidden">
        <input type="hidden" value="@Model.PersonnelID" name="PersonnelID" />
    </td>
    <td style="text-align: center;">@Model._Location.Description</td>
    <td style="text-align: center;">@(String.Format("{0:MMMM dd, yyyy}", Model.StartDate))</td>
    <td style="text-align: center;">@(String.Format("{0:MMMM dd, yyyy}", Model.EndDate))</td>
    @if (AssignedLocationsPageAccess.Update || AssignedLocationsPageAccess.Delete)
    {
        <td style="text-align: center;">
            <div class="">
                @if (AssignedLocationsPageAccess.Delete)
                {
                    <button type="button" name="DeleteAssignedLocation" class="btn btn-outline btn-danger btn-sm btn-rounded DeleteAssignedLocation hidden" value="@Model.ID" title="Delete"><i class="fa fa-trash"></i></button>
                }
                @if (AssignedLocationsPageAccess.Update)
                {
                    <button type="button" name="EditAssignedLocation" class="btn btn-info btn-sm btn-rounded EditAssignedLocation TableEditButton" value="@Model.ID" title="Edit"><i class="fa fa-pencil"></i></button>
                }
            </div>
        </td>
    }
</tr>
<tr id="Row-Input-AssignedLocation-@Model.ID" class="Row-Input hidden">
    <td style="text-align: center;">
        <input type="hidden" value="@Model.LocationID" name="HiddenAssignedLocationID" />
        @Html.DropDownListFor(m => m.LocationID, new SelectList(locations, "ID", "Description", Model.LocationID), "N/A", new { @class = "form-control" })
    </td>
    <td style="text-align: center;">
        <input type="hidden" value="@Model.PersonnelID" name="PersonnelID" />
        <input type="hidden" value="@Model.StartDate" name="HiddenStartDate" />
        @Html.TextBox("StartDate", String.Format("{0:yyyy'-'MM'-'dd}", Model.StartDate), new { @type = "date", @class = "form-control" })
        @*<div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            @Html.TextBoxFor(m => m.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control text-transform-none" })
            <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
        </div>*@
    </td>
    <td style="text-align: center;">
        <input type="hidden" value="@Model.EndDate" name="HiddenEndDate" />
        @Html.TextBox("EndDate", String.Format("{0:yyyy'-'MM'-'dd}", Model.EndDate), new { @type = "date", @class = "form-control" })
        @*<div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            @Html.TextBoxFor(m => m.EndDate, "{0:MM/dd/yyyy}", new { @class = "form-control text-transform-none" })
            <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
        </div>*@
    </td>
    @if (AssignedLocationsPageAccess.Update)
    {
        <td style="text-align: center;">
            <div class="btn-group">
                <button type="button" name="CancelAssignedLocation" class="btn btn-outline btn-danger btn-sm btn-rounded CancelAssignedLocation TableCancelButton" value="@Model.ID" title="Cancel"><i class="fa fa-times"></i></button>
                <button type="button" name="SaveAssignedLocation" class="btn btn-info btn-sm btn-rounded SaveAssignedLocation TableSaveButton" value="@Model.ID" title="Save"><i class="fa fa-save"></i></button>
            </div>
        </td>
    }
</tr>

