@model ProcessLayer.Entities.ContactNumber
@{
    var contactnotypes = ProcessLayer.Processes.LookupProcess.GetContactNoType();
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var ContactsPageAccess = credential.GetPage("Contacts") ?? new DataAccessLayer.System.Page();
}

<tr id="Row-Display-Contact-@Model.ID" class="Row-Display">
    <td class="hidden">
        <input type="hidden" value="@Model.PersonnelID" name="PersonnelID" />
    </td>
    <td style="text-align: center;">@contactnotypes.Where(c => c.ID == Model.ContactNoTypeID).Select(c => c.Description).FirstOrDefault()</td>
    <td style="text-align: center;">@Model.Number</td>
    @if (ContactsPageAccess.Update || ContactsPageAccess.Delete)
    {
        <td style="text-align: center;">
            <div class="btn-group">
                @if (ContactsPageAccess.Delete)
                {
                    <button type="button" name="DeleteContactNumber" class="btn btn-outline btn-danger btn-sm btn-rounded DeleteContact TableDeleteButton" value="@Model.ID" title="Delete"><i class="fa fa-trash"></i></button>
                }
                @if (ContactsPageAccess.Update)
                {
                    <button type="button" name="EditContactNumber" class="btn btn-info btn-sm btn-rounded EditContact TableEditButton" value="@Model.ID" title="Edit"><i class="fa fa-pencil"></i></button>
                }
            </div>
        </td>
    }
</tr>
<tr id="Row-Input-Contact-@Model.ID" class="Row-Input hidden">
    <td class="hidden">
        <input type="hidden" value="@Model.PersonnelID" name="PersonnelID" />
    </td>
    <td style="text-align: center;">
        @Html.DropDownListFor(m => m.ContactNoTypeID, new SelectList(contactnotypes, "ID", "Description", Model.ContactNoTypeID), "N/A", new { @class = "form-control" })
    </td>
    <td style="text-align: center;">
        @Html.TextBoxFor(m => m.Number, new { @class = "form-control text-transform-none" })
    </td>
    @if (ContactsPageAccess.Update)
    {
        <td style="text-align: center;">
            <div class="btn-group">
                <button type="button" name="CancelContactNumber" class="btn btn-outline btn-danger btn-sm btn-rounded CancelContact TableCancelButton" value="@Model.ID" title="Cancel"><i class="fa fa-times"></i></button>
                <button type="button" name="SaveContactNumber" class="btn btn-info btn-sm btn-rounded SaveContact TableSaveButton" value="@Model.ID" title="Save"><i class="fa fa-save"></i></button>
            </div>
        </td>
    }
</tr>

