@model ProcessLayer.Entities.PersonnelSchedule
@using WebTemplate.Extension
@using ProcessLayer.Entities

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var SchedulesTabAccess = credential.GetPage("Schedules") ?? new DataAccessLayer.System.Page();

    var sched = ProcessLayer.Processes.Lookups.ScheduleTypeProcess.Instance.GetList();
    var isExpired = ""; //Model.EffectivityDate.Value.Date < DateTime.Now.Date ? " bg-muted text-muted" : "";
}


<tr id="Row-Display-Schedule-@Model.ID" class="Row-Display@(isExpired)" title="@(isExpired.Length > 0 ? "Expired" : "")">
    <td class="hidden">
        <input type="hidden" value="@Model.PersonnelID" name="PersonnelID" />
    </td>
    <td style="text-align: center;" nowrap>@(sched.Where(m => m.ID == Model.SundayScheduleID).Select(m => m.Description).FirstOrDefault() ?? "OFF")</td>
    <td style="text-align: center;" nowrap>@(sched.Where(m => m.ID == Model.MondayScheduleID).Select(m => m.Description).FirstOrDefault() ?? "OFF")</td>
    <td style="text-align: center;" nowrap>@(sched.Where(m => m.ID == Model.TuesdayScheduleID).Select(m => m.Description).FirstOrDefault() ?? "OFF")</td>
    <td style="text-align: center;" nowrap>@(sched.Where(m => m.ID == Model.WednesdayScheduleID).Select(m => m.Description).FirstOrDefault() ?? "OFF")</td>
    <td style="text-align: center;" nowrap>@(sched.Where(m => m.ID == Model.ThursdayScheduleID).Select(m => m.Description).FirstOrDefault() ?? "OFF")</td>
    <td style="text-align: center;" nowrap>@(sched.Where(m => m.ID == Model.FridayScheduleID).Select(m => m.Description).FirstOrDefault() ?? "OFF")</td>
    <td style="text-align: center;" nowrap>@(sched.Where(m => m.ID == Model.FridayScheduleID).Select(m => m.Description).FirstOrDefault() ?? "OFF")</td>
    <td style="text-align: center;" nowrap>@String.Format("{0:MM/dd/yyyy}", Model.EffectivityDate)</td>
    @if ((SchedulesTabAccess.Update || SchedulesTabAccess.Delete) && isExpired.Length == 0)
    {
        <td style="text-align: center; width: 140px;">
            <div class="btn-group" nowrap>
                @if (SchedulesTabAccess.Delete)
                {
                    <button type="button" name="DeleteSchedule" class="btn btn-outline btn-danger btn-sm btn-rounded DeleteSchedule TableDeleteButton" value="@Model.ID" title="Delete"><i class="fa fa-trash"></i></button>
                }
                @if (SchedulesTabAccess.Update)
                {
                    <button type="button" name="EditSchedule" class="btn btn-info btn-sm btn-rounded EditSchedule TableEditButton" value="@Model.ID" title="Edit"><i class="fa fa-pencil"></i></button>
                }
            </div>
        </td>
    }
</tr>
<tr id="Row-Input-Schedule-@Model.ID" class="Row-Input hidden">
    <td class="hidden">
        <input type="hidden" value="@Model.PersonnelID" name="PersonnelID" />
    </td>
    <td style="text-align: center;">
        @Html.DropDownList("SundayScheduleID", new SelectList(sched, "ID", "Description", Model.CheckIfNull<PersonnelSchedule>().SundayScheduleID), "N/A", new { @class = "form-control" })
    </td>
    <td style="text-align: center;">
        @Html.DropDownList("MondayScheduleID", new SelectList(sched, "ID", "Description", Model.CheckIfNull<PersonnelSchedule>().MondayScheduleID), "N/A", new { @class = "form-control" })
    </td>
    <td style="text-align: center;">
        @Html.DropDownList("TuesdayScheduleID", new SelectList(sched, "ID", "Description", Model.CheckIfNull<PersonnelSchedule>().TuesdayScheduleID), "N/A", new { @class = "form-control" })
    </td>
    <td style="text-align: center;">
        @Html.DropDownList("WednesdayScheduleID", new SelectList(sched, "ID", "Description", Model.CheckIfNull<PersonnelSchedule>().WednesdayScheduleID), "N/A", new { @class = "form-control" })
    </td>
    <td style="text-align: center;">
        @Html.DropDownList("ThursdayScheduleID", new SelectList(sched, "ID", "Description", Model.CheckIfNull<PersonnelSchedule>().ThursdayScheduleID), "N/A", new { @class = "form-control" })
    </td>
    <td style="text-align: center;">
        @Html.DropDownList("FridayScheduleID", new SelectList(sched, "ID", "Description", Model.CheckIfNull<PersonnelSchedule>().FridayScheduleID), "N/A", new { @class = "form-control" })
    </td>
    <td style="text-align: center;">
        @Html.DropDownList("SaturdayScheduleID", new SelectList(sched, "ID", "Description", Model.CheckIfNull<PersonnelSchedule>().SaturdayScheduleID), "N/A", new { @class = "form-control" })
    </td>
    <td style="text-align: center;">
        @Html.TextBoxFor(m => m.EffectivityDate, String.Format("{0:yyyy'-'MM'-'dd}", Model.EffectivityDate), new { @type = "date", @class = "form-control" })
    </td>
    <td style="text-align: center; width: 140px;">
        <div class="btn-group">
            <button type="button" name="CancelSchedule" class="btn btn-outline btn-danger btn-sm btn-rounded CancelSchedule TableCancelButton" value="@Model.ID" title="Cancel"><i class="fa fa-times"></i></button>
            <button type="button" name="SaveSchedule" class="btn btn-info btn-sm btn-rounded SaveSchedule TableSaveButton" value="@Model.ID" title="Save"><i class="fa fa-save"></i></button>
        </div>
    </td>
