@model WebTemplate.Models.Personnel.PolicyAndProcedures

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var MemoPageAccess = credential.GetPage("Memo") ?? new DataAccessLayer.System.Page();
}

<div class="" style="">
    <table id="MemosTable" class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th class="text-left">No.</th>
                <th class="text-center">Date</th>
                <th class="text-center">Acknowledge</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PolicyAndProcedureList.Count() > 0)
            {
                for (int i = 0; i < Model.PolicyAndProcedureList.Count(); i++)
                {
                    <tr id="@Model.PolicyAndProcedureList[i].PersonnelPolicyAndProcedureId" class="Row-Display Row-Display-MemoArchive read policyandprocedure-record" title="Click to open record" style="cursor:pointer">
                        <td class="text-left">
                            <input hidden class="MemoNo" value="@Model.PolicyAndProcedureList[i].MemoNo" />
                            <input hidden class="Subject" value="@Model.PolicyAndProcedureList[i].Subject" />
                            <b style="font-size: 10px;">@Model.PolicyAndProcedureList[i].MemoNo</b>
                            <br />
                            <text class="font-bold-500" style="font-size: 10px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
                                @(!String.IsNullOrEmpty(Model.PolicyAndProcedureList[i].Description) ? Model.PolicyAndProcedureList[i].Description : "")
                            </text>
                        </td>
                        <td class="text-center mail-date" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px;">@String.Format("{0:MMM dd, yyyy}", Model.PolicyAndProcedureList[i].MemoDate)</td>
                        <td style="" class="text-center row-actions">
                            <div class="memo-status">
                                <span >@(Model.PolicyAndProcedureList[i].Acknowledge == true ? "Done" : "Not Yet")</span>
                               
                            </div>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr id="No-Row-Display"><td style="text-align: center;" colspan="10">No records found...</td></tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>