@model WebTemplate.Models.Personnel.Management
@{
    var contactnotypes = ProcessLayer.Processes.LookupProcess.GetContactNoType();
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var ContactsPageAccess = credential.GetPage("Contacts") ?? new DataAccessLayer.System.Page();
}


<!--<div class="table-container table-full-page">
    <div class="table-container-header">
        <table class="ui selectable compact celled striped table table-bordered">
            <thead>
                <tr>
                    <th>Contact Type</th>
                    <th>Number</th>
                   if (ContactsPageAccess.Update || ContactsPageAccess.Delete)
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-container-body">
        <table class="ui selectable compact celled striped table table-bordered">
            <colgroup>
                <col style="width: 250px;" />
                <col style="width: 250px;" />
                <col style="width: 50px;" />
            </colgroup>
            <tbody>
                if (Model.Personnel._ContactNumbers.Any())
                {
                    for (int i = 0; i < Model.Personnel._ContactNumbers.Count(); i++)
                    {
                        Html.Partial("~/Views/HumanResource/Personnel/_PersonnelContact.cshtml", Model.Personnel._ContactNumbers[i])
                    }
                }
                else
                {
                    <tr id="No-Row-Display"><td style="text-align: center;" colspan="6">No Contacts found...</td></tr>
                }
            </tbody>
        </table>
    </div>-->
    @*<div class="table-container-footer">
            <table class="ui compact celled striped table table-bordered">
                <tfoot>
                    @if (ContactsPageAccess.Insert)
                    {
                        <tr id="Row-Input-Contact-0" class="Row-Input">
                            <td style="text-align: center;">
                                @Html.DropDownList("ContactNoTypeID", new SelectList(contactnotypes, "ID", "Description", 0), "N/A", new { @class = "form-control" })
                            </td>
                            <td style="text-align: center;">
                                <input type="text" name="Number" class="form-control text-transform-none" placeholder="Number..." />
                            </td>
                            <td style="text-align: center;">
                                <div class="btn-group" style="">
                                    <button type="button" name="CancelContact" class="btn btn-outline btn-danger btn-sm btn-rounded CancelContact" value="0" title="Clear"><i class="fa fa-times"></i></button>
                                    <button type="button" name="SaveContact" class="btn btn-info btn-sm btn-rounded SaveContact TableSaveButton" value="0" title="Add"><i class="fa fa-plus"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tfoot>
            </table>
        </div>*@
<!--</div>-->

<div class="table-responsive table-scroll" style="">
    <table id="ContactNumbersTable" class="table table-stripped table-bordered table-fixed">
        <thead>
            <tr>
                <th style="text-align: center;">Contact No Type</th>
                <th style="text-align: center;">Number</th>
                @if (ContactsPageAccess.Update || ContactsPageAccess.Delete)
                {
                    <th style="text-align: center;">Action</th>
                }
            </tr>
        </thead>
        <colgroup>
            <col style="width: 250px;" />
            <col style="width: 250px;" />
            <col style="width: 50px;" />
        </colgroup>
        <tbody>
            @if (Model.Personnel._ContactNumbers.Count() > 0)
            {
                for (int i = 0; i < Model.Personnel._ContactNumbers.Count(); i++)
                {
                    //Html.Partial("~/Views/HumanResource/Personnel/_PersonnelContact.cshtml", Model.Personnel._ContactNumbers[i])
                    <tr id="Row-Display-ContactNumber-@Model.Personnel._ContactNumbers[i].ID" class="Row-Display">
                        <td class="hidden">
                            <input type="hidden" value="@Model.Personnel._ContactNumbers[i].PersonnelID" name="PersonnelID" />
                        </td>
                        <td style="text-align: center;">@contactnotypes.Where(c => c.ID == Model.Personnel._ContactNumbers[i].ContactNoTypeID).Select(c => c.Description).FirstOrDefault()</td>
                        <td style="text-align: center;">@Model.Personnel._ContactNumbers[i].Number</td>
                        @if (ContactsPageAccess.Update || ContactsPageAccess.Delete)
                        {
                            <td style="text-align: center;">
                                <div class="btn-group">
                                    @if (ContactsPageAccess.Delete)
                                    {
                                        <button type="button" name="DeleteContactNumber" class="btn btn-outline btn-danger btn-sm btn-rounded DeleteContact TableDeleteButton" value="@Model.Personnel._ContactNumbers[i].ID" title="Delete"><i class="fa fa-trash"></i></button>
                                    }
                                    @if (ContactsPageAccess.Update)
                                    {
                                        <button type="button" name="EditContactNumber" class="btn btn-info btn-sm btn-rounded EditContact TableEditButton" value="@Model.Personnel._ContactNumbers[i].ID" title="Edit"><i class="fa fa-pencil"></i></button>
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                    <tr id="Row-Input-ContactNumber-@Model.Personnel._ContactNumbers[i].ID" class="Row-Input hidden">
                        <td class="hidden">
                            <input type="hidden" value="@Model.Personnel._ContactNumbers[i].PersonnelID" name="PersonnelID" />
                        </td>
                        <td style="text-align: center;">
                            @Html.DropDownList("ContactNoTypeID", new SelectList(contactnotypes, "ID", "Description", Model.Personnel._ContactNumbers[i].ContactNoTypeID), "N/A", new { @class = "form-control" })
                        </td>
                        <td style="text-align: center;">
                            @Html.TextBox("Number", Model.Personnel._ContactNumbers[i].Number, new { @class = "form-control text-transform-none" })
                        </td>
                        @if (ContactsPageAccess.Update)
                        {
                            <td style="text-align: center;">
                                <div class="btn-group">
                                    <button type="button" name="CancelContactNumber" class="btn btn-outline btn-danger btn-sm btn-rounded CancelContact TableCancelButton" value="@Model.Personnel._ContactNumbers[i].ID" title="Cancel"><i class="fa fa-times"></i></button>
                                    <button type="button" name="SaveContactNumber" class="btn btn-info btn-sm btn-rounded SaveContact TableSaveButton" value="@Model.Personnel._ContactNumbers[i].ID" title="Save"><i class="fa fa-save"></i></button>
                                </div>
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr id="No-Row-Display"><td style="text-align: center;" colspan="6">No Contacts found...</td></tr>
            }
        </tbody>
        <tfoot>
            @if (ContactsPageAccess.Insert)
            {
                <tr id="Row-Input-ContactNumber-0" class="Row-Input">
                        <td class="hidden">
                            <input type="hidden" value="@Model.Personnel.ID" name="PersonnelID" />
                        </td>
                    <td style="text-align: center;">
                        @Html.DropDownList("ContactNoTypeID", new SelectList(contactnotypes, "ID", "Description", 0), "N/A", new { @class = "form-control" })
                    </td>
                    <td style="text-align: center;">
                        <input type="text" name="Number" class="form-control text-transform-none" placeholder="Number..." />
                    </td>
                    <td style="text-align: center;">
                        <div class="btn-group" style="">
                            <button type="button" name="CancelContactNumber" class="btn btn-outline btn-danger btn-sm btn-rounded TableCancelButton" value="0" title="Clear"><i class="fa fa-times"></i></button>
                            <button type="button" name="SaveContactNumber" class="btn btn-info btn-sm btn-rounded SaveContact TableSaveButton" value="0" title="Add"><i class="fa fa-plus"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </tfoot>
    </table>
</div>