@model WebTemplate.Models.Personnel.CompensationsAndDeductions
@{
    var deductions = ProcessLayer.Processes.LookupProcess.GetDeduction(withGovernmentDeduction: false);
    var currencies = ProcessLayer.Processes.LookupProcess.GetCurrency();

    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var DeductionsPageAccess = credential.GetPage("Deductions") ?? new DataAccessLayer.System.Page();
}


<div class="table-responsive table-scroll" style="">
    @if (Model.AssumedDeductions.Count() > 0)
    {
        for (int i = 0; i < Model.AssumedDeductions.Count(); i++)
        {
            <table id="DeductionsTable" class="table table-stripped table-bordered" style="margin-bottom: 1em !important;">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 25%;">Description</th>
                        @if (Model.AssumedDeductions[i].Columns == 1)
                        {
                            <th style="text-align: center; width: 25%;">Amount</th>
                        }
                        else if (Model.AssumedDeductions[i].Columns > 1)
                        {
                            <th style="text-align: center; width: 25%;">PS</th>
                            <th style="text-align: center; width: 25%;">ES</th>
                            if (Model.AssumedDeductions[i].Columns > 2)
                            {
                                <th style="text-align: center; width: 25%;">EC</th>
                            }
                            else
                            {
                                <th style="text-align: center; width: 25%;"></th>
                            }
                        }
                        else
                        {
                            <th style="text-align: center; width: 25%;" colspan="2"></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr id="Row-Display-AssumedDeduction-@i" class="Row-Display">
                        <td class="hidden">
                            <input type="hidden" value="@Model.PersonnelID" name="PersonnelID" />
                        </td>
                        <td style="text-align: center;">
                            @Model.AssumedDeductions[i].Description
                        </td>
                        <td style="text-align: center;">
                            @(Model.AssumedDeductions[i].PS.ToString("#,##0.00") ?? "-")
                        </td>
                        @if (Model.AssumedDeductions[i].Columns > 1)
                        {
                            <td style="text-align: center;">
                                @(Model.AssumedDeductions[i].ES.ToString("#,##0.00") ?? "-")
                            </td>
                            if (Model.AssumedDeductions[i].Columns > 2)
                            {
                                <td style="text-align: center;">
                                    @(Model.AssumedDeductions[i].EC.ToString("#,##0.00") ?? "-")
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        else
                        {
                            <td colspan="2"></td>
                        }
                    </tr>
                </tbody>
            </table>
        }
    }
    else
    {
        //<tr id="No-Row-Display"><td style="text-align: center;" colspan="10">No Assumed Deductions found...</td></tr>
    }
</div>