@model WebTemplate.Models.Personnel.Management
@{
    var licenseTypes = ProcessLayer.Processes.LookupProcess.GetLicenseType();
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var LicensePageAccess = credential.GetPage("License") ?? new DataAccessLayer.System.Page();
}

<div class="table-responsive table-scroll" style="">
    <table id="LicensesTable" class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th class="text-center">License Type</th>
                <th class="text-center">License Number</th>
                @*<th class="text-center">Perpetual</th>*@
                <th class="text-center">Validity Date</th>
                @if (LicensePageAccess.Update || LicensePageAccess.Delete)
                {
                    <th style="text-align: center; width: 9.7%;">Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Personnel._Licenses.Count() > 0)
            {
                for (int i = 0; i < Model.Personnel._Licenses.Count(); i++)
                {
                    //Html.Partial("~/Views/HumanResource/Personnel/_PersonnelLicense.cshtml", Model.Personnel._Licenses[i])

                    <tr id="Row-Display-License-@Model.Personnel._Licenses[i].ID" class="Row-Display">
                        <td class="hidden">
                            <input type="hidden" value="@Model.Personnel._Licenses[i].PersonnelID" name="PersonnelID" />
                        </td>
                        <td class="hidden">
                            <input type="hidden" value="@Model.Personnel._Licenses[i].LicenseTypeID" class="licenseTypeID" />
                        </td>
                        <td style="text-align: center;">@(Model.Personnel._Licenses[i]._LicenseType == null ? "" : (string.IsNullOrEmpty(Model.Personnel._Licenses[i]._LicenseType.Description) ? "" : Model.Personnel._Licenses[i]._LicenseType.Description))</td>
                        <td style="text-align: center;">@Model.Personnel._Licenses[i].LicenseNo</td>
                        <td style="text-align: center;">@(!String.IsNullOrEmpty(Model.Personnel._Licenses[i].ExpirationDate.ToString()) ? Model.Personnel._Licenses[i].ExpirationDate.Value.ToString("MMMM dd, yyyy") : "N/A")</td>
                        @if (LicensePageAccess.Update || LicensePageAccess.Delete)
                        {
                            <td style="text-align: center; width: 14.6%;">
                                <div class="btn-group">
                                    @if (LicensePageAccess.Delete)
                                    {
                                        <button type="button" name="DeleteLicense" class="btn btn-outline btn-danger btn-sm btn-rounded DeleteLicense TableDeleteButton" value="@Model.Personnel._Licenses[i].ID" title="Delete"><i class="fa fa-trash"></i></button>
                                    }
                                    @if (LicensePageAccess.Update)
                                    {
                                        <button type="button" name="EditLicense" class="btn btn-info btn-sm btn-rounded EditLicense TableEditButton" value="@Model.Personnel._Licenses[i].ID" title="Edit"><i class="fa fa-pencil"></i></button>
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                    <tr id="Row-Input-License-@Model.Personnel._Licenses[i].ID" class="Row-Input hidden">
                        <td class="hidden">
                            <input type="hidden" value="@Model.Personnel._Licenses[i].PersonnelID" name="PersonnelID" />
                        </td>
                        <td style="text-align: center;">
                            @Html.DropDownListFor(m => m.Personnel._Licenses[i].LicenseTypeID, new SelectList(licenseTypes, "ID", "Description", Model.Personnel._Licenses[i].LicenseTypeID), "N/A", new { @class = "form-control licenseTypes" })
                        </td>
                        <td style="text-align: center;">
                            @Html.TextBoxFor(m => m.Personnel._Licenses[i].LicenseNo, new { @class = "form-control text-transform-none" })
                        </td>
                        <td style="text-align: center;">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.TextBoxFor(m => m.Personnel._Licenses[i].ExpirationDate, "{0:MM/dd/yyyy}", new { @class = "form-control text-transform-none" })
                                <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
                            </div>
                        </td>
                        @if (LicensePageAccess.Update)
                        {
                            <td style="text-align: center; width: 14.2%;">
                                <div class="btn-group">
                                    <button type="button" name="CancelLicense" class="btn btn-outline btn-danger btn-sm btn-rounded CancelLicense TableCancelButton" value="@Model.Personnel._Licenses[i].ID" title="Cancel"><i class="fa fa-times"></i></button>
                                    <button type="button" name="SaveLicense" class="btn btn-info btn-sm btn-rounded SaveLicense TableSaveButton" value="@Model.Personnel._Licenses[i].ID" title="Save"><i class="fa fa-save"></i></button>
                                </div>
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
            <tr id="No-Row-Display"><td style="text-align: center;" colspan="6">No Licenses found...</td></tr>
            }
            </tbody>
        <tfoot>
            @if (LicensePageAccess.Insert)
            {
                <tr id="Row-Input-License-0" class="Row-Input">
                    <td style="text-align: center; width: 18%;">
                        <input type="hidden" name="PersonnelID" class="PersonnelID" value="@Model.Personnel.ID" />
                        @Html.DropDownList("LicenseTypeID", new SelectList(licenseTypes, "ID", "Description"), "N/A", new { @class = "form-control licenseTypes" })
                    </td>
                    <td style="text-align: center; width: 18%;">
                        <input type="text" name="LicenseNo" class="form-control text-transform-none" placeholder="License No" />
                    </td>
                    <td style="text-align: center; width: 18%;">
                        <div class="input-group date" title="Expiration Date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" name="ExpirationDate" class="form-control text-transform-none" />
                            <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
                        </div>
                    </td>
                    <td style="text-align: center; width: 9.8%;">
                        <div class="btn-group" style="">
                            <button type="button" name="CancelLicense" class="btn btn-outline btn-danger btn-sm btn-rounded CancelLicense TableCancelButton" value="0" title="Clear"><i class="fa fa-times"></i></button>
                            <button type="button" name="SaveLicense" class="btn btn-info btn-sm btn-rounded SaveLicense TableSaveButton" value="0" title="Add"><i class="fa fa-plus"></i></button>
                        </div>
                    </td>
                </tr>
            }
            </tfoot>
    </table>
</div>