@model ProcessLayer.Entities.Personnel
@using WebTemplate.Extension
@using ProcessLayer.Entities

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var SchedulesTabAccess = credential.GetPage("Schedules") ?? new DataAccessLayer.System.Page();

    var sched = ProcessLayer.Processes.Lookups.ScheduleTypeProcess.Instance.GetList();
    var ordered = Model._Schedules.OrderByDescending(m => m.EffectivityDate).ToList();
}

<div class="table-responsive table-scroll" style="">
    <table id="SchedulesTable" class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Sunday</th>
                <th class="text-center">Monday</th>
                <th class="text-center">Tuesday</th>
                <th class="text-center">Wednesday</th>
                <th class="text-center">Thursday</th>
                <th class="text-center">Friday</th>
                <th class="text-center">Saturday</th>
                <th class="text-center">Validity Date</th>
                @if (SchedulesTabAccess.Update || SchedulesTabAccess.Delete)
                {
                    <th style="text-align: center; width: 140px;">Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (ordered.Count() > 0)
            {
                for (int i = 0; i < ordered.Count(); i++)
                {
                    //Html.Partial("~/Views/HumanResource/Personnel/_PersonnelSchedule.cshtml", ordered[i])
                    var isExpired = ""; //ordered[i].EffectivityDate.Value.Date < DateTime.Now.Date ? " bg-muted text-muted" : "";

            <tr id="Row-Display-Schedule-@ordered[i].ID" class="Row-Display@(isExpired)" title="@(isExpired.Length > 0 ? "Expired" : "")">
                        <td class="hidden">
                            <input type="hidden" value="@ordered[i].PersonnelID" name="PersonnelID" />
                        </td>
                        <td style="text-align: center;" nowrap>@(ordered[i]._SundaySchedule.Description ?? "OFF")</td>
                        <td style="text-align: center;" nowrap>@(ordered[i]._MondaySchedule.Description ?? "OFF")</td>
                        <td style="text-align: center;" nowrap>@(ordered[i]._TuesdaySchedule.Description ?? "OFF")</td>
                        <td style="text-align: center;" nowrap>@(ordered[i]._WednesdaySchedule.Description ?? "OFF")</td>
                        <td style="text-align: center;" nowrap>@(ordered[i]._ThursdaySchedule.Description ?? "OFF")</td>
                        <td style="text-align: center;" nowrap>@(ordered[i]._FridaySchedule.Description ?? "OFF")</td>
                        <td style="text-align: center;" nowrap>@(ordered[i]._SaturdaySchedule.Description ?? "OFF")</td>
                        <td style="text-align: center;" nowrap>@String.Format("{0:MM/dd/yyyy}", ordered[i].EffectivityDate)</td>
                        <td style="text-align: center; width: 140px;">
                            @if ((SchedulesTabAccess.Update || SchedulesTabAccess.Delete) && isExpired.Length == 0)
                            {
                                <div class="btn-group" nowrap>
                                    @if (SchedulesTabAccess.Delete)
                                    {
                                        <button type="button" name="DeleteSchedule" class="btn btn-outline btn-danger btn-sm btn-rounded DeleteSchedule TableDeleteButton" value="@ordered[i].ID" title="Delete"><i class="fa fa-trash"></i></button>
                                    }
                                    @if (SchedulesTabAccess.Update)
                                    {
                                        <button type="button" name="EditSchedule" class="btn btn-info btn-sm btn-rounded EditSchedule TableEditButton" value="@ordered[i].ID" title="Edit"><i class="fa fa-pencil"></i></button>
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                    <tr id="Row-Input-Schedule-@ordered[i].ID" class="Row-Input hidden">
                        <td class="hidden">
                            <input type="hidden" value="@ordered[i].PersonnelID" name="PersonnelID" />
                        </td>
                        <td style="text-align: center;">
                            @Html.DropDownList("SundayScheduleID", new SelectList(sched, "ID", "Description", ordered[i].CheckIfNull<PersonnelSchedule>().SundayScheduleID), "N/A", new { @class = "form-control" })
                        </td>
                        <td style="text-align: center;">
                            @Html.DropDownList("MondayScheduleID", new SelectList(sched, "ID", "Description", ordered[i].CheckIfNull<PersonnelSchedule>().MondayScheduleID), "N/A", new { @class = "form-control" })
                        </td>
                        <td style="text-align: center;">
                            @Html.DropDownList("TuesdayScheduleID", new SelectList(sched, "ID", "Description", ordered[i].CheckIfNull<PersonnelSchedule>().TuesdayScheduleID), "N/A", new { @class = "form-control" })
                        </td>
                        <td style="text-align: center;">
                            @Html.DropDownList("WednesdayScheduleID", new SelectList(sched, "ID", "Description", ordered[i].CheckIfNull<PersonnelSchedule>().WednesdayScheduleID), "N/A", new { @class = "form-control" })
                        </td>
                        <td style="text-align: center;">
                            @Html.DropDownList("ThursdayScheduleID", new SelectList(sched, "ID", "Description", ordered[i].CheckIfNull<PersonnelSchedule>().ThursdayScheduleID), "N/A", new { @class = "form-control" })
                        </td>
                        <td style="text-align: center;">
                            @Html.DropDownList("FridayScheduleID", new SelectList(sched, "ID", "Description", ordered[i].CheckIfNull<PersonnelSchedule>().FridayScheduleID), "N/A", new { @class = "form-control" })
                        </td>
                        <td style="text-align: center;">
                            @Html.DropDownList("SaturdayScheduleID", new SelectList(sched, "ID", "Description", ordered[i].CheckIfNull<PersonnelSchedule>().SaturdayScheduleID), "N/A", new { @class = "form-control" })
                        </td>
                        <td style="text-align: center;">
                            @Html.TextBox("EffectivityDate", String.Format("{0:yyyy'-'MM'-'dd}", ordered[i].EffectivityDate), new { @type = "date", @class = "form-control" })
                        </td>
                        <td style="text-align: center; width: 140px;">
                            @if (SchedulesTabAccess.Update)
                            {
                                <div class="btn-group">
                                    <button type="button" name="CancelSchedule" class="btn btn-outline btn-danger btn-sm btn-rounded CancelSchedule TableCancelButton" value="@ordered[i].ID" title="Cancel"><i class="fa fa-times"></i></button>
                                    <button type="button" name="SaveSchedule" class="btn btn-info btn-sm btn-rounded SaveSchedule TableSaveButton" value="@ordered[i].ID" title="Save"><i class="fa fa-save"></i></button>
                                </div>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr id="No-Row-Display"><td style="text-align: center;" colspan="16">No Schedules found...</td></tr>
            }
        </tbody>
        <tfoot>
            @if (SchedulesTabAccess.Insert)
            {
            <tr id="Row-Input-Schedule-0" class="Row-Input">
                <td style="text-align: center;" nowrap>
                    <input type="hidden" value="@Model.ID" name="PersonnelID" />
                    @Html.DropDownList("SundayScheduleID", new SelectList(sched, "ID", "Description"), "N/A", new { @class = "form-control" })
                </td>
                <td style="text-align: center;" nowrap>
                    @Html.DropDownList("MondayScheduleID", new SelectList(sched, "ID", "Description"), "N/A", new { @class = "form-control" })
                </td>
                <td style="text-align: center;" nowrap>
                    @Html.DropDownList("TuesdayScheduleID", new SelectList(sched, "ID", "Description"), "N/A", new { @class = "form-control" })
                </td>
                <td style="text-align: center;" nowrap>
                    @Html.DropDownList("WednesdayScheduleID", new SelectList(sched, "ID", "Description"), "N/A", new { @class = "form-control" })
                </td>
                <td style="text-align: center;" nowrap>
                    @Html.DropDownList("ThursdayScheduleID", new SelectList(sched, "ID", "Description"), "N/A", new { @class = "form-control" })
                </td>
                <td style="text-align: center;" nowrap>
                    @Html.DropDownList("FridayScheduleID", new SelectList(sched, "ID", "Description"), "N/A", new { @class = "form-control" })
                </td>
                <td style="text-align: center;" nowrap>
                    @Html.DropDownList("SaturdayScheduleID", new SelectList(sched, "ID", "Description"), "N/A", new { @class = "form-control" })
                </td>
                <td style="text-align: center;" nowrap>
                    @Html.TextBox("EffectivityDate", String.Format("{0:yyyy'-'MM'-'dd}", ""), new { @type = "date", @class = "form-control" })
                </td>
                <td style="text-align: center; width: 140px;">
                    <div class="btn-group" style="" nowrap>
                        <button type="button" name="CancelSchedule" class="btn btn-outline btn-danger btn-sm btn-rounded CancelSchedule TableCancelButton" value="0" title="Clear"><i class="fa fa-times"></i></button>
                        <button type="button" name="SaveSchedule" class="btn btn-info btn-sm btn-rounded SaveSchedule TableSaveButton" value="0" title="Add"><i class="fa fa-plus"></i></button>
                    </div>
                </td>
            </tr>
            }
        </tfoot>
    </table>
</div>