@model WebTemplate.Models.Personnel.Infractions

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var MemoPageAccess = credential.GetPage("Memo") ?? new DataAccessLayer.System.Page();
}

<div class="table-responsive" style="">
    <table id="MemosTable" class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th class="text-left">No.</th>
                <th class="text-center">Date</th>
                <th class="text-center" style="width:5em">Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.InfractionList.Count() > 0)
            {
                for (int i = 0; i < Model.InfractionList.Count(); i++)
                {
                    <tr id="@Model.InfractionList[i].ID" class="Row-Display Row-Display-MemoArchive read infraction-record" title="Click to open record" style="cursor:pointer">
                        <td class="text-left">
                            <input hidden class="MemoNo" value="@Model.InfractionList[i].MemoNo" />
                            <input hidden class="Subject" value="@Model.InfractionList[i].Subject" />
                            <b style="font-size: 10px;">@Model.InfractionList[i].MemoNo</b>
                            <br />
                            <text class="font-bold-500" style="font-size: 10px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
                                @(!String.IsNullOrEmpty(Model.InfractionList[i].Description) ? Model.InfractionList[i].Description : "")
                            </text>
                        </td>
                        <td class="text-center mail-date" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px;">@String.Format("{0:MMM dd, yyyy}", Model.InfractionList[i].MemoDate)</td>
                        <td style="" class="row-actions">
                            <div class="memo-status">
                                <span class='label label-default'>@Model.InfractionList[i].Status.Description</span>
                                @if (Model.InfractionList[i].StatusID == 2)
                                {
                                    <div class='saction-detail'><b>@Model.InfractionList[i].Sanction.Description @(Model.InfractionList[i].SanctionDays != null ? "(" + Model.InfractionList[i].SanctionDays + " Day" + (Model.InfractionList[i].SanctionDays > 1? "s" : "") + ")" : "") @(Model.InfractionList[i].SanctionDate != null ? "(" + Model.InfractionList[i].SanctionDate.Value.ToString("MMMM dd, yyyy") + ")" : "")</b></div>
                                }
                            </div>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr id="No-Row-Display"><td style="text-align: center;" colspan="6">No Infractions found...</td></tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>