@model WebTemplate.Models.Personnel.PersonnelLeaveCredits
@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var LeaveCreditsTabAccess = credential.GetPage("Leave Credits") ?? new DataAccessLayer.System.Page();
    var leaveList = ProcessLayer.Processes.LeaveTypeProcess.Instance.GetList();
    var leaveListYear = leaveList.Where(x => !(x.IsMidYear ?? false)).ToList();
    var leaveListDate = leaveList.Where(x => x.IsMidYear ?? false).ToList();
}

<div id="leavecreditsDiv" class="panel panel-primary" style="margin: 0px 0px 10px 0px;">
    <div class="panel-heading" style="padding: 5px 10px;">Leave Credit By Date</div>
    <div class="panel-body" style="padding: 0px;">
        <div class="row" style="padding: 0px 13px 0px 14px;">
            <div class="table-responsive table-scroll" style=" margin: auto;">
                <table id="DateLeaveCreditsTable" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Description</th>
                            <th style="text-align: center;">Credits (No. of Days)</th>
                            <th style="text-align: center;">Date Valid From/To</th>
                            @if (LeaveCreditsTabAccess.Update || LeaveCreditsTabAccess.Delete)
                            {
                                <th style="text-align: center; min-width: 100px;">Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.PersonnelLeaveCreditDate.Count() > 0)
                        {
                            for (int i = 0; i < Model.PersonnelLeaveCreditDate.Count(); i++)
                            {
                                @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelLeaveCreditDate.cshtml", Model.PersonnelLeaveCreditDate[i])
                            }
                        }
                        else
                        {
                            <tr id="No-Row-Display"><td style="text-align: center;" colspan="15">No @LeaveCreditsTabAccess.Module found...</td></tr>
                        }
                    </tbody>
                    <tfoot>
                        @if (LeaveCreditsTabAccess.Insert)
                        {
                            <tr id="Row-Input-DateLeaveCredit-0" class="Row-Input">
                                <td style="text-align: center;">
                                    @Html.DropDownList("LeaveTypeID", new SelectList(leaveListDate, "ID", "Display"), "N/A", new { @class = "form-control text-transform-none", @style = "" })
                                </td>
                                <td style="text-align: center;">
                                    <input type="hidden" name="PersonnelID" class="PersonnelID" value="@Model.PersonnelID" />
                                    <input type="number" name="LeaveCredits" class="form-control text-transform-none" placeholder="Credits..." />
                                </td>
                                <td style="text-align: center;">
                                    <div class="input-daterange input-group" id="datepicker">
                                        @Html.TextBox("ValidFrom", String.Format("{0:yyyy'-'MM'-'dd}", DateTime.Now), new { @type = "date", @class = "form-control" })
                                        <span class="input-group-addon">to</span>
                                        @Html.TextBox("ValidTo", String.Format("{0:yyyy'-'MM'-'dd}", DateTime.Now), new { @type = "date", @class = "form-control" })
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <div class="btn-group" style="">
                                        <button type="button" name="CancelDateLeaveCredit" class="btn btn-outline btn-danger btn-sm btn-rounded CancelLeaveCredits TableCancelButton" value="0" title="Clear"><i class="fa fa-times"></i></button>
                                        <button type="button" name="SaveDateLeaveCredit" class="btn btn-info btn-sm btn-rounded SaveLeaveCredits TableSaveButton" value="0" title="Add"><i class="fa fa-plus"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="leavecreditsDiv" class="panel panel-primary" style="margin: 0px 0px 10px 0px;">
    <div class="panel-heading" style="padding: 5px 10px;">Leave Credit By Year</div>
    <div class="panel-body" style="padding: 0px;">
        <div class="row" style="padding: 0px 13px 0px 14px;">
            <div class="table-responsive table-scroll" style=" margin: auto;">
                <table id="YearLeaveCreditsTable" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Description</th>
                            <th style="text-align: center;">Credits (No. of Days)</th>
                            <th style="text-align: center;">Year Valid</th>
                            @if (LeaveCreditsTabAccess.Update || LeaveCreditsTabAccess.Delete)
                            {
                                <th style="text-align: center; min-width: 100px;">Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.PersonnelLeaveCreditYear.Count() > 0)
                        {
                            for (int i = 0; i < Model.PersonnelLeaveCreditYear.Count(); i++)
                            {
                                @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelLeaveCreditYear.cshtml", Model.PersonnelLeaveCreditYear[i])
                            }
                        }
                        else
                        {
                            <tr id="No-Row-Display"><td style="text-align: center;" colspan="15">No @LeaveCreditsTabAccess.Module found...</td></tr>
                        }
                    </tbody>
                    <tfoot>
                        @if (LeaveCreditsTabAccess.Insert)
                        {
                            <tr id="Row-Input-YearLeaveCredit-0" class="Row-Input">
                                <td style="text-align: center;">
                                    @Html.DropDownList("LeaveTypeID", new SelectList(leaveListYear, "ID", "Display"), "N/A", new { @class = "form-control text-transform-none", @style = "" })
                                </td>
                                <td style="text-align: center;">
                                    <input type="hidden" name="PersonnelID" class="PersonnelID" value="@Model.PersonnelID" />
                                    <input type="number" name="LeaveCredits" class="form-control text-transform-none" placeholder="Credits..." />
                                </td>
                                <td style="text-align: center;">
                                    @*@Html.TextBox("YearValid", String.Format("{0:yyyy}", DateTime.Now), new { @type = "year", @class = "form-control" })*@
                                    <input type="text" name="YearValid" class="form-control text-transform-none yearpicker" placeholder="Year Valid..." min="1900" max="@DateTime.Now" maxlength="4" />
                                </td>
                                <td style="text-align: center;">
                                    <div class="btn-group" style="">
                                        <button type="button" name="CancelYearLeaveCredit" class="btn btn-outline btn-danger btn-sm btn-rounded CancelLeaveCredits TableCancelButton" value="0" title="Clear"><i class="fa fa-times"></i></button>
                                        <button type="button" name="SaveYearLeaveCredit" class="btn btn-info btn-sm btn-rounded SaveLeaveCredits TableSaveButton" value="0" title="Add"><i class="fa fa-plus"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>