@model WebTemplate.Models.MemoArchive.MemoPersonnels

@{
    var MemoArchivePageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("HumanResource/MemoArchive");

    ViewBag.title = MemoArchivePageAccess.PageName;
}
@functions{
    public bool IsImage(string str)
    {
        var imageExtensions = new string[] { ".jpg", ".jpeg", ".bmp", ".gif", ".png" };
        return imageExtensions.Contains(Path.GetExtension(str));
    }
}

<div class="">
    <div class="col-md-4" style="padding: 0px;">
        <div class="chat-users" style="">
            <div class="users-list" style="">
                <div id="MainMemoArchive" class="hidden" style="border-bottom: 1px solid #e7eaec; padding: 5px;">
                    <b>Memo No.: </b>0
                    <br />
                    <b>Description: </b>Sample
                    <br />
                    <b>Memo Date: </b>Mon Jan 06, 2019
                    <br />
                    <b>File:</b>
                    <a id="raff" href="~/Images/default.jpg" target="_blank" title="~/Images/default.jpg">/Images/default.jpg</a>
                    @if (IsImage("/Images/default.jpg"))
                    {
                        <img src="~/Images/default.jpg" class="hidden" style="" />
                    }
                </div>
                @if (Model.Personnels.Count() > 0)
                {
                    for (int i = 0; i < Model.Personnels.Count(); i++)
                    {
                        @*<div class="chat-user">
                                <img class="chat-avatar" src="@(!String.IsNullOrEmpty(Model.Personnels[i].ImagePath) ? Model.Personnels[i].ImagePath : "\\Images\\default.jpg")" alt="">
                                <div class="chat-user-name">
                                    @String.Format("{0}, {1} {2}", Model.Personnels[i].LastName, Model.Personnels[i].FirstName, Model.Personnels[i].MiddleName)
                                </div>
                            </div>*@
                        <button type="button" class="btn btn-block chat-user" value="@Model.Personnels[i].ID">
                            <img class="gray-bg" src="@(String.IsNullOrEmpty(Model.Personnels[i].ImagePath) ? "\\Images\\default.jpg" : Model.Personnels[i].ImagePath)" style="" title="" />
                            <div class="chat-user-name">
                                @String.Format("{0}, {1} {2}", Model.Personnels[i].LastName, Model.Personnels[i].FirstName, Model.Personnels[i].MiddleName)
                            </div>
                            <i class="text-danger fa @(Model.Personnels[i].HasFailedEmail ? "fa-exclamation-circle" : "") failed-email" title="Email not sent"></i>
                        </button>
                    }
                }
                else
                {
                    <div class="chat-user">
                        No Member(s) found...
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-8" style="padding: 0px;">
        <div class="chat-discussion" style="padding: 15px;">

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="chat-message-form">
                    <div class="form-group">
                        <input type="file" id="browseFile" name="" class="browsefile form-control">
                        @*<input class="messsage m-l-xs" style="" placeholder="Message..." />*@
                        <button id="Reply" class="btn btn-primary m-l-xs send" type="button"><i class="fa fa-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            ImageLinkHoverEvents();
        });
    </script>
}