@model WebTemplate.Models.Personnel.Educationbackgrounds
@{
    var educationalLevels = ProcessLayer.Processes.LookupProcess.GetEducationalLevel();
    var years = ProcessLayer.Helpers.Web.YearList();

    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var EducationalBackgroundsPageAccess = credential.GetPage("Educational Backgrounds") ?? new DataAccessLayer.System.Page();
}

<div class="table-responsive table-scroll" style="">
    <table id="EducationalBackgroundsTable" class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Educational Level</th>
                <th class="text-center">School Name</th>
                <th class="text-center">Course</th>
                <th class="text-center">From</th>
                <th class="text-center">To</th>
                @if (EducationalBackgroundsPageAccess.Update || EducationalBackgroundsPageAccess.Delete)
                {
                    <th class="text-center">Action</th>
                }
                </tr>
        </thead>
        <tbody>
            @if (Model.EducationalBackground.Count() > 0)
            {
                for (int i = 0; i < Model.EducationalBackground.Count(); i++)
                {
                    @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelEducationalBackground.cshtml", Model.EducationalBackground[i])
                }
            }
            else
            {
                <tr id="No-Row-Display"><td style="text-align: center;" colspan="6">No Educational Backgrounds found...</td></tr>
            }
        </tbody>
        <tfoot>
            @if (EducationalBackgroundsPageAccess.Insert)
            {
            <tr id="Row-Input-EducationalBackground-0" class="Row-Input">
                <td style="text-align: center;">
                    <input type="hidden" name="PersonnelID" class="PersonnelID" value="@Model.PersonnelID" />
                    @Html.DropDownList("EducationalLevelID", new SelectList(educationalLevels, "ID", "Description"), "N/A", new { @class = "form-control text-transform-none", @style = "" })
                </td>
                <td style="text-align: center;">
                    <input type="text" name="SchoolName" class="form-control text-transform-none" placeholder="SchoolName" />
                </td>
                <td style="text-align: center;">
                    <input type="text" name="Course" class="form-control text-transform-none" placeholder="Course" />
                </td>
                <td style="text-align: center;">
                    @Html.DropDownList("FromYear", new SelectList(years, "ID", "Description", new DateTime().Year), "N/A", new { @class = "form-control text-transform-none", @style = "" })
                </td>
                <td style="text-align: center;">
                    @Html.DropDownList("ToYear", new SelectList(years, "ID", "Description", new DateTime().Year), "N/A", new { @class = "form-control text-transform-none", @style = "" })
                </td>
                <td style="text-align: center; width: 168px;">
                    <div class="btn-group" style="">
                        <button type="button" name="CancelEducationalBackground" class="btn btn-outline btn-danger btn-sm btn-rounded CancelEducationalBackground TableCancelButton" value="0" title="Clear"><i class="fa fa-times"></i></button>
                        <button type="button" name="SaveEducationalBackground" class="btn btn-info btn-sm btn-rounded SaveEducationalBackground TableSaveButton" value="0" title="Add"><i class="fa fa-plus"></i></button>
                    </div>
                </td>
            </tr>
                }
            </tfoot>
    </table>
</div>