@model WebTemplate.Models.Kiosk.OT_Request.Index

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PageAccess = credential.GetPage("Kiosk/OTRequest") ?? new DataAccessLayer.System.Page();
    var CreatorAccess = credential.GetPage("Creator Request Over Time") ?? new DataAccessLayer.System.Page();
    var ottypes = new Dictionary<int, string> { { 1, "After Office" }, { 2, "Early" }, { 3, "Whole Day" } };
}

@if (PageAccess.View)
{
    <form id="form_search_params" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
        @Html.Hidden("Page", Model.Page, new { @class = "form-control search-values" })

        <fieldset>
            <legend>Search</legend>
            <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <label class="control-label">Start Date & Time</label>
                @Html.TextBox("StartDateTime", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", Model.StartDateTime), new { @type = "datetime-local", @class = "form-control" })
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <label class="control-label">End Date & Time</label>
                @Html.TextBox("EndingDateTime", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", Model.EndingDateTime), new { @type = "datetime-local", @class = "form-control" })
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-2">
                <label class="control-label">Key</label>
                @Html.TextBox("Key", Model.Key, new { @class = "form-control search-values", @placeholder = "Key..." })
            </div>

            <div class="form-group col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label">OT Type</label>
                <div>
                    @Html.DropDownList("OtType", new SelectList(ottypes, "Key", "Value", Model.OtType ?? 0), "N/A", new { @class = "form-control" })
                </div>
            </div>

            @*<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <label class="control-label">Request Date</label>
            @Html.TextBox("RequestDate", String.Format("{0:yyyy'-'MM'-'dd}", Model.RequestDate), new { @type = "date", @class = "form-control" })
        </div>*@

            <div class="form-group col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label" style="width: 100%; color: #fff;">Search</label>
                <button type="button" id="Btn_Search" class="btn btn-primary font-bold"><i class="fa fa-search"></i> Search</button>
            </div>
        </fieldset>
    </form>
    <form id="status_search_params" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
        <fieldset>
            <legend>Status</legend><div class="form-group col-xs-12 col-sm-3 col-md-2 col-lg-1">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsPending, new { @class = "i-checks status-checkbox" })
                    @*<input type="checkbox" class="i-checks status-checkbox" name="IsPending" />*@
                    Pending
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-3 col-md-2 col-lg-1">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsExpired, new { @class = "i-checks status-checkbox" })
                    Expired
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-3 col-md-2 col-lg-1">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsCancelled, new { @class = "i-checks status-checkbox" })
                    Cancelled
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-3 col-md-2 col-lg-1">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsApproved, new { @class = "i-checks status-checkbox" })
                    Approved
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-3 col-md-2 col-lg-1">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.All, new { @class = "i-checks status-checkbox" })
                    All
                </label>
            </div>
        </fieldset>
</form>
    
    <form id="form_search" class="pull-left" style="width: 100%;">
        <div class="table-responsive" style="height: 650px;">
            <div class="mail-box">
                <table id="OTRequestsTable" class="table table-hover table-mail">
                    <thead>
                        @if (Model.PageCount > 1)
                        {
                            <tr>
                                <td class="text-right" colspan="10" style="background-color: white;">
                                    <div class="pull-left m-r-md">
                                        <button type="button" id="MultipleDelete" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete selected rows" disabled>
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>

                                    <div class="btn-group pull-left">
                                        @if (Model.Page > 0)
                                        {
                                            <button type="button" name="@Html.NameFor(m => m.Page)" value="1" class="btn btn-white @(Model.Page == 1 ? "active" : "pages")">1 @*<i class="fa fa-angle-double-left"></i>*@</button>
                                        }
                                        @if (Model.Page - 1 > 2)
                                        {
                                            <button type="button" name="@Html.NameFor(m => m.Page)" value="@(Model.Page - 2)" class="btn btn-white pages">...@*<i class="fa fa-angle-left"></i>*@</button>
                                        }
                                        @for (int i = Model.Page - 1; i <= Model.Page + 1; i++)
                                        {
                                            if (i > 1 && i < Model.PageCount)
                                            {
                                                <button type="button" name="@Html.NameFor(m => m.Page)" value="@(i)" class="btn btn-white @(i == Model.Page ? " active" : "pages")">@(i)</button>
                                            }
                                        }
                                        @if (Model.Page + 1 < Model.PageCount - 1)
                                        {
                                            <button type="button" name="@Html.NameFor(m => m.Page)" value="@(Model.Page + 2)" class="btn btn-white pages">...@*<i class="fa fa-angle-right"></i>*@</button>
                                        }
                                        @if (Model.Page <= Model.PageCount && Model.PageCount > 1)
                                        {
                                            <button type="button" name="@Html.NameFor(m => m.Page)" value="@Model.PageCount" class="btn btn-white @(Model.Page == Model.PageCount ? "active" : "pages")">@Model.PageCount @*<i class="fa fa-angle-double-right"></i>*@</button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr>
                            <th style="text-align: center;" scope="col">
                                <input id="SelectAll" type="checkbox" class="i-checks" title="Select All" value="">
                            </th>
                            <th style="text-align: left;">Reasons</th>
                            <th style="text-align: left;">Request Date</th>
                            @*<th style="text-align: left;">Is At Office/Time End</th>
                            <th style="text-align: left;">Is Early OT/Time Start</th>*@
                            <th style="text-align: left;">OT Type</th>
                            <th style="text-align: left;">Status</th>
                            <th style="text-align: left;">Last Modified</th>
                            <th style="text-align: left;">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="Row-Loading-Display" class="hidden">
                            <td style="text-align: center;" colspan="6">
                                <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                            </td>
                        </tr>
                        @if (Model.OTRequests.Count() > 0)
                        {
                            for (int i = 0; i < Model.OTRequests.Count(); i++)
                            {

                                var RowColorLabel = ""; // Model.OTRequests[i].OTRequests[i].Cancelled == true ? " label-danger" : Model.OTRequests[i].OTRequests[i].Approved == true ? " label-primary" : Model.OTRequests[i].OTRequests[i].ModifiedBy != null ? " label-success" : " label-info";
                                var LastStatus = Model.OTRequests[i].IsExpired == true ? "<span class='label label-warning'>Expired</span>" : (Model.OTRequests[i].Cancelled == true ? "<span class='label label-danger'>Cancelled</span>" : (Model.OTRequests[i].Approved == true ? "<span class='label label-primary'>Approved</span>" : "<span class='label label-info'>Pending</span>"));
                                var LastUser = Model.OTRequests[i].Cancelled == true ? Model.OTRequests[i]._Cancel : (Model.OTRequests[i].Approved == true ? Model.OTRequests[i]._Approver : (Model.OTRequests[i].ModifiedBy != null ? Model.OTRequests[i]._Modifier : Model.OTRequests[i]._Creator));
                                var LastDate = Model.OTRequests[i].Cancelled == true ? Model.OTRequests[i].CancelledOn : (Model.OTRequests[i].Approved == true ? Model.OTRequests[i].ApprovedOn : (Model.OTRequests[i].ModifiedBy != null ? Model.OTRequests[i].ModifiedOn : Model.OTRequests[i].CreatedOn));

                                <tr id="Row-Display-OTRequest-@Model.OTRequests[i].ID" class="Row-Display Row-Display-OTRequest @RowColorLabel" onclick="EditRequest(@Model.OTRequests[i].ID);" title="Left click here to open record">
                                    <td class="text-center">
                                        @if (PageAccess.Delete)
                                        {
                                            if (!(Model.OTRequests[i].Approved == true || Model.OTRequests[i].Cancelled == true || Model.OTRequests[i].IsExpired))
                                            {
                                                <input type="checkbox" class="i-checks chkRow" title="" value="@Model.OTRequests[i].ID">
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled class="i-checks" title="" value="">
                                            }
                                        }
                                    </td>
                                    <td style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
                                        <input hidden name="id" value="@Model.OTRequests[i].ID" />
                                        <input hidden name="personnelid" value="@Model.OTRequests[i].PersonnelID" />
                                        <text class="font-bold-500 clickable-text" style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;" title="N/A">
                                            @(String.Format("{0}.", (i + 1) + (Model.Page > 1 ? Model.GridCount : 0) * Model.Page))
                                            @Model.OTRequests[i].Reasons
                                        </text>
                                    </td>
                                    <td style="text-align: left;">
                                        @Html.Raw(String.Format("{0:MMM dd, yyyy}", Model.OTRequests[i].RequestDate))
                                    </td>
                                    @*<td class="text-left">
                                        @(Model.OTRequests[i].IsOffice == true ? "Yes" : (Model.OTRequests[i].EndDateTime != null ? String.Format("No @ {0:HH':'mm}", Model.OTRequests[i].EndDateTime) : ""))
                                    </td>
                                    <td class="text-left">
                                        @(Model.OTRequests[i].IsEarlyOT == true ? String.Format("Yes @ {0:HH':'mm}", Model.OTRequests[i].StartDateTime) : "")<br/>
                                    </td>*@
                                    <td class="text-left">
                                        <b>@ottypes.Where(m => m.Key == ((int)Model.OTRequests[i].OTType)).Select(m => m.Value).FirstOrDefault()</b>
                                        @Html.Raw(((int)Model.OTRequests[i].OTType) == 1 ? String.Format(" ends</br> @ <b>{0:hh:mm tt}</b>", Model.OTRequests[i].EndDateTime) : (((int)Model.OTRequests[i].OTType) == 2 ? String.Format(" starts</br> @ <b>{0:hh:mm tt}</b>", Model.OTRequests[i].StartDateTime) : (((int)Model.OTRequests[i].OTType) == 3 ? String.Format(" from</br><b>{0:hh:mm tt}</b> to <b>{1:hh:mm tt}</b>", Model.OTRequests[i].StartDateTime, Model.OTRequests[i].EndDateTime) : "")))
                                    </td>
                                    <td class="text-left">
                                        @Html.Raw(LastStatus)
                                    </td>
                                    <td class="text-left">
                                        @Html.Raw(String.Format("{0}<br/>{1:MM/dd/yyyy hh:mm tt}", LastUser ?? "", LastDate))
                                    </td>
                                    <td style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
                                        <text class="font-bold-500" style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;" title="@Model.OTRequests[i].Remarks">
                                            @Model.OTRequests[i].Remarks
                                        </text>
                                    </td>
                                    @*<td style="width: 160px;" class="row-actions">
                                                                <div class="btn-group">
                                                                    @if (Model.OTRequests[i].Approved == true || Model.OTRequests[i].Cancelled == true || Model.OTRequests[i].IsExpired)
                                            {
                                                if (CreatorAccess.Update)
                                                {
                                                    <button type="button" name="id" tpj-show-tab="#tab-3" class="btn btn-info btn-sm btn-rounded ViewOTRequest" value="@Model.OTRequests[i].ID" title="View"><i class="fa fa-eye"></i></button>
                                                }
                                            }
                                            else
                                            {
                                                if (CreatorAccess.Delete)
                                                {
                                                    <button type="button" name="id" tpj-show-tab="#tab-3" class="btn btn-danger btn-sm btn-rounded DeleteOTRequest" value="@Model.OTRequests[i].ID" title="Delete"><i class="fa fa-trash"></i></button>
                                                }
                                            }
                                        </div>
                                                            </td>*@
                                </tr>
                            }
                        }
                        else
                        {
                            <tr id="No-Row-Display"><td style="text-align: center;" colspan="10">No @PageAccess.PageName found...</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
}