@model WebTemplate.Models.Kiosk.OT_Request.Index

@{
    var c = User as WebTemplate.Models.CustomPrincipal;
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var CreatorAccess = credential.GetPage("Creator Request Over Time") ?? new DataAccessLayer.System.Page();
    //var ottypes = new Dictionary<int, string> { { 1, "After Office" }, { 2, "Early" }, { 3, "Whole Day" } };
}

@Html.Hidden("PersonnelID", Model.Personnel.ID, new { @class = "form-control" })

@*<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <label class="control-label">Start Date</label>
        @Html.TextBox("StartDate", String.Format("{0:MM/dd/yyyy}", Model.StartDateTime), new { @class = "form-control js-datetimepicker", @placeholder = "MM/dd/yyyy" })
        <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <label class="control-label">End Date</label>
        @Html.TextBox("EndDate", String.Format("{0:MM/dd/yyyy}", Model.EndingDateTime), new { @class = "form-control js-datetimepicker", @placeholder = "MM/dd/yyyy" })
        <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
    </div>*@

<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
    <label class="control-label">
        @Html.CheckBox("IsOffice", false, new { @class = "i-checks ottype-checkbox form-control" })
        At Office
    </label>
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <label class="control-label">
        @Html.CheckBox("IsEarlyOT", false, new { @class = "i-checks ottype-checkbox form-control" })
        Early OT
    </label>
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align: right;">
    <label class="control-label">
        @Html.CheckBox("IsAfterOffice", false, new { @class = "i-checks ottype-checkbox form-control" })
        After Office
    </label>
</div>

@*<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label class="control-label">OT Type</label>
        <div>
            @Html.DropDownList("OtType", new SelectList(ottypes, "Key", "Value"), "N/A", new { @class = "form-control" })
        </div>
    </div>*@

<div id="RequestDate" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label class="control-label">Request Date</label>
    @Html.TextBox("RequestDate", String.Format("{0:yyyy'-'MM'-'dd}", Model.OTRequest.RequestDate), new { @type = "date", @class = "form-control" })
</div>

<div id="TimeStart" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="">
    <label class="control-label">Time Start</label>
    @Html.TextBox("StartDateTime", String.Format("{0:HH':'mm}", Model.OTRequest.StartDateTime), new { @type = "time", @class = "form-control" })
</div>
<div id="TimeEnd" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="">
    <label class="control-label">Time End</label>
    @Html.TextBox("EndDateTime", String.Format("{0:HH':'mm}", Model.OTRequest.EndDateTime), new { @type = "time", @class = "form-control" })
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label class="control-label">Reasons</label>
    @Html.TextArea("Reasons", "", new { @class = "form-control form-control", @rows = "4", @placeholder = "Reasons..." })
</div>

@if (CreatorAccess.Update || CreatorAccess.Insert)
{
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" id="CreateOTRequest" onclick="SaveRequest();" class="btn btn-primary font-bold pull-right" title="Save"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
    </div>
}