@model WebTemplate.Models.Maintenance.Lookup.LicenseType.Index
@{
    double PageCount = Math.Ceiling((double)Model.ItemCount / Model.GridCount);
}


<div class="">
    <div class="mail-box">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <td class="text-right" colspan="7">
                        <div style="float: left; line-height: 3;">
                            @*@Html.Raw(string.Format("{0} items of {1}", Model.ItemList.Count, Model.ItemCount))*@
                            @Html.Raw(string.Format("{0} items", Model.ItemCount))
                        </div>

                        <div class="btn-group">
                            @using (Ajax.BeginForm("Index", "Maintenance/Lookup/LicenseType",
                                new AjaxOptions { HttpMethod = "POST", OnBegin = "ShowLoadingScreen()", OnComplete = "RemoveLoadingScreen()", OnSuccess = "search_item_success", OnFailure = "toastr.error('Potentially dangerous value was detected', 'Saving failed')" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.Filter)
                                @Html.HiddenFor(m => m.PageNumber)
                                if (Model.PageNumber > 1)
                                {
                                    <button type="submit" name="@Html.NameFor(m => m.PageNumber)" value="1" class="btn btn-white pages"><i class="fa fa-angle-double-left"></i></button>
                                }
                                if (Model.PageNumber - 1 >= 1)
                                {
                                    <button type="submit" name="@Html.NameFor(m => m.PageNumber)" value="@(Model.PageNumber - 1)" class="btn btn-white pages"><i class="fa fa-angle-left"></i></button>
                                }
                                for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                                {
                                    if (i >= 1 && i <= PageCount)
                                    {
                                        <button type="submit" name="@Html.NameFor(m => m.PageNumber)" value="@(i)" class="btn btn-white @(i == Model.PageNumber ? "active" : "pages")">@(i)</button>
                                    }
                                }
                                if (Model.PageNumber + 1 <= PageCount)
                                {
                                    <button type="submit" name="@Html.NameFor(m => m.PageNumber)" value="@(Model.PageNumber + 1)" class="btn btn-white pages"><i class="fa fa-angle-right"></i></button>
                                }
                                if (Model.PageNumber < PageCount)
                                {
                                    <button type="submit" name="@Html.NameFor(m => m.PageNumber)" value="@PageCount" class="btn btn-white pages"><i class="fa fa-angle-double-right"></i></button>
                                }
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-center">Description</th>
                    <th class="text-center">Perpetual</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr id="Row-Loading-Display" class="hidden">
                    <td style="text-align: center;" colspan="6">
                        <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                    </td>
                </tr>
                @if (Model.ItemList.Any())
                {
                    for (int idx = 0; idx < Model.ItemList.Count; idx++)
                    {
                        <tr>
                            <td class="text-center text-uppercase">@Model.ItemList[idx].Description</td>
                            <td class="text-center text-uppercase">@(Model.ItemList[idx].Perpetual ? "Yes" : "No")</td>
                            <td class="text-center">
                                <button class="btn btn-primary btn-sm btn-rounded btn-outline" title="Edit" onclick="manage_item(@Model.ItemList[idx].ID)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-sm btn-rounded btn-outline" title="Delete" onclick="delete_item(@Model.ItemList[idx].ID)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr id="No-Row-Display">
                        <td style="text-align: center;" colspan="8">No License Type found...</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>