@model ProcessLayer.Entities.PersonnelGroup
@{
    var PageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("HumanResource/Group");
} 

<tr id="@Model.ID" class="Row-Display Row-Display-Group" style="cursor: pointer;" title="Click to open record" onclick="ViewMembers(@Model.ID);">
    <td class="text-center">
        @Html.Raw($"<input type='checkbox' class='i-checks{(PageAccess.Delete ? " chkRow" : "")}' title='' value='{(PageAccess.Delete ? Model.ID.ToString() : "")}'>")
    </td>
    <td style="text-align: center;">
        <input type="hidden" value="@Model.ID" />
        <div class="clickable-text">@Model.Description</div>
    </td>
    <td class="hidden"><input type="hidden" class="MemberCount" value="@Model._PersonnelGroupMembers.Count()" /></td>
    <td style="text-align: center; white-space: nowrap;">
        @if (Model._PersonnelGroupMembers.Count() > 0)
        {
            int len = (Model._PersonnelGroupMembers.Count() >= 10 ? 10 : Model._PersonnelGroupMembers.Count());
            string names = "";

            for (int i = 0; i < len; i++)
            {
                <img src="@(String.IsNullOrEmpty(Model._PersonnelGroupMembers[i]._Personnel.ImagePath) ? "\\Images\\default.jpg": Model._PersonnelGroupMembers[i]._Personnel.ImagePath)" style="height: 30px; width: 30px; min-height: 30px; min-width: 30px; margin-right: 0px; border-radius: 50px;" title="@Model._PersonnelGroupMembers[i]._Personnel.FullName" />
            }

            for (int i = 10; i < Model._PersonnelGroupMembers.Count(); i++) {
                names += Model._PersonnelGroupMembers[i]._Personnel.FullName + Environment.NewLine;
            }

            if (Model._PersonnelGroupMembers.Count() > 10)
            {
                @Html.Raw("<label style='font-size: 12px; margin-top: 5px;' title='" + names + "'>&nbsp;+")
                @(Model._PersonnelGroupMembers.Count() - 10)
                @Html.Raw("...</label>")
            }
        }
        else
        {
            @(Model._PersonnelGroupMembers.Count() + " member" + (Model._PersonnelGroupMembers.Count() > 0 ? "s" : ""))
        }
    </td>
    <td style="" class="row-actions">
        <div class="btn-group">
            @if (PageAccess.Update)
            {
                <button type="button" name="EditGroup" class="btn btn-info btn-sm btn-rounded EditGroup" value="@Model.ID" title="Edit"><i class="fa fa-pencil"></i></button>
            }
        </div>
    </td>
</tr>
<tr id="@Model.ID" class="Row-Input hidden">
    <td>
        @Html.HiddenFor(m => m.ID);
    </td>
    <td style="text-align: center;">
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control text-transform-none" })
    </td>
    <td colspan="2" style="text-align: right; width: 168px;">
        <div class="btn-group">
            @if (PageAccess.Update)
            {
                <button type="button" name="CancelGroup" class="btn btn-outline btn-warning btn-sm btn-rounded CancelGroup" value="@Model.ID" title="Cancel"><i class="fa fa-times"></i></button>
                <button type="button" name="SaveGroup" class="btn btn-info btn-sm btn-rounded SaveGroup" value="@Model.ID" title="Save"><i class="fa fa-save"></i></button>
            }
        </div>
    </td>
</tr>