@model WebTemplate.Models.Groups.GroupMembers

@{
    var GroupPageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("HumanResource/Group");

    ViewBag.title = GroupPageAccess.PageName;
}

<div class="" style="max-height: 550px; overflow-y: scroll;">
    <table id="MembersTable" class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th style="text-align: center; width: 80%;">Members</th>
                @if (GroupPageAccess.Delete)
                {
                    <th style="text-align: center; min-width: 140px;" scope="col">Action</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr id="Row-Loading-Display" class="hidden">
                <td style="text-align: center;" colspan="6">
                    <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                </td>
            </tr>
            @if (Model.PersonnelGroupMembers.Count > 0)
            {
                <tr id="No-Row-Display" class="hidden"><td style="text-align: center;" colspan="2">No Members found....</td></tr>
                for (int i = 0; i < Model.PersonnelGroupMembers.Count; i++)
                {
                    <tr class="member Member-@Model.PersonnelGroupMembers[i].PersonnelID">
                        <td class="hidden">
                            <input class="ID" type="hidden" name="model[@i].ID" value="@Model.PersonnelGroupMembers[i].ID" />
                            <input class="PersonnelID" type="hidden" name="model[@i].PersonnelID" value="@Model.PersonnelGroupMembers[i].PersonnelID" />
                            <input class="Deleted" type="hidden" name="model[@i].Deleted" value="0" />
                            <input class="PersonnelGroupID" type="hidden" name="model[@i].PersonnelGroupID" value="@Model.PersonnelGroupMembers[i].PersonnelGroupID" />
                            <input class="RowIndex" type="hidden" value="0" />
                        </td>
                        <td style="text-align: left; text-transform: uppercase; white-space: nowrap; display: flex;">
                            <img class="gray-bg" src="@(String.IsNullOrEmpty(Model.PersonnelGroupMembers[i]._Personnel.ImagePath) ? "\\Images\\default.jpg": Model.PersonnelGroupMembers[i]._Personnel.ImagePath)" style="height: 50px; width: 50px; min-height: 40px; min-width: 40px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;" title="" />
                            <div>
                                <b class="text-primary">@String.Format("{0}, {1} {2}", Model.PersonnelGroupMembers[i]._Personnel.LastName, Model.PersonnelGroupMembers[i]._Personnel.FirstName, Model.PersonnelGroupMembers[i]._Personnel.MiddleName)</b>
                                <br />
                                <text class="" style="text-transform: none; font-weight: 700;">@Model.PersonnelGroupMembers[i]._Personnel._Departments.Select(x => x._Department.Description).FirstOrDefault()</text>
                                <br />
                                <text class="" style="text-transform: none;">@Model.PersonnelGroupMembers[i]._Personnel._Positions.Select(x => x._Position.Description).FirstOrDefault()</text>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            @if (GroupPageAccess.View)
                            {
                                <button type="button" name="AddRemoveMember" class="btn btn-outline btn-danger btn-sm btn-rounded AddRemoveMember" value="@Model.PersonnelGroupMembers[i]._Personnel.ID" title="Remove as member"><i class="fa fa-times"></i></button>
                                <button type="button" name="UndoRemoveMember" class="btn btn-default btn-sm btn-rounded UndoRemoveMember hidden" value="@Model.PersonnelGroupMembers[i]._Personnel.ID" title="Undo remove as member"><i class="fa fa-undo"></i></button>
                            }
                        </td>
                    </tr>

                @*<tr id="@Model.PersonnelGroupMembers[i].PersonnelID" class="member">
                    <td class="hidden">
                        <input class="ID" type="hidden" name="model[@i].ID" value="@Model.PersonnelGroupMembers[i].ID" />
                        <input class="PersonnelID" type="hidden" name="model[@i].PersonnelID" value="@Model.PersonnelGroupMembers[i].PersonnelID" />
                        <input class="Deleted" type="hidden" name="model[@i].Deleted" value="false" />
                        <input class="PersonnelGroupID" type="hidden" name="model[@i].PersonnelGroupID" value="@Model.PersonnelGroupMembers[i].PersonnelGroupID" />
                        <input class="RowIndex" type="hidden" value="0" />
                    </td>
                    <td style="padding: 0px;" colspan="2">
                        <button type="button" class="btn btn-white" style="width: 100%; padding: 3px 0px 0px 6px;">
                            <div style="text-align: left; text-transform: uppercase; white-space: nowrap; display: flex;">
                                @if (GroupPageAccess.Delete) { 
                                    <label style="margin: 0px; margin: auto 0px;" class="checkbox i-checks pull-right">
                                        <input type="checkbox" id="SelectMember" class="form-control pull-right selectMember">
                                    </label>

                                }
                                <img class="gray-bg" src="@(String.IsNullOrEmpty(Model.PersonnelGroupMembers[i]._Personnel.ImagePath) ? "\\Images\\default.jpg" : Model.PersonnelGroupMembers[i]._Personnel.ImagePath)" style="height: 50px; width: 50px; min-height: 40px; min-width: 40px; border: 3px solid #eaeaea; margin: auto 10px; border-radius: 50px;" title=""/>
                                <div>
                                    <b class="" style="color: #535353;">@String.Format("{0}, {1} {2}", Model.PersonnelGroupMembers[i]._Personnel.LastName, Model.PersonnelGroupMembers[i]._Personnel.FirstName, Model.PersonnelGroupMembers[i]._Personnel.MiddleName)</b>
                                    <br/>
                                    <text class="" style="text-transform: none; font-weight: 700;">@Model.PersonnelGroupMembers[i]._Personnel._Department.Description</text>
                                    <br/>
                                    <text class="" style="text-transform: none;">@Model.PersonnelGroupMembers[i]._Personnel._Position.Description</text>
                                </div>
                            </div>
                        </button>
                    </td>
                </tr>*@
                }
            }
            else
            {
                <tr id="No-Row-Display"><td style="text-align: center;" colspan="6">No Members found...</td></tr>
            }
        </tbody>
    </table>
</div>
