@model WebTemplate.Models.RequestsApproval.High_Risk.Index

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PageAccess = credential.GetPage("RequestsApproval/HighRisksRequests") ?? new DataAccessLayer.System.Page();
    var PageApprover = credential.GetPage("Approver High Risk Request") ?? new DataAccessLayer.System.Page();
}

@if (PageAccess.View)
{
    <div id="form_search_params" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
        @Html.Hidden("Page", Model.Page, new { @class = "search-values" })
        <fieldset>
            <legend>Search</legend>

            <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <label class="control-label">Start Date & Time</label>
                @Html.TextBox("StartDateTime", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", Model.StartDateTime), new { @type = "datetime-local", @class = "form-control search-values" })
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <label class="control-label">End Date & Time</label>
                @Html.TextBox("EndingDateTime", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", Model.EndingDateTime), new { @type = "datetime-local", @class = "form-control search-values" })
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <label class="control-label">Personnel</label>
                @Html.TextBox("Personnel", Model.Personnel, new { @class = "form-control search-values", @placeholder = "Personnel..." })
            </div>

            <div class="form-group col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label class="control-label" style="width: 100%; color: #fff;">Search</label>
                @*<button type="button" onclick="(function() { $('#form_search_params input*').val(''); })();" class="btn btn-default font-bold m-r-sm">Clear</button>*@
                <button type="button" id="Btn_Search" class="btn btn-primary font-bold"><i class="fa fa-search"></i> Search</button>
            </div>
        </fieldset>
    </div>
    <div id="status_search_params" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
        <fieldset>
            <legend>Status</legend>
            <div class="form-group col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsPending, new { @class = "i-checks status-checkbox" })
                    Pending
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsExpired, new { @class = "i-checks status-checkbox" })
                    Expired
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsApproved, new { @class = "i-checks status-checkbox" })
                    Approved
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsCancelled, new { @class = "i-checks status-checkbox" })
                    Cancelled
                </label>
            </div>

            <div class="form-group col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.All, new { @class = "i-checks status-checkbox" })
                    All
                </label>
            </div>
        </fieldset>
    </div>

    <div id="form_search_results" class="pull-left" style="width: 100%;">
        <table id="HighRiskRequestsTable" class="table table-hover table-striped">
            <thead>
                @if (Model.PageCount > 1)
                {
                    <tr>
                        <td class="text-right" colspan="10" style="background-color: white;">
                            @*<div class="pull-left m-r-md">
                                <button type="button" id="MultipleDelete" class="btn btn-danger btn-lg" data-toggle="tooltip" data-placement="top" title="Delete selected rows" disabled>
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>*@

                            <div class="btn-group pull-left">
                                @if (Model.Page > 0)
                                {
                                    <button type="button" name="@Html.NameFor(m => m.Page)" value="1" class="btn btn-white @(Model.Page == 1 ? "active" : "pages")">1 @*<i class="fa fa-angle-double-left"></i>*@</button>
                                }
                                @if (Model.Page - 1 > 2)
                                {
                                    <button type="button" name="@Html.NameFor(m => m.Page)" value="@(Model.Page - 2)" class="btn btn-white pages">...@*<i class="fa fa-angle-left"></i>*@</button>
                                }
                                @for (int i = Model.Page - 1; i <= Model.Page + 1; i++)
                                {
                                    if (i > 1 && i < Model.PageCount)
                                    {
                                        <button type="button" name="@Html.NameFor(m => m.Page)" value="@(i)" class="btn btn-white @(i == Model.Page ? " active" : "pages")">@(i)</button>
                                    }
                                }
                                @if (Model.Page + 1 < Model.PageCount - 1)
                                {
                                    <button type="button" name="@Html.NameFor(m => m.Page)" value="@(Model.Page + 2)" class="btn btn-white pages">...@*<i class="fa fa-angle-right"></i>*@</button>
                                }
                                @if (Model.Page <= Model.PageCount && Model.PageCount > 1)
                                {
                                    <button type="button" name="@Html.NameFor(m => m.Page)" value="@Model.PageCount" class="btn btn-white @(Model.Page == Model.PageCount ? "active" : "pages")">@Model.PageCount @*<i class="fa fa-angle-double-right"></i>*@</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <th class="text-left">Personnel</th>
                    <th class="text-center">Start/End DateTime</th>
                    <th class="text-left">Reasons</th>
                    <th class="text-left">Status</th>
                    <th class="text-left">Last Modified</th>
                    <th class="text-left">Remarks</th>
                    @if (PageApprover.Approve)
                    {
                        <th style="text-align: center; min-width: 10%;" scope="col">Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.HighRiskRequests.Count() > 0)
                {
                    for (int i = 0; i < Model.HighRiskRequests.Count(); i++)
                    {
                        var RowColorLabel = ""; // Model.HighRiskRequests[i].Cancelled == true ? " label-danger" : Model.HighRiskRequests[i].Approved == true ? " label-primary" : Model.HighRiskRequests[i].ModifiedBy != null ? " label-success" : " label-info";
                        var Expired = Model.HighRiskRequests[i].IsExpired == true;
                        var Approved = Model.HighRiskRequests[i].Approved == true;
                        var Cancelled = Model.HighRiskRequests[i].Cancelled == true;
                        var IsPending = !Approved && !Cancelled;

                        var LastStatus = Approved ? "<span class='label label-primary'>Approved</span>" : (Cancelled ? "<span class='label label-danger'>Cancelled</span>" : (Expired ? "<span class='label label-warning'>Expired</span>" : "<span class='label label-info'>Pending</span>"));
                        var LastUser = Cancelled ? Model.HighRiskRequests[i]._Cancel : Approved ? Model.HighRiskRequests[i]._Approver : Model.HighRiskRequests[i].ModifiedBy != null ? Model.HighRiskRequests[i]._Modifier : Model.HighRiskRequests[i]._Creator;
                        var LastDate = Cancelled ? Model.HighRiskRequests[i].CancelledOn : Approved ? Model.HighRiskRequests[i].ApprovedOn : Model.HighRiskRequests[i].ModifiedBy != null ? Model.HighRiskRequests[i].ModifiedOn : Model.HighRiskRequests[i].CreatedOn;

                        <tr id="Row-Display-HighRiskRequests-@Model.HighRiskRequests[i].ID" class="Row-Display Row-Display-HighRiskRequests @RowColorLabel" style="">
                            <td class="text-left">
                                @Html.Hidden("id", Model.HighRiskRequests[i].ID)

                                @Model.HighRiskRequests[i]._Personnel.FullName
                            </td>
                            <td class="text-center">
                                @Html.Raw(String.Format("{0:MMM dd, yyyy}", Model.HighRiskRequests[i].RequestDate))
                            </td>
                            <td style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px;">
                                <text class="font-bold-500" style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px;" title="@Model.HighRiskRequests[i].Reasons">
                                    @Model.HighRiskRequests[i].Reasons
                                </text>
                            </td>
                            <td class="text-center">@Html.Raw(LastStatus)</td>
                            <td class="text-left">
                                @Html.Raw(String.Format("{0}<br/>{1:MM/dd/yyyy hh:mm tt}", LastUser ?? "", LastDate))
                            </td>
                            <td style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px;">
                                <text class="font-bold-500" style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px;" title="@Model.HighRiskRequests[i].CancellationRemarks">
                                    @Model.HighRiskRequests[i].CancellationRemarks
                                </text>
                            </td>
                            @if (PageApprover.Approve)
                            {
                                <td style="width: 160px;" class="row-actions">
                                    <div class="btn-group">
                                        @if (IsPending)
                                        {
                                            <button type="button" name="id" class="btn btn-danger btn-lg btn-rounded CancelRequest" value="@Model.HighRiskRequests[i].ID" title="Disapprove"><i class="fa fa-thumbs-o-down"></i></button>
                                            <button type="button" name="id" class="btn btn-primary btn-lg btn-rounded ApproveRequest" value="@Model.HighRiskRequests[i].ID" title="Approve"><i class="fa fa-check"></i></button>
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr id="No-Row-Display"><td style="text-align: center;" colspan="10">No @PageAccess.PageName found...</td></tr>
                }
                <tr id="Row-Loading-Display" class="hidden">
                    <td style="text-align: center;" colspan="10">
                        <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}