@model WebTemplate.Models.CrewMovement.CrewMovement
@using WebTemplate.Extension
@{
    var CrewPageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("Movement/CrewMovement");

    var deparments = ProcessLayer.Processes.Lookups.DepartmentProcess.Instance.GetList();
    var positions = ProcessLayer.Processes.PositionProcess.Instance.GetList();
    var vessels = ProcessLayer.Processes.VesselProcess.Instance.GetList();

    var showbtn = true;
    DateTime? MovementDate = null;
}

<div class="table-responsive" style="overflow-y: auto; height: 644.523px;">
    <div class="mail-box">
        <table id="CrewTable" class="table table-hover table-mail" style="margin-bottom: 10px;">
            <thead>
                <tr>
                    <th class="text-left">Transaction No.</th>
                    <th class="text-left">Position</th>
                    <th class="text-left">Previous</th>
                    <th class="text-left">Current</th>
                    <th class="text-left">Movement Date</th>
                    <th class="text-left">Remarks</th>
                    <th class="text-left">Created</th>
                    <th class="text-left">Checked</th>
                    <th class="text-left">Posted</th>
                    <th class="text-left">Cancelled</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr id="Row-Loading-Display" class="hidden">
                    <td style="text-align: center;" colspan="6">
                        <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                    </td>
                </tr>
                @if (showbtn)
                {
                    <tr>
                        <td colspan="20" class="text-center">
                            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                                <button id="NewMovementButton" class="btn btn-primary btn-w-m" style="width: 100%;" name="ManageCrewMovement" value="0"><i class="fa fa-plus"></i> New Movement</button>
                            </div>
                        </td>
                    </tr>
                }
                @if (Model.CrewMovements.Count() > 0)
                {
                    for (int i = 0; i < Model.CrewMovements.Count(); i++)
                    {
                        if (Model.CrewMovements.Count() - 1 == i)
                        {
                            showbtn = (new List<int> { 4, 5 }).Contains(Model.CrewMovements[i].Status);
                        }
                        {
                            MovementDate = Model.CrewMovements[i].OnboardDate;
                            //DateTime DateTimeNow = DateTime.Now;
                        }

                        <tr id="@Model.CrewMovements[i].ID" value="@Model.CrewMovements[i].ID" class="Row-Display Row-Display-CrewMovement@(Model.CrewMovements[i].Status == 5 ? " bg-muted" : "")" style="cursor: pointer;@(Model.CrewMovements[i].Status == 5 ? " color: #ccc;" : "")" title="@(Model.CrewMovements[i].Status == 5 ? "This record is CANCELLED." : "")">
                            @*
                    <td class="check-mail"><input type="checkbox" class="i-checks chkPersonnel" title="Select row"></td>*@
                            <td class="text-left">
                                @(Model.CrewMovements[i].TransactionNo.Length > 0 ? Model.CrewMovements[i].TransactionNo : "000000")
                            </td>
                            <td class="text-left">
                                @(positions.Where(x => x.ID == Model.CrewMovements[i].SNPositionID || x.ID == Model.CrewMovements[i].PositionID).Select(y => y.Description).FirstOrDefault())
                            </td>
                            <td>
                                @Html.Raw(@String.Format("{0}{1}{2}{3}", (Model.CrewMovements[i]._PreviousCrewMovement == null ? null : Model.CrewMovements[i]._PreviousCrewMovement.VesselID) != null ? vessels.Where(x => x.ID == Model.CrewMovements[i]._PreviousCrewMovement.VesselID).Select(y => y.Description).FirstOrDefault() : ""
                                    , (Model.CrewMovements[i]._PreviousCrewMovement == null ? null : Model.CrewMovements[i]._PreviousCrewMovement.VesselID) != null ? "<br />" : ""
                                    , (Model.CrewMovements[i]._PreviousCrewMovement == null ? null : Model.CrewMovements[i]._PreviousCrewMovement.SNVesselID) != null ? "<b>SN: </b>" : ""
                                    , (Model.CrewMovements[i]._PreviousCrewMovement == null ? null : Model.CrewMovements[i]._PreviousCrewMovement.SNVesselID) != null ? vessels.Where(x => x.ID == Model.CrewMovements[i]._PreviousCrewMovement.SNVesselID).Select(y => y.Description).FirstOrDefault() : ""))
                            </td>
                            <td>
                                @Html.Raw(@String.Format("{0}{1}{2}{3}", Model.CrewMovements[i].VesselID != null ? vessels.Where(x => x.ID == Model.CrewMovements[i].VesselID).Select(y => y.Description).FirstOrDefault() : "",
                                    Model.CrewMovements[i].VesselID != null ? "<br />" : "", Model.CrewMovements[i].SNVesselID != null ? "<b>SN: </b>" : "",
                                    Model.CrewMovements[i].SNVesselID != null ? vessels.Where(x => x.ID == Model.CrewMovements[i].SNVesselID).Select(y => y.Description).FirstOrDefault() : ""))
                            </td>
                            <td class="text-left">
                                @Html.Raw(String.Format("{0}{1}", MovementDate.ToString() == DateTime.Now.ToString() ? "Today" : String.Format("<b>{0:MMM dd, yyyy}</b>", MovementDate), (MovementDate.ToString() == "" ? "" : " @ ") + String.Format("<b>{0:HH:mm tt}</b>", MovementDate)))
                            </td>
                            <td class="text-left">@Model.CrewMovements[i].Remarks</td>
                            <td class="text-left">
                                @Html.Raw(String.Format("<b>{0}</b><br />{1:MM/dd/yyyy hh:mm tt}", Model.CrewMovements[i]._Creator ?? "N/A", Model.CrewMovements[i].CreatedDate))
                            </td>
                            <td class="text-left">
                                @Html.Raw(String.Format("<b>{0}</b><br />{1:MM/dd/yyyy hh:mm tt}", Model.CrewMovements[i]._Check ?? "N/A", Model.CrewMovements[i].CheckedDate))
                            </td>
                            <td class="text-left">
                                @Html.Raw(String.Format("<b>{0}</b><br />{1:MM/dd/yyyy hh:mm tt}", Model.CrewMovements[i]._Post ?? "N/A", Model.CrewMovements[i].PostedDate))
                            </td>
                            <td class="text-left">
                                @Html.Raw(String.Format("<b>{0}</b><br />{1:MM/dd/yyyy hh:mm tt}", Model.CrewMovements[i]._Cancelled ?? "N/A", Model.CrewMovements[i].CancelledDate))
                            </td>
                            @if (CrewPageAccess.Update || CrewPageAccess.Delete || CrewPageAccess.View)
                            {
                                <td style="" class="row-actions">
                                    <div class="btn-group">
                                        @*@if (i == Model.CrewMovements.Count() - 1)
        {*@
                                        @if (Model.CrewMovements[i].Status < 4)
                                        {
                                            if (CrewPageAccess.Delete)
                                            {
                                                <button id="DeleteCrewMovement" tpj-isLast="false" type="button" name="DeleteCrewMovement" class="btn btn-outline btn-danger btn-sm btn-rounded DeleteCrewMovement" value="@Model.CrewMovements[i].ID" title="Delete Crew Movement" crew-movement-action=""><i class="fa fa-trash fa-1x"></i></button>
                                            }
                                            if (CrewPageAccess.Update || CrewPageAccess.View)
                                            {
                                                <button id="EditCrewMovement" tpj-isLast="false" type="button" name="ManageCrewMovement" class="btn btn-outline btn-success btn-sm btn-rounded ManageCrewMovement" value="@Model.CrewMovements[i].ID" title="Manage Crew Movement"><i class="fa fa-pencil fa-1x"></i></button>
                                            }
                                            @*<button id="EditCrewMovement" tpj-isLast="false" type="button" name="ViewCrewMovement" class="btn btn-outline btn-success btn-sm btn-rounded ViewCrewMovement" value="@Model.CrewMovements[i].ID" title="View Crew Movement"><i class="fa fa-eye fa-1x"></i></button>*@
                                        }
                                        else
                                        {
                                            <button id="EditCrewMovement" tpj-isLast="@(Model.CrewMovements[i].IsLast ? "true" : "")" yow="" type="button" name="ViewCrewMovement" class="btn btn-outline btn-success btn-sm btn-rounded ViewCrewMovement" value="@Model.CrewMovements[i].ID" title="View Crew Movement"><i class="fa fa-eye fa-1x"></i></button>
                                            @*<button id="CancelCrewMovement" type="button" name="CancelCrewMovement" class="btn btn-outline btn-danger btn-sm btn-rounded CancelCrewMovement" value="@Model.CrewMovements[i].ID" title="Cancel Crew Movement"><i class="fa fa-ban fa-1x"></i></button>*@
                                        }
                                        @*}
        else
        {
            <button id="EditCrewMovement" tpj-isLast="false" type="button" name="ViewCrewMovement" class="btn btn-outline btn-success btn-sm btn-rounded ViewCrewMovement" value="@Model.CrewMovements[i].ID" title="View Crew Movement"><i class="fa fa-eye fa-1x"></i></button>
        }*@
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr id="No-Row-Display"><td style="text-align: center;" colspan="10">No Crew Movement found...</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>