@model ProcessLayer.Entities.Crew
@{
    var CrewPageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("HumanResource/CrewCrewMovement");
}

<tr id="Row-Display-Crew-@Model.ID" class="Row-Display Row-Display-Crew read" style="" title="">
    @*<td class="check-mail">
            <input type="checkbox" class="i-checks chkPersonnel" title="Select row">
        </td>*@
    <td style="text-align: left;" nowrap>
        <input type="hidden" value="@Model.ID" />
    @Html.Raw(@String.Format("<b>{0}</b> <text>- {1}</text>", "" ?? "", "" ?? ""))
    </td>
    @if (CrewPageAccess.Update || CrewPageAccess.Delete || CrewPageAccess.View)
    {
    <td style="" class="row-actions">
        <div class="btn-group">
            @*//if (CrewPageAccess.Update || CrewPageAccess.View)
            //{
            //    if (CrewPageAccess.Update)
            //    {
            //        <button type="button" name="EditCrew" class="btn btn-info btn-sm btn-rounded EditCrew" value="@Model.ID" title="Edit"><i class="fa fa-pencil"></i></button>
            //    }
            //    else if (CrewPageAccess.View)
            //    {
            //        <button type="button" name="ViewMembers" class="btn btn-primary btn-sm btn-rounded ViewMembers" value="@Model.ID" title="View Members"><i class="fa fa-eye"></i></button>
            //    }
            //}
            //if (CrewPageAccess.Delete)
            //{
            //    <button type="button" name="DeleteCrew" class="btn btn-outline btn-danger btn-sm btn-rounded DeleteCrew" value="@Model.ID" title="Delete"><i class="fa fa-trash"></i></button>
            //}*@
                  


              <button type="button" name="ViewCrewMovement" class="btn btn-outline btn-success btn-sm btn-rounded ViewCrewMovement" value="@Model.ID" title="View Crew Movement"><i class="fa fa-ship fa-1x"></i></button>
              <button type="button" name="ViewCrews" class="btn btn-outline btn-info btn-sm btn-rounded ViewCrews" value="@Model.ID" title="View Crews"><i class="fa fa-group fa-1x"></i></button>
        </div>
    </td>
    }
</tr>

