@model ProcessLayer.Entities.CrewMovement

@{
    var CrewPageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("Movement/CrewMovement");
}

<tr id="@Model.ID" class="Row-Display Row-Display-CrewMovement" style="cursor: pointer" title="">
    @*<td class="check-mail">
            <input type="checkbox" class="i-checks chkPersonnel" title="Select row">
        </td>*@
    <td>
        @(Model.TransactionNo.Length > 0 ? Model.TransactionNo : "000000")
    </td>
    <td>
        @Html.Raw(@String.Format("{0}{1}{2}", Model._PreviousCrewMovement._Vessel.Description, String.IsNullOrEmpty(Model._PreviousCrewMovement._SNVessel.Description) ? "<br/>" : "", Model._PreviousCrewMovement._SNVessel.Description ?? ""))
    </td>
    <td>
        @Html.Raw(@String.Format("{0}{1}{2}", Model._Vessel.Description, String.IsNullOrEmpty(Model._SNVessel.Description) ? "<br/>" : "", Model._SNVessel.Description ?? ""))
    </td>
    <td>
        @{
            DateTime? MovementDate = Model.OnboardDate;
            DateTime DateTimeNow = DateTime.Now;
        }
        @Html.Raw(String.Format("{0}{1}", MovementDate.ToString() == DateTime.Now.ToString() ? "Today" : String.Format("<b>{0:MMM dd, yyyy}</b>", MovementDate), (MovementDate.ToString() == "" ? "" : " @ ") + String.Format("<b>{0:HH:mm tt}</b>", MovementDate)))
    </td>
    <td>
        @Model.Remarks
    </td>
    @if (CrewPageAccess.Update || CrewPageAccess.Delete || CrewPageAccess.View)
    {
        <td style="" class="row-actions">
            <div class="btn-group">
                @if (CrewPageAccess.Update || CrewPageAccess.View)
                {
                    <button id="EditCrewMovement" tpj-islast="yow" type="button" name="EditCrewMovement" class="btn btn-outline btn-success btn-sm btn-rounded EditCrewMovement" value="@Model.ID" title="Edit Crew Movement" crew-movement-action=""><i class="fa fa-pencil fa-1x"></i></button>
                }
            </div>
        </td>
    }
</tr>
