@model ProcessLayer.Entities.CrewMovement
@using WebTemplate.Extension
@{
    var c = User as WebTemplate.Models.CustomPrincipal;
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var CrewPageAccess = credential.GetPage("Movement/CrewMovement") ?? new DataAccessLayer.System.Page();
    var CrewCreatorAccess = credential.GetPage("Crew Movement Creator") ?? new DataAccessLayer.System.Page();
    var CrewModifyAccess = credential.GetPage("Crew Movement Modify") ?? new DataAccessLayer.System.Page();
    var CrewCheckAccess = credential.GetPage("Crew Movement Check") ?? new DataAccessLayer.System.Page();
    var CrewNoteAccess = credential.GetPage("Crew Movement Note") ?? new DataAccessLayer.System.Page();
    var CrewPostAccess = credential.GetPage("Crew Movement Post") ?? new DataAccessLayer.System.Page();
    var CrewCancelAccess = credential.GetPage("Crew Movement Cancel") ?? new DataAccessLayer.System.Page();
    var CrewPrintAccess = credential.GetPage("Crew Movement Print") ?? new DataAccessLayer.System.Page();
    var CrewEditPostedAccess = credential.GetPage("Crew Edit Posted") ?? new DataAccessLayer.System.Page();

    var departments = ProcessLayer.Processes.Lookups.DepartmentProcess.Instance.Value.GetList();
    var positions = ProcessLayer.Processes.PositionProcess.Instance.Value.GetList();
    var vessels = ProcessLayer.Processes.VesselProcess.Instance.Value.GetList();

    string Description = "", Label = "", HiddenID = "", Name = "";

    int? ID = 0;
    bool editPosted = ViewBag.EditPosted ?? false;
}

<div id="NewCrewMovementParameters" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0; margin-bottom: 0px;">
    <input type="hidden" value="@Model.ID" name="ID" />
    <input type="hidden" value="@Model.PersonnelID" name="PersonnelID" />

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 m-b-md">
        <button id="BackCrewMovement" type="button" class="btn SaveCrewMovement" title="Back"><i class="fa fa-reply"></i> Back</button>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 m-b-md save-crew-movement-sm">
        @if ((Model.Status == 1 && CrewCheckAccess.Approve) || (Model.Status == 2 && CrewNoteAccess.Approve) || (Model.Status == 3 && CrewPostAccess.Approve))
        {
            switch (Model.Status)
            {
                case 1:
                    <button id="CrewMovementStatus" type="button" class="btn btn-primary btn-outline pull-right CrewMovementStatus m-r-sm" title="Check"><i class="fa fa-check"></i> Check</button>
                    break;
                case 2:
                    @*<button id="CrewMovementStatus" type="button" class="btn btn-primary btn-outline pull-right CrewMovementStatus m-r-sm" title="Note"><i class="fa fa-pencil"></i> Note</button>*@
                    <button id="CrewMovementStatus" type="button" class="btn btn-primary btn-outline pull-right CrewMovementStatus m-r-sm" title="Post"><i class="fa fa-thumb-tack"></i> Post</button>
                    break;
                case 3:
                    @*<button id="CrewMovementStatus" type="button" class="btn btn-primary btn-outline pull-right CrewMovementStatus m-r-sm" title="Post"><i class="fa fa-thumb-tack"></i> Post</button>*@
                    break;
            }
        }
        @if ((Model.Status <= 1 && (CrewCreatorAccess.Insert || CrewCreatorAccess.Update)))
        {
            @*<i id="SaveCrewMovement" class="fa fa-@(Model.Status == 0 ? "save" : Model.Status == 1 ? "" : "") fa-3x m-r-sm text-primary pull-right SaveCrewMovement" title="Save"></i>*@
            <button id="SaveCrewMovement" tpj-save="New" type="button" class="btn btn-primary pull-right SaveCrewMovement m-r-sm" title="Save"><i class="fa fa-save"></i> Save</button>
        }
        @if (CrewCancelAccess.Approve && Model.Status == 2)
        {
            <button id="CancelMovementButton" type="button" class="btn btn-danger pull-right CancelMovementButton m-r-sm" title="Cancel"><i class="fa fa-ban"></i> Cancel</button>
        }
        @if (Model.Status == 4)
        {
            if (CrewPrintAccess.Approve && !editPosted)
            {
                <button id="PrintMovementButton" type="button" class="btn btn-primary pull-right PrintMovementButton" title="Print"><i class="fa fa-print"></i> Print</button>
            }
            if (CrewEditPostedAccess.Approve)
            {
                if (!editPosted)
                {
                    <button id="EditMovementButton" type="button" class="btn btn-info pull-right EditMovementButton m-r-sm" title="Edit"><i class="fa fa-pencil"></i> Edit</button>
                }
                else
                {
                    if (CrewCreatorAccess.Insert || CrewCreatorAccess.Update)
                    {
                        <button id="UpdatePostedCrewMovement" tpj-save="Update" type="button" class="btn btn-primary pull-right UpdatePostedCrewMovement m-r-sm" title="Save"><i class="fa fa-save"></i> Save</button>
                    }
                    <button id="CancelEditingMovementButton" name="ViewCrewMovement" type="button" class="btn btn-danger pull-right CancelEditingMovementButton m-r-sm" value="@Model.ID" title="Cancel Editing"><i class="fa fa-ban"></i> Cancel Editing</button>
                }
            }
            if (CrewCancelAccess.Approve && ViewBag.IsLast && !editPosted)
            {
                <button id="CancelMovementButton" type="button" class="btn btn-danger pull-right CancelMovementButton m-r-sm" title="Cancel"><i class="fa fa-ban"></i> Cancel</button>
            }
        }
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-xs">
        <label class="control-label">Transaction No:</label>
        <input type="hidden" id="TransactionNo" value="@Model.TransactionNo" class="form-control" name="TransactionNo" max="6" />
        <h3 style="margin: 0;"><u>@Model.TransactionNo</u></h3>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-xs">
        <label class="control-label">Date/Time</label>
        @if (CrewPageAccess.Insert || CrewPageAccess.Update)
        {
            if (Model.Status < 1)
            {
                @Html.TextBoxFor(m => m.OnboardDate, String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.OnboardDate), new { @class = "form-control js-datetimepicker", @placeholder = "" })
            }
            else
            {
                @Html.TextBoxFor(m => m.OnboardDate, String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.OnboardDate), new { @class = "form-control js-datetimepicker", @placeholder = "", @readonly = "readonly", @data_format = "MM/dd/yyyy hh:mm:ss PP" })
            }
        }
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 m-t-md save-crew-movement-lg">
        @if ((Model.Status == 1 && CrewCheckAccess.Approve) || (Model.Status == 2 && CrewNoteAccess.Approve) || (Model.Status == 3 && CrewPostAccess.Approve))
        {
            switch (Model.Status)
            {
                case 1:
                    <button id="CrewMovementStatus" type="button" class="btn btn-primary btn-outline pull-right CrewMovementStatus m-r-sm" title="Check"><i class="fa fa-check"></i> Check</button>
                    break;
                case 2:
                    @*<button id="CrewMovementStatus" type="button" class="btn btn-primary btn-outline pull-right CrewMovementStatus m-r-sm" title="Note"><i class="fa fa-pencil"></i> Note</button>*@
                    <button id="CrewMovementStatus" type="button" class="btn btn-primary btn-outline pull-right CrewMovementStatus m-r-sm" title="Post"><i class="fa fa-thumb-tack"></i> Post</button>
                    break;
                case 3:
                    @*<button id="CrewMovementStatus" type="button" class="btn btn-primary btn-outline pull-right CrewMovementStatus m-r-sm" title="Post"><i class="fa fa-thumb-tack"></i> Post</button>*@
                    break;
            }
        }
        @if ((Model.Status <= 1 && (CrewCreatorAccess.Insert || CrewCreatorAccess.Update)))
        {
            @*<i id="SaveCrewMovement" class="fa fa-@(Model.Status == 0 ? "save" : Model.Status == 1 ? "" : "") fa-3x m-r-sm text-primary pull-right SaveCrewMovement" title="Save"></i>*@
            <button id="SaveCrewMovement" tpj-save="New" type="button" class="btn btn-primary pull-right SaveCrewMovement m-r-sm" title="Save"><i class="fa fa-save"></i> Save</button>
        }
        @if (CrewCancelAccess.Approve && Model.Status == 2)
        {
            <button id="CancelMovementButton" type="button" class="btn btn-danger pull-right CancelMovementButton m-r-sm" title="Cancel"><i class="fa fa-ban"></i> Cancel</button>
        }
        @if (Model.Status == 4)
        {
            if (CrewPrintAccess.Approve && !editPosted)
            {
                <button id="PrintMovementButton" type="button" class="btn btn-primary pull-right PrintMovementButton m-r-sm" title="Print"><i class="fa fa-print"></i> Print</button>
            }
            if (CrewEditPostedAccess.Approve)
            {
                if (!editPosted)
                {
                    <button id="EditMovementButton" type="button" class="btn btn-info pull-right EditMovementButton m-r-sm" title="Edit"><i class="fa fa-pencil"></i> Edit</button>
                }
                else
                {
                    if (CrewCreatorAccess.Insert || CrewCreatorAccess.Update)
                    {
                        <button id="UpdatePostedCrewMovement" tpj-save="Update" type="button" class="btn btn-primary pull-right UpdatePostedCrewMovement m-r-sm" title="Save"><i class="fa fa-save"></i> Save</button>
                    }
                    <button id="CancelEditingMovementButton" name="ViewCrewMovement" type="button" class="btn btn-danger pull-right CancelEditingMovementButton m-r-sm" value="@Model.ID" title="Cancel Editing"><i class="fa fa-ban"></i> Cancel Editing</button>
                }
            }
            if (CrewCancelAccess.Approve && ViewBag.IsLast && !editPosted)
            {
                <button id="CancelMovementButton" type="button" class="btn btn-danger pull-right CancelMovementButton m-r-sm" title="Cancel"><i class="fa fa-ban"></i> Cancel</button>
            }
        }
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">
    @if (Model.Status < 5)
    {
        <div class="md-stepper-horizontal green">
            <div class="md-step @(Model.Status >= 1 ? "active " : "")done1">
                <div class="md-step-circle"></div>
                <div class="md-step-title">Created</div>
                <div class='md-step-optional'>@Html.Raw(Model.Status >= 1 ? Model._Creator : "&nbsp;"), @Html.Raw(Model.Status >= 1 ? String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CreatedDate) + "" : "&nbsp;")</div>
                @*<div class='md-step-optional'>@Html.Raw(Model.Status >= 1 ? String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CreatedDate) + "" : "&nbsp;")</div>*@
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step @(Model.Status >= 2 ? "active " : "")done2">
                <div class="md-step-circle"></div>
                <div class="md-step-title">Checked</div>
                <div class='md-step-optional'>@Html.Raw(Model.Status >= 2 ? Model._Check : "&nbsp;"), @Html.Raw(Model.Status >= 2 ? String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CheckedDate) + "" : "&nbsp;")</div>
                @*<div class='md-step-optional'>@Html.Raw(Model.Status >= 2 ? String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CheckedDate) + "" : "&nbsp;")</div>*@
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
            @*<div class="md-step @(Model.Status >= 3 ? "active " : "")done3">
                    <div class="md-step-circle"></div>
                    <div class="md-step-title">Noted</div>
                    <div class='md-step-optional'>@Html.Raw(Model.Status >= 3 ? Model._Note : "&nbsp;")</div>
                    <div class='md-step-optional'>@Html.Raw(Model.Status >= 3 ? String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.NotedDate) + "" : "&nbsp;")</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>*@
            <div class="md-step @(Model.Status >= 4 ? "active " : "")done4">
                <div class="md-step-circle"></div>
                <div class="md-step-title">Posted</div>
                <div class='md-step-optional'>@Html.Raw(Model.Status >= 4 ? Model._Post : "&nbsp;"), @Html.Raw(Model.Status >= 4 ? String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.PostedDate) + "" : "&nbsp;")</div>
                @*<div class='md-step-optional'>@Html.Raw(Model.Status >= 4 ? String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.PostedDate) + "" : "&nbsp;")</div>*@
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
        </div>
    }
    else
    {
        <div class="md-stepper-horizontal orange">
            <div class="md-step active done5">
                <div class="md-step-circle">
                </div>
                <div class="md-step-title">Cancelled</div>
                <div class='md-step-optional'>@Model._Cancelled, @String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CancelledDate)</div>
                @*<div class='md-step-optional'>@String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CancelledDate)</div>*@
                <div class="md-step-bar-left"></div>
                @*<div class="md-step-bar-right"></div>*@
            </div>
        </div>
    }
</div>

@*Vessel*@
<div id="VesselsDiv" style="min-height: 252.45px; display: flex; float: left; width: 100%; ">
    <input type="hidden" name="PreviousCrewMovementID" value="@Model.PreviousCrewMovementID" />

    <div style="border: 1px solid #ccc; padding: 5px 0; width: 50%;">
        <h3 style="margin: 0 0 10px; text-align: center; text-transform: uppercase;">Previous</h3>

        @for (int i = 0; i < 3; i++)
        {
            switch (i)
            {
                case 0:
                    ID = Model._PreviousCrewMovement != null ? Model._PreviousCrewMovement.DepartmentID : 0;
                    Label = "Department";
                    Description = !string.IsNullOrEmpty(ID.ToString()) ? departments.Where(x => x.ID == ID).Select(x => x.Description).FirstOrDefault() : null;
                    break;
                case 1:
                    ID = Model._PreviousCrewMovement != null ? Model._PreviousCrewMovement.PositionID : 0;
                    Label = "Position";
                    Description = !string.IsNullOrEmpty(ID.ToString()) ? positions.Where(x => x.ID == ID).Select(x => x.FullDisplay).FirstOrDefault() : null;
                    break;
                case 2:
                    ID = Model._PreviousCrewMovement != null ? Model._PreviousCrewMovement.VesselID : 0;
                    Label = "Vessel";
                    Description = !string.IsNullOrEmpty(ID.ToString()) ? vessels.Where(x => x.ID == ID).Select(x => x.Description).FirstOrDefault() : null;
                    break;
            }

            HiddenID = "HiddenPrevious" + Label + "ID";
            Name = "Previous" + Label + "ID";

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
                <label class="control-label">@Label</label>
                <input type="hidden" id="@HiddenID" value="@ID" name="@Name" />
                <h3 style="margin: 0;" title="@(Description ?? "")">@Html.Raw(Description ?? "&nbsp;")</h3>
            </div>
        }

        @if (Model._PreviousCrewMovement?.VesselID != null)
        {
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
                <label class="control-label">Daily Rate</label>
                <h3 class="autonumeric">@(Model._PreviousCrewMovement?.DailyRate ?? 0)</h3>
            </div>
        }
    </div>

    <div style="border: 1px solid #ccc; padding: 5px 0; width: 50%;">
        <h3 style="margin: 0 0 10px; text-align: center; text-transform: uppercase;">Current</h3>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
            <label class="control-label">
                @Html.CheckBoxFor(m => m.DryDock, new { @class = "i-checks chkRow" }) Dry Dock
            </label>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
            <label class="control-label">Department</label>
            @if (((Model.Status <= 1 && (CrewPageAccess.Insert || CrewPageAccess.Update)) || editPosted) && (Model._PreviousCrewMovement == null || Model._PreviousCrewMovement.SNVesselID == null))
            {
                @Html.DropDownListFor(m => m.DepartmentID, new SelectList(departments, "ID", "Description"), "N/A", new { @class = "form-control " })
            }
            else
            {
                <input type="hidden" id="HiddenDepartmentID" value="@Model.DepartmentID" name="DepartmentID" crew-department-action="New" />
                <h3 style="margin: 0;" title="@Html.Raw(Model._Department.CheckIfNull<ProcessLayer.Entities.Department>().Description ?? "")">@Html.Raw(Model._Department.CheckIfNull<ProcessLayer.Entities.Department>().Description ?? "&nbsp;")</h3>
            }
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
            <label class="control-label">Position</label>
            @if (((Model.Status <= 1 && (CrewPageAccess.Insert || CrewPageAccess.Update)) || editPosted) && (Model._PreviousCrewMovement == null || Model._PreviousCrewMovement.SNVesselID == null))
            {
                @Html.DropDownListFor(m => m.PositionID, new SelectList(positions, "ID", "FullDisplay"), "N/A", new { @class = "form-control" })
            }
            else
            {
                <input type="hidden" id="HiddenPositionID" value="@Model.PositionID" name="PositionID" crew-position-action="New" />
                <h3 style="margin: 0;" title="@Html.Raw(Model._Position.CheckIfNull<ProcessLayer.Entities.Position>().Description ?? "")">@Html.Raw(Model._Position.CheckIfNull<ProcessLayer.Entities.Position>().Description ?? "&nbsp;")</h3>
            }
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
            <label class="control-label">Vessel</label>
            @if (((Model.Status <= 1 && (CrewPageAccess.Insert || CrewPageAccess.Update))) && (Model._PreviousCrewMovement == null || Model._PreviousCrewMovement.SNVesselID == null) && Model.PostedBy == null)
            {
                @Html.DropDownListFor(m => m.VesselID, new SelectList(vessels, "ID", "Description"), "N/A", new { @class = "form-control text-transform-none" })
            }
            else
            {
                <input type="hidden" id="HiddenVesselID" value="@Model.VesselID" name="VesselID" crew-position-action="New" />
                <h3 style="margin: 0;" title="@Html.Raw(Model._Vessel.CheckIfNull<ProcessLayer.Entities.Vessel>().Description ?? "")">@Html.Raw(Model._Vessel.CheckIfNull<ProcessLayer.Entities.Vessel>().Description ?? "&nbsp;")</h3>
            }
        </div>

        @if (Model.Status == 2 && Model.VesselID != null)
        {
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
                <label class="control-label">Daily Rate</label>
                @Html.TextBoxFor(m => m.DailyRate, new { @class = "form-control autonumeric", @placeholder = "Daily Rate..." })
            </div>
        }
    </div>
</div>

@*SN*@
<div id="SNVesselsDiv" style="min-height: 183.47px; display: flex; float: left; width: 100%; ">
    @* SN *@
    <div style="border: 1px solid #ccc; padding: 5px 0; width: 50%;">
        <h3 style="margin: 0 0 10px; text-align: center; text-transform: uppercase;">SN</h3>

        @for (int i = 0; i < 2; i++)
        {
            switch (i)
            {
                case 0:
                    ID = Model._PreviousCrewMovement != null ? Model._PreviousCrewMovement.SNPositionID : 0;
                    Label = "Position";
                    Description = !string.IsNullOrEmpty(ID.ToString()) ? positions.Where(x => x.ID == ID).Select(x => x.FullDisplay).FirstOrDefault() : null;
                    break;
                case 1:
                    ID = Model._PreviousCrewMovement != null ? Model._PreviousCrewMovement.SNVesselID : 0;
                    Label = "Vessel";
                    Description = !string.IsNullOrEmpty(ID.ToString()) ? vessels.Where(x => x.ID == ID).Select(x => x.Description).FirstOrDefault() : null;
                    break;
            }

            HiddenID = "HiddenPreviousSN" + Label + "ID";
            Name = "PreviousSN" + Label + "ID";

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
                <label class="control-label">@Label</label>
                <input type="hidden" id="@HiddenID" value="@ID" name="@Name" />
                <h3 style="margin: 0;" title="@(Description ?? "")">@Html.Raw(Description ?? "&nbsp;")</h3>
            </div>
        }
        
        @if (Model._PreviousCrewMovement?.SNVesselID != null)
        {
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
                <label class="control-label">SN Daily Rate</label>
                <h3 class="autonumeric">@(Model._PreviousCrewMovement?.SNDailyRate ?? 0)</h3>
            </div>
        }
    </div>

    @* SN *@
    <div style="border: 1px solid #ccc; padding: 5px 0; width: 50%;">
        <h3 style="margin: 0 0 10px; text-align: center; text-transform: uppercase;">SN</h3>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
            <label class="control-label">Position</label>
            @if (((Model.Status <= 1 && (CrewPageAccess.Insert || CrewPageAccess.Update)) || editPosted) && ((Model.SNVesselID != null && Model.PostedBy != null) || Model.PostedBy == null))
            {
                @Html.DropDownListFor(m => m.SNPositionID, new SelectList(positions, "ID", "FullDisplay"), "N/A", new { @class = "form-control" })
            }
            else
            {
                <input type="hidden" id="HiddenSNPositionID" value="@Model.SNPositionID" name="SNPositionID" crew-position-action="New" />
                <h3 style="margin: 0;" title="@Html.Raw(Model._SNPosition.CheckIfNull<ProcessLayer.Entities.Position>().Description ?? "")">@Html.Raw(Model._SNPosition.CheckIfNull<ProcessLayer.Entities.Position>().Description ?? "&nbsp;")</h3>
            }
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
            <label class="control-label">Vessel</label>
            @if ((Model.Status <= 1 && (CrewPageAccess.Insert || CrewPageAccess.Update)) && Model.PostedBy == null)
            {
                @Html.DropDownListFor(m => m.SNVesselID, new SelectList(vessels, "ID", "Description"), "N/A", new { @class = "form-control text-transform-none" })
            }
            else
            {
                <input type="hidden" id="HiddenSNVesselID" value="@Model.SNVesselID" name="SNVesselID" crew-position-action="New" />
                <h3 style="margin: 0;" title="@Html.Raw(Model._SNVessel.CheckIfNull<ProcessLayer.Entities.Vessel>().Description ?? "")">@Html.Raw(Model._SNVessel.CheckIfNull<ProcessLayer.Entities.Vessel>().Description ?? "&nbsp;")</h3>
            }
        </div>

        @if (Model.Status == 2 && Model.SNVesselID != null)
        {
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;">
                <label class="control-label">SN Daily Rate</label>
                @Html.TextBoxFor(m => m.SNDailyRate, new { @class = "form-control autonumeric", @placeholder = "SN Daily Rate..." })
            </div>
        }
    </div>
</div>

@* Previous *@
<!--<div id="PreviousMovementDiv" class="form-group col-xs-12 col-sm-6 col-md-offset-2 col-md-4 col-lg-4" style="padding: 0; margin-bottom: 0px;">
    

</div>-->

@* Current *@
<!--<div id="CurrentMovementDiv" class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding: 0; margin-bottom: 0px;">
</div>-->

@* Remarks *@
<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-8" style="border: 1px solid #ccc; padding: 10px;">
    <label class="control-label">Remarks</label>
    @if ((Model.Status <= 1 && (CrewPageAccess.Insert || CrewPageAccess.Update)) || editPosted)
    {
        @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @rows = "1", @placeholder = "Remarks...", @style = "resize: none;" })
    }
    else
    {
        @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @rows = "1", @placeholder = "Remarks...", @style = "resize: none;", @readonly = "readonly" })
    }
</div>

@using (Html.BeginForm("PrintCrewMovementForm", "CrewMovement", FormMethod.Post, new { @target = "_blank" }))
{
    <input type="hidden" value="@Model.ID" name="id" />
    <button type="submit" id="PrintMovementButtonSubmit" style="display: none;">Print Movement</button>
}
