@model WebTemplate.Models.Maintenance.Systems.NavMenu.Management
@{
    var entity = new DataAccessLayer.System.NavMenu();
    var navmenu = entity.LookupNavMenu();
}

<div class="modal-header">
    <h5 class="modal-title">Navigation Menu Management</h5>
</div>
<div class="modal-body">
    <div class="row">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.NavMenu.ID)

        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
            @Html.LabelFor(m => m.NavMenu.NavIconClass, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.NavMenu.NavIconClass, new { @class = "form-control text-transform-none" })
            <div class="text-danger">
                @Html.ValidationMessageFor(m => m.NavMenu.NavIconClass)
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
            @Html.LabelFor(m => m.NavMenu.NavTitle, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.NavMenu.NavTitle, new { @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(m => m.NavMenu.NavTitle)
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
            @Html.LabelFor(m => m.NavMenu.NavParentMenu, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.NavMenu.NavParentMenu, new SelectList(navmenu, "ID", "NavTitle"), "N/A", new { @class = "form-control" })
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
            @Html.LabelFor(m => m.NavMenu.NavOrder, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.NavMenu.NavOrder, new { @class = "form-control touchspin" })
            <div class="text-danger">
                @Html.ValidationMessageFor(m => m.NavMenu.NavOrder)
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-outline btn-w-m font-bold-700" data-dismiss="modal" onclick="search()">Close</button>
    <button type="button" class="btn btn-primary btn-w-m font-bold-700" id="btnsave">Save</button>
</div>