@model WebTemplate.Models.Kiosk.Outer_Port_Request.Index

@{
    var c = User as WebTemplate.Models.CustomPrincipal;
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var locations = ProcessLayer.Processes.LocationProcess.Instance.GetList();
    var CreatorAccess = credential.GetPage("Creator OuterPort Request") ?? new DataAccessLayer.System.Page();
}

<!--if (CreatorAccess.View)
{
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">
        <label class="control-label" style="width: 100%; color: #fff;">Search</label>-->
@*<button type="button" id="ShowAllOuterPortRequests" tpj-show-tab="#tab-2" class="btn btn-primary font-bold pull-right" title="Show OuterPort Requests for Approval"><i class="fa fa-list"></i>&nbsp;&nbsp;Show OuterPort Requests for Approval</button>*@
<!--</div>
}-->

<div id="form_by_personnel" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
    @Html.Hidden("PesonnelIdHidden")
    <div id="SearchPersonnelDiv" class="input-group m-b-sm" style="width: 100%;">
        <input id="SearchPersonnelInput" class="form-control" placeholder="Search Personnel..." onkeydown="" />
        <span class="input-group-addon" id="SearchPersonnel" onclick="SearchPersonnel();" style="cursor: pointer;"><i class="fa fa-search"></i></span>
    </div>
    <div id="SearchTableDiv">
        <div class="" style="max-height: 600px; overflow-y: scroll;">
            <table id="PersonnelsTable" class="table table-stripped table-bordered" style="max-height: 500px;">
                <thead>
                    <tr>
                        <th style="text-align: center;" scope="col">Personnel</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="form_save" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
    @Html.Hidden("PersonnelID", Model.Approver.ID, new { @class = "form-control" })

    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
        <label class="control-label">
            @Html.CheckBox("IsHighRisk", false, new { @class = "i-checks ottype-checkbox form-control" })
            High Risk
        </label>
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="">
        <label class="control-label">
            @Html.CheckBox("HasQuarantine", false, new { @class = "i-checks hasquarantine-checkbox form-control" })
            Has Quarantine
        </label>
    </div>

    <div id="QuarantineDateEndDiv" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: none;">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 0;">
            <label class="control-label">Quarantine Date End</label>
            @Html.TextBox("QuarantineDateEnd", null, new { @type = "date", @class = "form-control" })
        </div>
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <label class="control-label">OuterPort Type</label>
        @Html.DropDownList("LocationID", new SelectList(locations, "ID", "Description"), "N/A", new { @class = "form-control" })
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <label class="control-label">Start Date</label>
        @Html.TextBox("StartDate", String.Format("{0:yyyy'-'MM'-'dd}", Model.StartDateTime), new { @type = "date", @class = "form-control" })
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <label class="control-label">End Date</label>
        @Html.TextBox("EndDate", String.Format("{0:yyyy'-'MM'-'dd}", Model.EndingDateTime), new { @type = "date", @class = "form-control" })
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label class="control-label">Reasons</label>
        @Html.TextArea("Purpose", "", new { @class = "form-control form-control", @rows = "4", @placeholder = "Purpose..." })
    </div>

    @if (CreatorAccess.Update || CreatorAccess.Insert)
    {
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" id="CreateOuterPortRequest" class="btn btn-primary font-bold pull-right" onclick="SaveOuterPortRequest()" title="Save"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
        </div>
    }
</div>
