@model WebTemplate.Models.Maintenance.Lookup.Allowance.Index

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2 class="heading-main-title">@ViewBag.Page.PageName</h2>
        <ol class="breadcrumb">
            <li><a class="toggleSpinners" href="@Url.Action("Index", "Home")">Home</a></li>
            <li>Maintenance</li>
            <li class="active"><strong>@ViewBag.Page.PageName</strong></li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="view-table-allowance">
                                @Html.Partial("~/Views/Maintenance/Lookup/Allowance/_Search.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal custom-modal" id="modal-allowance" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInDown modal-width-60">
                <div id="modal_div_lookup"></div>
            </div>
        </div>
    </div>
</div>

<div id="floating-buttons" class="menu pmd-floating-action" role="navigation">
    <button type="button" class="btn btn-lg btn-circle pmd-floating-action-btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Create New" onclick="manage_allowance()">
        <i class="fa fa-plus"></i>
    </button>
</div>


@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/footableStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section scripts{
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/dataPicker")

    <script type="text/javascript">

        $(document).ready(function () {
            AddAutoNumeric('.autonumeric');
        });

        function get_allowance() {
            $.ajax({
                url: '@Url.Action("Index", "Maintenance/Lookup/Allowance")',
                data: {
                    Filter: $('#view-txt-search').val()
                },
                type: "POST",
                cache: false,
                beforeSend: function () {
                    ShowLoadingScreen()
                },
                complete: function () {
                    RemoveLoadingScreen()
                },
                success: function (response) {
                    if (response.ErrorMsg != null) {
                        toastr.error(response.ErrorMsg, "Backend Error");
                    }
                    else {
                        $('#view-table-allowance').html(response);
                        DestroyAutoNumeric('.autonumeric');
                        AddAutoNumeric('.autonumeric');
                    }
                },
                error: function () {
                    toastr.error('AJAX backend error', 'An error has occured.');
                }
            });
        }
        function manage_allowance(id) {
            $.ajax({
                url: '@Url.Action("Management", "Maintenance/Lookup/Allowance")',
                data: { uid: id },
                type: "POST",
                cache: false,
                beforeSend: function () {
                    ShowLoadingScreen()
                },
                complete: function () {
                    RemoveLoadingScreen()
                },
                success: function (response) {
                    if (response.ErrorMsg != null) {
                        toastr.error(response.ErrorMsg, "Backend Error");
                    }
                    else {
                        $('#modal_div_lookup').html(response);
                        AddAutoNumeric('.autonumeric');
                        $('#modal-allowance .modal-title').text(id == null ? "Add Allowance" : "Edit Allowance");
                        $('#modal-allowance').modal('show');

                        $('#btn-save').off('click').on('click', function () {
                            $('input.autonumeric').each(function () {
                                if (HasAutoNumeric(this)) {
                                    var _elementValue = GetAutoNumericValue(this);
                                    DestroyAutoNumeric(this);
                                    $(this).val(_elementValue);
                                }
                            });
                            $('#form').submit();
                        });
                    }
                },
                error: function () {
                    toastr.error('AJAX backend error', 'An error has occured.');
                }
            });
        }
        function delete_allowance(id) {
            $.ajax({
                url: '@Url.Action("Delete", "Maintenance/Lookup/Allowance")',
                data: { uid: id },
                type: "POST",
                cache: false,
                beforeSend: function () {
                    ShowLoadingScreen()
                },
                complete: function () {
                    RemoveLoadingScreen()
                },
                success: function (response) {
                    if (response.IsSuccess) {
                        toastr.success("Item has been successfully deleted!");
                        get_allowance();
                    }
                    else {
                        toastr.error(response.ErrorMsg, "Backend Error");
                    }
                },
                error: function () {
                    toastr.error('AJAX backend error', 'An error has occured.');
                }
            });
        }
        function createupdate_allowance_success(response) {
            if (response != null) {
                if (response.IsSuccess) {
                    toastr.success("Item has been successfully saved!", "Success");
                    get_allowance();
                    $('#modal-allowance').modal('hide');
                }
                else {
                    toastr.error(response.ErrorMsg, "Backend Error");
                }
            }
            else {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        }
    </script>
}