@model WebTemplate.Models.Payroll.PayrollManagement

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PayrollPageAccess = credential.GetPage("CnB/PayrollSheetA") ?? new DataAccessLayer.System.Page();
    decimal totalTax = 0,
totalAllowance = 0,
totalDedeuctions = 0,
totalNetPay = 0;
}

<div class="main-container">
    <div class="container-header">
        <h1>
            <text id="BackToPayrollBaseDiv">
                <i id="BackToPayrollBase" class="fa fa-arrow-left m-r-sm" style="cursor: pointer" title="Back"></i>
            </text>
            Payroll for <b>@Model.PayrollBase.StartDate.ToString("MMM dd, yyyy")</b> - <b>@Model.PayrollBase.EndDate.ToString("MMM dd, yyyy")</b>
            @if (PayrollPageAccess.Approve == true && Model.Payrolls.Count() > 0)
            {
                using (Html.BeginForm("PrintPayroll", "PayrollSheetA", FormMethod.Post, new { @target = "_blank", @class = "pull-right" }))
                {
                    <button class="btn btn-primary compose-mail pull-right" type="submit" id="PrintPayroll" title="Print Payroll"><i class="fa fa-print"></i> Payroll</button>
                    <input type="hidden" value="@Model.PayrollBase.ID" name="id" />
                }
            }
        </h1>
    </div>

    <div class="table-responsive table-scroll" style="">
        <div class="mail-box">
            <table id="PayrollsTable" class="table table-hover table-mail">
                <thead>
                    <tr>
                        <th style="text-align: center;"></th>
                        <th style="text-align: left;">Personnel</th>
                        <th style="text-align: right;">Tax</th>
                        <th style="text-align: right;">Allowance</th>
                        <th style="text-align: right;">Deductions</th>
                        <th style="text-align: right;">Net Pay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="Row-Loading-Display" class="hidden">
                        <td style="text-align: center;" colspan="6">
                            <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                        </td>
                    </tr>
                    @if (Model.Payrolls.Count() > 0)
                    {
                        for (int i = 0; i < Model.Payrolls.Count(); i++)
                        {
                            <tr id="@Model.Payrolls[i].ID" class="Row-Display Row-Display-Payrolls" style="cursor: pointer">
                                <td hidden>
                                    <input id="" name="PayrollPeriod.ID" value="@Html.ValueFor(m => m.PayrollBase.ID)" />
                                    <input id="" name="PayrollPeriod.StartDate" value="@Html.ValueFor(m => m.PayrollBase.StartDate)" />
                                    <input id="" name="PayrollPeriod.EndDate" value="@Html.ValueFor(m => m.PayrollBase.EndDate)" />
                                    <input id="" name="PayRoll.ID" value="@Html.ValueFor(m => m.Payrolls[i].ID)" />
                                    <input id="" name="PayRoll.Personnel.ID" value="@Html.ValueFor(m => m.Payrolls[i].Personnel.ID)" />
                                </td>
                                <td style="text-align: center;"><i class="fa fa-angle-right"></i></td>
                                <td style="text-align: left;">@Model.Payrolls[i].Personnel.FullName</td>
                                <td style="text-align: right;">@Model.Payrolls[i].Tax.ToString("#,##0.00")</td>
                                <td style="text-align: right;">@Model.Payrolls[i].Allowance.ToString("#,##0.00")</td>
                                <td style="text-align: right;">@Model.Payrolls[i].TotalDeductions.ToString("#,##0.00")</td>
                                <td style="text-align: right;">@Model.Payrolls[i].NetPay.ToString("#,##0.00")</td>
                                @if (PayrollPageAccess.Update || PayrollPageAccess.Delete)
                                {
                                    <th style="text-align: center;"></th>
                                }
                            </tr>
                            totalTax += Model.Payrolls[i].Tax;
                            totalAllowance += Model.Payrolls[i].Allowance;
                            totalDedeuctions += Model.Payrolls[i].TotalDeductions;
                            totalNetPay += Model.Payrolls[i].NetPay;
                        }
                    }
                    else
                    {
                        <tr id="No-Row-Display"><td style="text-align: center;" colspan="10">No @PayrollPageAccess.PageName found...</td></tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="font-bold-700" style="text-align: right;">Total:</td>
                        <td class="font-bold-700" style="text-align: right;">@totalTax.ToString("#,##0.00")</td>
                        <td class="font-bold-700" style="text-align: right;">@totalAllowance.ToString("#,##0.00")</td>
                        <td class="font-bold-700" style="text-align: right;">@totalDedeuctions.ToString("#,##0.00")</td>
                        <td class="font-bold-700" style="text-align: right;">@totalNetPay.ToString("#,##0.00")</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>