@model WebTemplate.Models.Maintenance.Systems.User.Management
@{
    var entity = new DataAccessLayer.System.User();
    var statuses = entity.LookupUserStatus();
    var genders = new Dictionary<bool, string> { { true, "Male" }, { false, "Female" } };
}

<div class="modal-header">
    <h5 class="modal-title">User Management</h5>
</div>
<div class="modal-body">
    <div class="">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Personal Info</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-cog"></i> Account Info</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-user-circle"></i> Roles</a></li>
                <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-user"></i> Personnel</a></li>
            </ul>
            <div class="tab-content" style="width: 100%;">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.User.ID)
                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            @Html.LabelFor(m => m.User.LastName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            @Html.LabelFor(m => m.User.FirstName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            @Html.LabelFor(m => m.User.MiddleName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.User.MiddleName, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            @Html.LabelFor(m => m.User.Gender, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.User.Gender, new SelectList(genders, "Key", "Value"), "N/A", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-9">
                            @Html.LabelFor(m => m.User.Address1, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.User.Address1, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.User.UserStatusID, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.User.UserStatusID, new SelectList(statuses, "Key", "Value"), "N/A", new { @class = "form-control m-b" })
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body form-horizontal">
                        <div class="form-group row">
                            @Html.LabelFor(m => m.User.UserName, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-4">
                                @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control text-transform-none" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @*<div class="col-lg-2">
                                @Html.LabelFor(m => m.User.Password, new { @class = "col-form-label" })
                            </div>*@
                            @Html.LabelFor(m => m.User.Password, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-4">
                                @Html.TextBoxFor(m => m.User.Password, new { @class = "form-control", @type = "Password" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @*<div class="col-lg-2">
                                @Html.LabelFor(m => m.User.ConfirmPassword, new { @class = "col-form-label" })
                            </div>*@
                            @Html.LabelFor(m => m.User.ConfirmPassword, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-4">
                                @Html.TextBoxFor(m => m.User.ConfirmPassword, new { @class = "form-control", @type = "Password" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @*<div class="col-lg-2">
                                @Html.LabelFor(m => m.User.MobileNumber, new { @class = "col-form-label" })
                            </div>*@
                            @Html.LabelFor(m => m.User.MobileNumber, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-4">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">@Model.MobileNumberPrefix</span>
                                    @Html.TextBoxFor(m => m.User.MobileNumber, new { @class = "form-control", @pattern = @"\d*", @maxlength = "10" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                @if (Model.User.MobileNumber != null && Model.User.IsVerifiedMobileNumber == true)
                                {
                                    <label class="text-info col-form-label">Verified</label>
                                }
                                else if (Model.User.MobileNumber != null && Model.User.IsVerifiedMobileNumber != true)
                                {
                                    <label class="col-form-label"><a class="text-warning" id="btn_verify" data-value="@Model.User.ID">Not Verified (Click here to verify)</a></label>
                                }
                                else
                                {
                                    <label class="text-danger col-form-label">No available Mobile Number.</label>
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            @*<div class="col-lg-2">
                                @Html.LabelFor(m => m.User.EmailAddress, new { @class = "col-form-label" })
                            </div>*@
                            @Html.LabelFor(m => m.User.EmailAddress, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-4">
                                @Html.TextBoxFor(m => m.User.EmailAddress, new { @class = "form-control text-transform-none" })
                            </div>
                            <div class="col-lg-3">
                                <label class="text-danger col-form-label">Email Verification Not Available</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        @Html.Partial("~/Views/Maintenance/Systems/User/_Roles.cshtml")
                    </div>
                </div>
                <div id="tab-4" class="tab-pane">
                    <div class="panel-body">
                        <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            <button type="button" id="btn_link_employee" class="btn btn-primary align-top btn-sm btn-outline btn-w-m @(Model.User != null && Model.User.Personnel != null && Model.User.Personnel.ID > 0 ? "hidden" : "")"><i class="fa fa-link"></i>&nbsp;&nbsp;Link Employee</button>
                            <button type="button" id="btn_unlink_employee" class="btn btn-primary align-top btn-sm btn-outline btn-w-m @(Model.User != null && Model.User.Personnel != null && Model.User.Personnel.ID > 0 ? "" : "hidden")"><i class="fa fa-unlink"></i>&nbsp;&nbsp;Unink Employee</button>
                        </div>
                        <div id="div_personnel_info" @(Model.User != null && Model.User.Personnel != null && Model.User.Personnel.ID > 0 ? "" : "hidden")>
                            @Html.HiddenFor(m => m.User.Personnel.ID, new { @class = "empid" })
                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                @Html.LabelFor(m => m.User.Personnel.Employee_No, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.User.Personnel.Employee_No, new { @class = "form-control empno", @readonly = "" })
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                @Html.LabelFor(m => m.User.Personnel.Last_Name, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.User.Personnel.Last_Name, new { @class = "form-control lname", @readonly = "" })
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                @Html.LabelFor(m => m.User.Personnel.First_Name, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.User.Personnel.First_Name, new { @class = "form-control fname", @readonly = "" })
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-3">
                                @Html.LabelFor(m => m.User.Personnel.Middle_Name, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.User.Personnel.Middle_Name, new { @class = "form-control mname", @readonly = "" })
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="div_no_personnel" @(Model.User != null && Model.User.Personnel != null && Model.User.Personnel.ID > 0 ? "hidden" : "")>
                            <h3 class="text-center">No Personnel Linked . . .</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-outline btn-w-m font-bold-700" data-dismiss="modal" onclick="search()">Close</button>
    <button type="button" class="btn btn-primary btn-w-m font-bold-700" id="btnsave">Save</button>
</div>