@model ProcessLayer.Entities.Kiosk.TimeEditRequest

@{
    var c = User as WebTemplate.Models.CustomPrincipal;
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var TimeEditPageAccess = credential.GetPage("Kiosk/TimeEditRequest") ?? new DataAccessLayer.System.Page();
    var TimeEditCreator = credential.GetPage("Creator Request Over Time") ?? new DataAccessLayer.System.Page();
}

<div id="ToClearWhenNew">
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <input hidden name="PersonnelID" value="@Model.PersonnelID" />
        <input hidden name="ID" value="@Model.ID" />
        <input hidden name="personnelid" value="@Model.PersonnelID" />
        <input hidden name="id" value="@Model.ID" />

        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label class="control-label">Login Date & Time</label>
            @Html.TextBox("LoginDateTime", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", Model.LoginDateTime), new { @type = "datetime-local", @class = "form-control" })
            @*@Html.TextBox("LoginDateTime", String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.LoginDateTime), new { @class = "form-control js-datetimepicker", @placeholder = "" })
            <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>*@
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label class="control-label">Logout Date & Time</label>
            @Html.TextBox("LogoutDateTime", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", Model.LogoutDateTime), new { @type = "datetime-local", @class = "form-control" })
            @*@Html.TextBox("LogoutDateTime", String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.LogoutDateTime), new { @class = "form-control js-datetimepicker", @placeholder = "" })
            <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>*@
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Reason/s</label>
            <input type="text" name="Purpose" value="@Model.Reasons" class="form-control text-transform-none" placeholder="Reason/s..." />
        </div>

        @if (((Model.Approved == null || Model.Approved == false) || (Model.Cancelled == null || Model.Cancelled == false)) && Model.IsExpired == false)
        {
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="control-label" style="width: 100%; color: #fff;">Search</label>
                <button type="button" id="CreateTimeEditRequest" onclick="SaveTimeEditRequest('@(Model.ID > 0 ? "Update" : "Save")');" class="btn btn-primary font-bold pull-right" title="@(Model.ID > 0 ? "Update" : "Save")"><i class="fa fa-save"></i>&nbsp;&nbsp;@(Model.ID > 0 ? "Update" : "Save")</button>
            </div>
        }

        @if (!String.IsNullOrEmpty(Model._Creator))
        {
            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-lg">
                <div class='md-step-optional'>Created By:</div>
                <div class='md-step-optional'><b>@Html.Raw(Model._Creator ?? "&nbsp;")</b></div>
                <div class='md-step-optional'>@Html.Raw(String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CreatedOn) ?? "&nbsp;")</div>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model._Modifier))
        {
            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-lg">
                <div class='md-step-optional'>Modified By:</div>
                <div class='md-step-optional'><b>@Html.Raw(Model._Modifier ?? "&nbsp;")</b></div>
                <div class='md-step-optional'>@Html.Raw(String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.ModifiedOn) ?? "&nbsp;")</div>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model._Approver))
        {
            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-lg">
                <div class='md-step-optional'>Approved By:</div>
                <div class='md-step-optional'><b>@Html.Raw(Model._Approver ?? "&nbsp;")</b></div>
                <div class='md-step-optional'>@Html.Raw(String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.ApprovedOn) ?? "&nbsp;")</div>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model._Cancel))
        {
            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-lg">
                <div class='md-step-optional'>Cancelled By:</div>
                <div class='md-step-optional'><b>@Html.Raw(Model._Cancel ?? "&nbsp;")</b></div>
                <div class='md-step-optional'>@Html.Raw(String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CancelledOn) ?? "&nbsp;")</div>
            </div>
        }
    </div>
</div>
