@model ProcessLayer.Entities.Kiosk.TimeEditRequest

@{
    var c = User as WebTemplate.Models.CustomPrincipal;
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var TimeEditPageAccess = credential.GetPage("Kiosk/TimeEditRequest") ?? new DataAccessLayer.System.Page();
    var TimeEditCreator = credential.GetPage("Creator Request Over Time") ?? new DataAccessLayer.System.Page();
}

<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <input hidden name="PersonnelID" value="@Model.PersonnelID" />
    <input hidden name="ID" value="@Model.ID" />
    <input hidden name="personnelid" value="@Model.PersonnelID" />
    <input hidden name="id" value="@Model.ID" />

    @*<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @if (TimeEditApprover.Approve || TimeEditCreator.View)
        {
            <button type="button" id="ShowAllOTRequest" tpj-show-tab="#tab-2" class="btn btn-primary font-bold pull-right" title="Show OT Requests for Approval"><i class="fa fa-list"></i>&nbsp;&nbsp;Show OT Requests for Approval</button>
        }
        @if (Model.Approved == true || Model.Cancelled == true)
        {
            <button type="button" id="CreateNewOTRequest" tpj-show-tab="#tab-1" class="btn btn-primary font-bold pull-right m-r-sm" title="Create"><i class="fa fa-plus"></i>&nbsp;&nbsp;New OT Request</button>
        }
    </div>*@

<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label class="control-label">Request Date</label>
    <label class="form-control">@String.Format("{0:MM/dd/yyyy}", Model.RequestDate)</label>
</div>

    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <label class="control-label">Login Date & Time</label>
        <label class="form-control">@Model.LoginDateTime</label>
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <label class="control-label">Logout Date & Time</label>
        <label class="form-control">@Model.LogoutDateTime</label>
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label class="control-label">Reason/s</label>
        <label class="form-control">@Model.Reasons</label>
    </div>

    @if (Model.Approved == false && Model.Cancelled == Model.Approved && Model.IsExpired == false)
    {
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="control-label" style="width: 100%; color: #fff;">Search</label>
            <button type="button" id="CreateTimeEditRequest" onclick="SaveTimeEditRequest('Save');" class="btn btn-primary font-bold pull-right"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
        </div>
    }

    @if (!String.IsNullOrEmpty(Model._Creator))
    {
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-lg">
            <div class='md-step-optional'>Created By:</div>
            <div class='md-step-optional'><b>@Html.Raw(Model._Creator ?? "&nbsp;")</b></div>
            <div class='md-step-optional'>@Html.Raw(String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CreatedOn) ?? "&nbsp;")</div>
        </div>
    }
    @if (!String.IsNullOrEmpty(Model._Modifier))
    {
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-lg">
            <div class='md-step-optional'>Modified By:</div>
            <div class='md-step-optional'><b>@Html.Raw(Model._Modifier ?? "&nbsp;")</b></div>
            <div class='md-step-optional'>@Html.Raw(String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.ModifiedOn) ?? "&nbsp;")</div>
        </div>
    }
    @if (!String.IsNullOrEmpty(Model._Approver))
    {
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-lg">
            <div class='md-step-optional'>Approved By:</div>
            <div class='md-step-optional'><b>@Html.Raw(Model._Approver ?? "&nbsp;")</b></div>
            <div class='md-step-optional'>@Html.Raw(String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.ApprovedOn) ?? "&nbsp;")</div>
        </div>
    }
    @if (!String.IsNullOrEmpty(Model._Cancel))
    {
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-lg">
            <div class='md-step-optional'>Cancelled By:</div>
            <div class='md-step-optional'><b>@Html.Raw(Model._Cancel ?? "&nbsp;")</b></div>
            <div class='md-step-optional'>@Html.Raw(String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CancelledOn) ?? "&nbsp;")</div>
        </div>
    }
</div>