@model WebTemplate.Models.Kiosk.Time_Edit_Request.Index

@{
    var c = User as WebTemplate.Models.CustomPrincipal;
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var TimeEditPageAccess = credential.GetPage("Kiosk/TimeEditRequest") ?? new DataAccessLayer.System.Page();
    var TimeEditRequestCreator = credential.GetPage("Creator Request Over Time") ?? new DataAccessLayer.System.Page();
}

<input hidden name="PersonnelID" value="@Model.Personnel.ID" />
<input hidden name="ID" value="@Model.TimeEditRequest.ID" />

<div id="ToClearWhenNew">
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="RequestDate" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Request Date</label>
            @Html.TextBox("RequestDate", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", Model.TimeEditRequest.RequestDate), new { @type = "date", @class = "form-control" })
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label class="control-label">Login Date & Time</label>
            @Html.TextBox("LoginDateTime", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", Model.TimeEditRequest.LoginDateTime), new { @type = "datetime-local", @class = "form-control" })
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label class="control-label">Logout Date & Time</label>
            @Html.TextBox("LogoutDateTime", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", Model.TimeEditRequest.LogoutDateTime), new { @type = "datetime-local", @class = "form-control" })
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Reason/s</label>
            <input type="text" name="Reasons" value="@Model.TimeEditRequest.Reasons" class="form-control text-transform-none" placeholder="Reason/s..." />
        </div>

        @if (TimeEditRequestCreator.Update || TimeEditRequestCreator.Insert)
        {
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="button" id="CreateTimeEditRequest" onclick="SaveTimeEditRequest('Save');" class="btn btn-primary font-bold pull-right" title="Save"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
            </div>
        }
    </div>
</div>