@model ProcessLayer.Entities.VesselMovement

@{
    var VesselPageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("HumanResource/VesselMovement");

    var movementTypes = ProcessLayer.Processes.LookupProcess.GetVesselMovementType().Where(m => m.ID != Model.MovementTypeID);
}

<div id="NewMovementDiv" class="vertical-timeline-block center-orientation animated fadeInU">
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.VesselID)

    <button id="@(Model.ID > 0 ? "" : "NewVesselMovement")" class="vertical-timeline-icon navy-bg" title="@(Model.ID > 0 ? "" : "Add Movement")" name="VesselID" value="@Model.VesselID" style="">
        <i class="fa fa-@(Model.ID == 0 ? "save" : "pencil")" style="margin-top: -1.5em"></i>
    </button>

    <div id="New" class="vertical-timeline-content">
        @if (Model.ID > 0)
        {
            <div>
                <button type="button" value="@Model.ID" id="CancelVesselMovement" class="btn btn-outline btn-danger pull-right" title="Cancel"><i class="fa fa-ban"></i></button>
                <button type="button" value="@Model.ID" id="SaveVesselMovement" class="btn btn-outline btn-primary pull-right" title="Save"><i class="fa fa-save"></i></button>
            </div>
        }
        <div class="m-b-sm m-t-sm">
            <label class="control-label">Movement Type</label>
            @Html.DropDownList("MovementTypeID", new SelectList(movementTypes, "ID", "Description"), "N/A", new { @class = "form-control" })
        </div>

        @*<div class="m-b-sm">
            <label class="control-label">Place</label>
            @Html.TextBoxFor(m => m.Place, new { @class = "form-control", @placeholder = "Place..." })
        </div>*@

        <div class="m-b-sm">
            <label class="control-label">Date/Time</label>
            @Html.TextBoxFor(m => m.MovementDate, String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", Model.MovementDate), new { @type = "datetime-local", @class = "form-control" })
        </div>
        @if (Model.ID > 0)
        {
            <span class="vertical-date">
                <h2>Edit Mode</h2>
            </span>
        }
    </div>
</div>