@model ProcessLayer.Entities.CrewMovement

@{
    var CrewPageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("Movement/CrewMovement");
}

<tr id="@Model.ID" class="Row-Display Row-Display-VesselCrew" style="cursor: pointer" title="">
    @*<td class="check-mail">
            <input type="checkbox" class="i-checks chkPersonnel" title="Select row">
        </td>*@
    <td style="text-align: left; text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px;">
        <img src="@(String.IsNullOrEmpty(Model._Personnel.ImagePath) ? "\\Images\\default.jpg": Model._Personnel.ImagePath)" style="height: 30px; width: 30px; min-height: 30px; min-width: 30px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;" title="" />
        @String.Format("{0}, {1} {2}", Model._Personnel.LastName, Model._Personnel.FirstName, Model._Personnel.MiddleName)
    </td>
    @if (Model.SNPositionID == null)
    {
        <td style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
            @Html.Raw(String.Format("<b>{0}</b><br /> ", !String.IsNullOrEmpty(Model._Department.Description) ? Model._Department.Description : ""))
            <text class="font-bold-500" style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
                @(String.Format("{0}", !String.IsNullOrEmpty(Model._Position.Description) ? Model._Position.Description : ""))
            </text>
        </td>
    }
    else
    {
        <td style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
            <text class="font-bold-500" style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
                @(String.Format("{0}", !String.IsNullOrEmpty(Model._SNPosition.Description) ? Model._SNPosition.Description : ""))
            </text>
        </td>
    }
    <td style="text-align: center;">
        @Html.Raw(String.Format("{0}{1}", Model.OnboardDate == DateTime.Now ? "Today" : String.Format("<b>{0:MMM dd, yyyy}</b>", Model.OnboardDate), " @ " + String.Format("<b>{0:HH:mm tt}</b>", Model.OnboardDate)))
        @if (Model.OffboardDate != null)
        {
            <h1>TO</h1>
            @Html.Raw(String.Format("{0}{1}", Model.OffboardDate == DateTime.Now ? "Today" : String.Format("<b>{0:MMM dd, yyyy}</b>", Model.OffboardDate), " @ " + String.Format("<b>{0:HH:mm tt}</b>", Model.OffboardDate)))
        }
    </td>
    <td style="text-align: left;">
        @(Model.Remarks ?? "")
    </td>
    @if (CrewPageAccess.Update || CrewPageAccess.Delete || CrewPageAccess.View)
    {
        <td style="" class="row-actions">
            <div class="btn-group">
                @if (CrewPageAccess.Update || CrewPageAccess.View)
                {
                    @*<button type="button" name="ViewCrews" class="btn btn-outline btn-info btn-sm btn-rounded ViewCrews m-l-sm" value="@Model.ID" title="View Crews"><i class="fa fa-group fa-1x"></i></button>*@
                    @*<button type="button" name="ViewCrewMovement" class="btn btn-outline btn-success btn-sm btn-rounded ViewCrewMovement" value="@Model.ID" title="View Crew Movement"><i class="fa fa-exchange fa-1x"></i></button>*@
                }
            </div>
        </td>
    }
</tr>
