@model WebTemplate.Models.VesselMovement.Index

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PageAccess = credential.GetPage("Movement/VesselMovement") ?? new DataAccessLayer.System.Page();

    ViewBag.title = PageAccess.PageName;
}

<style>
    html, body {
        overflow: hidden;
    }

    .vessel-selected {
        background-color: #ddd !important;
    }

    fieldset {
        margin-bottom: 0.5em;
    }
</style>

<div class="wrapper wrapper-content">
    <div class="page-heading">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Shared/_Breadcrumbs.cshtml", PageAccess)
        </div>
        <div class="col-lg-4">
            <div class="title-action"></div>
        </div>
    </div>
    <div class="" style="margin-top: 80px;">
        <div id="VesselList" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            @Html.Partial("~/Views/Movement/VesselMovement/_Search.cshtml")
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9" style="overflow-y: auto; padding: .5em 0; border-left: 1px solid #ddd; ">
            <div id="VesselVoyage" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated fadeInRigh vessel-views" style="display: none;">
            </div>
            <div id="VesselMovement" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated fadeInRigh vessel-views" style="display: none;">
            </div>
            <div id="VesselCrewList" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated fadeInRigh vessel-views" style="display: none;">
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="StoreEditModel" />

<div id="" class="customFileInput hidden">
    <div class="input-group file-input">
        <span class="input-group-addon"><i class="fa fa-file"></i></span>
        <input type="text" name="File" class="browseFileCustom form-control text-transform-none" placeholder="File..." readonly="readonly" />
        <span id="" class="clearInput" title="Clear"><i class="fa fa-times"></i></span>
    </div>
</div>

<div class="modal inmodal custom-modal" id="SearchCrewModal" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInUp modal-width-40">
                <div id="form_viewmembers">
                    @*Html.Partial("~/Views/HumanResource/Crew/_CrewSearch.cshtml")*@
                </div>
                @if (PageAccess.Update)
                {
                    <div class="modal-footer">
                        <button id="" class="btn btn-default closeCrewSearch" value="0">Cancel</button>
                        <button id="" class="btn btn-primary closeCrewSearch" value="0" disabled="disabled">OK</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="VoyageCrewsModal" class="modal custom-modal" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
    <div class="modal-body">
        @*@Html.Partial("~/Views/Movement/VesselMovement/Voyage/_CrewList.cshtml")*@
    </div>
</div>

<div id="ManageVoyageModal" class="modal custom-modal" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
    @*@Html.Partial("~/Views/Movement/VesselMovement/Voyage/_CrewList.cshtml")*@
</div>

<style>
    .image-crop {
        overflow: hidden;
        /*text-align: -webkit-center;*/
    }

        .image-crop > .cropper-container {
            width: 150px !important;
            height: 150px !important;
            left: 0px !important;
            top: 0px !important;
        }

    .select2-results .select2-disabled, .select2-results__option[aria-disabled=true] {
        display: none;
    }

    #BackToVesselList:hover, #BackToVesselList:focus,
    #RefreshVesselMovement:hover, #RefreshVesselMovement:focus,
    #PrintVesselCrewList:hover, #PrintVesselCrewList:focus {
        opacity: 0.7;
    }

    .vertical-timeline-icon {
        cursor: pointer;
    }

        .vertical-timeline-icon:hover, .vertical-timeline-icon:focus {
            opacity: 0.7;
        }
</style>

<script type="text/javascript">
    $_VesselListArr = @Html.Raw(Json.Encode(Model.VesselList));
    $_crewIdsArr = [];
    $_personnelIDsArr = [];

        $(window).resize(function() {
            ResizeTimeLine();
        });

        function ResizeTimeLine() {
            var h = $('body').height() - $('body').height() / 2;
            //$('.vertical-timeline').css('height', h + 'px');
        }

        $(document).ready(function() {
            Events();
        });

        function Events() {
            SetRowLoadingDisplayColSpan();
            $_SelectedRows = [];

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            //$('#btnadd').off('click').on('click', NewMemo);

            $('.pages').off('click').on('click',
                function() {
                    $('#form_search_params #Page').val($(this).val())
                    Search();
                });

            $('#btn_search').off('click').on('click',
                function () {
                    $('#form_search_params #Page').val(1);
                    Search();
                });

            $('.txt_search').off('keydown').on('keydown',
                function() {
                    if (event.keyCode == 13) {
                        $('#btn_search').click();
                    }
                });

            $('input.chkRow').off('ifClicked').on('ifClicked', EnableDelete);
            $('button#MultipleDelete').off('click').on('click', MultipleDelete);
            $('input#SelectAll').off('ifClicked').on('ifClicked', SelectAllRows);

            $('.clearInput').off('click').on('click', ClearField);
            $('#Description').off('keydown').on('keydown',
                function () {
                    if (event.keyCode == 13) {
                        $('#btn_search').click();
                    }
                });

            //$('.ViewVesselMovement').off('click').on('click', function (e) {
            //    var id = $(this).val();
            //    ViewVesselMovement(id);
            //});
            //$('.ViewCrews').off('click').on('click', ViewCrews);
            $(document).on('shown.bs.modal', function () {
            });
            $(document).on('hidden.bs.modal', function () {
                if ($('#VesselVoyage').is(':visible')) {
                    var vesselid = $('#VesselVoyageParameters #VesselID').val();
                    ViewVesselVoyage(vesselid);
                    $_crewIdsArr = [];
                }
            });
        }

        function VesselManagementEvents() {
            ResizeTimeLine();

            $('#VesselMovement span.select2').css('width', '100%');
            $('#VesselMovement #NewVesselMovement').off('click').on('click', SaveVesselMovement);

            if ($('div.movement-departure').length > 0 || $('div.movement-arrival').length > 0) {
                $('#VesselMovement #DeleteVesselMovement').off('click').on('click', DeleteVesselMovement);
                $('#VesselMovement #EditVesselMovement').off('click').on('click', EditOrNewVesselMovement);
            }

            Select2Override();
            InitDateTimePicker();
        }

        function ViewVesselMovement(vesselid) {
            var formdata = new FormData();
            formdata.append('VesselID', vesselid);
            $('#VesselMovementParameters *').each(function () {
                if ($(this).attr('name'))
                    formdata.append($(this).attr('name'), $(this).val());
            });
            formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());

            $.ajax({
                url: '@Url.Action("VesselMovementManagement", "VesselMovement")',
                data: formdata,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    ShowLoadingScreen()
                },
                complete: function() {
                    RemoveLoadingScreen()
                },
                success: function(response) {
                    if (response.msg == null) {
                        $('.vessel-views').hide();
                        $('#VesselMovement').html(response).show();
                        $('#NewVesselMovement').off('click').on('click', SaveVesselMovement);
                        $('#VesselMovementsTable tr').removeClass("vessel-selected");
                        $('#VesselMovementsTable tr#' + id).addClass("vessel-selected");

                        VesselManagementEvents();
                    } else {
                        toastr.error(response.res);
                    }
                },
                error: function() {
                    toastr.error('AJAX backend error', 'An error has occured.');
                }
            });
        }

    function ViewVesselVoyage(vesselid) {
        var formdata = new FormData();
        formdata.append('VesselID', vesselid);
        if ($('#VesselVoyageParameters').is(':visible')) {
            $('#VesselVoyageParameters *').each(function () {
                if ($(this).attr('name'))
                    formdata.append($(this).attr('name'), $(this).val());
            });
        } else {
            formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());
        }

        $.ajax({
            url: '@Url.Action("VesselMovementManagement", "VesselMovement")',
            data: formdata,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function() {
                ShowLoadingScreen()
            },
            complete: function() {
                RemoveLoadingScreen()
            },
            success: function (response) {
                if (response.msg == null) {
                    try {
                        $('.vessel-views').hide();
                        $('#VesselVoyage').html(response).show();
                        $('#VesselVoyage #EditOrNewVesselVoyage').off('click').on('click', EditOrNewVesselVoyage);
                        $('#VesselVoyage #ViewVoyageDetails').off('click').on('click', EditOrNewVesselVoyage);
                    } catch { }
                } else {
                    toastr.error(response.res);
                }
            },
            error: function() {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }

    function AddRemoveCrew() {
        var vesselVoyageID = $('#ManageVoyageModal #SaveVesselVoyage').val();
        var personnelID = parseFloat($(this).val()),
            positionID = $(this).closest('tr').find('.PositionID').val(),
            dailyRate = $(this).closest('tr').find('.DailyRate').val(),
            tableName = $(this).closest('table').attr('id'),
            rowName = tableName.replace('sTable', ''),
            action = $(this).attr('Name').replace('Crew', ''); //rowName == 'Personnel' ? 'Add' : 'Remove'; //(rowName == 'Crew' ? 'Remove' : 'Undo'),
            id = parseInt($(this).closest('tr').attr('id'));

        if (action == 'Add') {
            if (rowName == 'Personnel') {
                if ($('#CrewsTable tbody tr#' + id).length > 0 || $('#VoyageCrewsTable tbody tr#' + id).length > 0) {
                    toastr.warning('Personnel already selected!');
                    $(this).closest('tr').addClass('hidden');
                    return;
                }

                $personnelToAdd = $(this).closest('tr').clone();
                $personnelToAdd.removeClass().addClass('crew Crew-' + personnelID);
                $personnelToAdd.find('.AddCrew').attr('title', 'Remove as crew');
                $personnelToAdd.find('.AddCrew').removeClass('btn-info').addClass('btn-danger');
                $personnelToAdd.find('.AddCrew').find('i').removeClass().addClass('fa fa-times');
                $('#CrewsTable tbody').append($personnelToAdd);
                $(this).closest('tr').addClass('hidden');
                $('#ManageVoyageModal #VoyageCrewsTable').find('.AddCrew, .RemoveCrew').off('click').on('click', AddRemoveCrew);

                $_crewIdsArr.push({ PersonnelID: personnelID, PositionID: positionID, DailyRate: dailyRate, VesselMovementID: vesselVoyageID, Deleted: false });
                $_personnelIDsArr = $.grep($_personnelIDsArr, function (a) { return a.PersonnelID !== personnelID; });
            } else { //if (rowName == 'VoyageCrew') {
                $(this).addClass('hidden');
                $(this).closest('tr').removeClass('deleted');
                $(this).closest('tr').find('img').css('opacity', '0');
                $(this).closest('tr').find('.RemoveCrew').removeClass('hidden');
                $(this).closest('tr').removeClass('text-muted bg-muted').find('b').addClass('text-primary');
                $_crewIdsArr = $.grep($_crewIdsArr, function (a) { return a.PersonnelID !== personnelID; });
            }
        }
        else if (action == 'Remove') {
            if (rowName == 'Crew') {
                $(this).closest('tr').remove();
                $('#PersonnelsTable tr.Personnel-' + personnelID).removeClass('hidden');
                $_personnelIDsArr.push(personnelID);
                $_crewIdsArr = $.grep($_crewIdsArr, function (a) { return a.PersonnelID !== personnelID; });
            }
            else {
                $(this).addClass('hidden');
                $(this).closest('tr').addClass('deleted');
                $(this).closest('tr').find('img').css('opacity', '0.5');
                $(this).closest('tr').find('.AddCrew').removeClass('hidden');
                $(this).closest('tr').addClass('text-muted bg-muted').find('b').removeClass('text-primary');
                $_crewIdsArr.push({ ID: id, PersonnelID: personnelID, Deleted: true });
            }
        }

        CheckTableRowCount();
        UpdateTableRowIndex();
        DetectChanges();
    }

    function CheckTableRowCount() {
        var tableNames = [];
        tableNames.push({ Table: 'PersonnelsTable', Class: 'personnel' });
        tableNames.push({ Table: 'CrewsTable', Class: 'crew' });

        for (var i = 0; i < tableNames.length; i++) {
            if ($('#' + tableNames[i].Table + ' tbody tr.' + tableNames[i].Class + ':visible').length > 0) {
                $('#' + tableNames[i].Table + ' tbody tr#No-Row-Display').addClass('hidden');
            } else {
                $('#' + tableNames[i].Table + ' tbody tr#No-Row-Display').removeClass('hidden');
            }
        }
    }

    function UpdateTableRowIndex() {
        $('#PersonnelsTable tbody tr.personnel').each(function (i, val) {
            $(this).find('input.ID').removeAttr('name').attr('name', 'model[' + i + '].ID');
            $(this).find('input.Sequence').removeAttr('name').attr('name', 'model[' + i + '].Sequence');
            $(this).find('input.Deleted').removeAttr('name').attr('name', 'model[' + i + '].Deleted');
        });
        $('#CrewsTable tbody tr.approver:not(.deleted)').each(function (i, val) {
            $(this).find('input.Sequence').val(i + 1);
        });
        $('#CrewsTable tbody tr.approver').each(function (i, val) {
            $(this).find('input.ID').removeAttr('name').attr('name', 'model[' + i + '].ID');
            $(this).find('input.Sequence').removeAttr('name').attr('name', 'model[' + i + '].Sequence');
            $(this).find('input.Deleted').removeAttr('name').attr('name', 'model[' + i + '].Deleted');
        });
    }

    function DetectChanges() {
        var newCrews = $('#CrewsTable tbody tr.crew input.Deleted[value="true"]').length;
        var deletedCrews = $('#CrewsTable tbody tr.crew input.ID[value="0"]').length;

        if (newCrews > 0 || deletedCrews > 0)
            $('#SaveCrews').removeAttr('disabled');
        else
            $('#SaveCrews').attr('disabled', true);
    }

    function EditOrNewVesselVoyage() {
        if ($('#VesselVoyage #NewVoyageDiv').length == 0) {
            var formdata = new FormData();
            formdata.append('ID', $(this).val());
            $('#VesselVoyageParameters *').each(function () {
                if ($(this).attr('name'))
                    formdata.append($(this).attr('name'), $(this).val());
            });

            $.ajax({
                data: formdata,
                type: 'POST',
                url: '@Url.Action("EditOrNewVesselVoyage", "VesselMovement")',
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {},
                complete: function() {},
                success: function(response) {
                    if (response.msg == null) {
                        try {
                            $('#ManageVoyageModal').html(response).appendTo("body").modal('show');
                            //$('#ManageVoyageModal tbody tr button.ViewVoyageDetails').off('click').on('click', ViewVesselVoyage);
                            $('#ManageVoyageModal select').select2();
                            $('#ManageVoyageModal #SearchPersonnelDiv span').off('click').on('click', SearchPersonnel);
                            $('#ManageVoyageModal input#Personnel').off('keyup').on('keyup', function (e) {
                                SearchPersonnelAction(e);
                            });
                            $('#ManageVoyageModal #VoyageCrewsTable').find('.AddCrew, .RemoveCrew').off('click').on('click', AddRemoveCrew);
                        } catch {}
                    } else {
                        toastr.error(response.res);
                    }
                },
                error: function(response) {
                    toastr.error(response.res);
                }
            });
        }
    }

        function SearchCrews() {
            var params = $('#VesselMovement *').serialize() +
                '&VesselID=' + $(this).val() +
                '&__RequestVerificationToken=' +
                $('@Html.AntiForgeryToken()').val();

            $.ajax({
                url: '@Url.Action("GetVesselCrews", "VesselMovement")',
                data: params,
                type: 'POST',
                beforeSend: function() {
                    ShowLoadingScreen()
                },
                complete: function() {
                    RemoveLoadingScreen()
                },
                success: function(response) {
                    if (response.msg == null) {
                        $('.vessel-views').hide();
                        $('#VesselCrewList').html(response).show();

                        $('#BackToVesselList').off('click').on('click', ViewVesselList);
                        $('#PrintVesselCrewList').off('click').on('click', PrintVesselCrewList);

                        //VesselManagementEvents();
                        InitDateTimePicker();
                    } else {
                        toastr.error(response.res);
                    }
                },
                error: function() {
                    toastr.error('AJAX backend error', 'An error has occured.');
                }
            });
        }

        function ViewCrews(vesselID) {
            event.stopPropagation();

            var formdata = new FormData();
            formdata.append('VesselID', vesselID);
            formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());

            $.ajax({
                url: '@Url.Action("GetVesselCrews", "VesselMovement")',
                data: formdata,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    ShowLoadingScreen()
                },
                complete: function() {
                    RemoveLoadingScreen();

                    if ($('#VesselCrewList table tbody tr.Row-Display-VesselCrew').length > 0) {
                        $(".title-action").append('<button id="PrintVesselCrewList" value="' + vesselID + '" type="button" class="btn btn-primary btn-outline m-l-md" title="Print Crew List"><i class="fa fa-print" style="cursor: pointer"></i> Print</button>');
                        $('#PrintVesselCrewList').off('click').on('click', PrintVesselCrewList);
                    }
                    else {
                        $(".title-action").empty();
                    }
                },
                success: function(response) {
                    if (response.msg == null) {
                        $('.vessel-views').hide();
                        $('#VesselCrewList').html(response).show();
                        $('#btn_search_vesselmovement').off('click').on('click', SearchCrews);

                        $('#VesselMovementsTable tr').removeClass("vessel-selected");
                        $('#VesselMovementsTable tr#' + vesselID).addClass("vessel-selected");

                        InitDateTimePicker();
                    } else {
                        toastr.error(response.res);
                    }
                },
                error: function() {
                    toastr.error('AJAX backend error', 'An error has occured.');
                }
            });
        }

        function PrintVesselCrewList() {
            $('#PrintMovementButtonSubmit').trigger('click');
        }

        function ViewVesselList() {
            $('#VesselList').show();

            $('#VesselVoyage').empty().hide();
            $('#VesselMovement').empty().hide();
            $('#VesselCrewList').empty().hide();
    }

    function SearchPersonnelAction(e) {
        if (e.keyCode === 13)
            SearchPersonnel();
    }

    function SearchPersonnel() {
        var personnel = $('#ManageVoyageModal #Personnel').val();
        if (!personnel) return

        var formdata = new FormData();
        formdata.append('key', personnel);
        formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());
            $.ajax({
                url: '@Url.Action("Search", "VesselMovement")',
                data: formdata,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    ShowLoadingScreen()
                },
                complete: function() {
                    RemoveLoadingScreen()
                },
                success: function(response) {
                    if (response.msg == null) {
                        try {
                            $('#ManageVoyageModal #SearchPersonnelDivResult').html(response);
                            $('#ManageVoyageModal #SearchPersonnelDiv span').off('click').on('click', SearchPersonnel);
                            $('#ManageVoyageModal input#Personnel').off('keyup').on('keyup', function (e) {
                                SearchPersonnelAction(e);
                            });
                            $('#ManageVoyageModal #PersonnelsTable').find('.AddCrew, .RemoveCrew').off('click').on('click', AddRemoveCrew);

                            BoldMatch();
                        } catch { }
                    } else {
                        toastr.error(response.res);
                    }
                },
                error: function() {
                    toastr.error('AJAX backend error', 'An error has occured.');
                }
            });
    }

    function BoldMatch() {
        var key = $('#ManageVoyageModal #Personnel').val().trim().toLowerCase();
        $('#ManageVoyageModal #SearchPersonnelDivResult tbody tr.personnel td').each(function (e) {
            var text = $(this).html().toString().toLowerCase();
            var idx1 = text.indexOf(key);
            var idx2 = text.substring(text.indexOf(key) + 1);

            if (idx1 == -1) return;

            //var textStart = text.substring(0, idx1);
            //var textEnd = text.substring(idx1, key.Length);
            var html = text.substring(0, idx1) + "<b class='text-danger' style='font-weight: 800;'>" + key + "</b>" + text.substring(idx1 + key.length, text.length);
            $(this).html(html);
        });
    }

    function Search() {
        var params = $('#form_search_params *').serialize();

        $.ajax({
            url: '@Url.Action("Index", "VesselMovement")',
            data: params,
            type: "GET",
            cache: false,
            beforeSend: function() {
                ShowLoadingScreen()
            },
            complete: function() {
                RemoveLoadingScreen()
            },
            success: function(response) {
                if (response.msg == null) {
                    $("#VesselList").html(response);
                    Events();
                } else {
                    toastr.error(response.res);
                }
            },
            error: function() {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }

    function SearchVesselMovement() {
        var params = $('#VesselMovement #VesselMovementParameters *').serialize() +
            //'&VesselID=' +
            //$(this).val() +
            '&__RequestVerificationToken=' +
            $('@Html.AntiForgeryToken()').val();

        $.ajax({
            url: '@Url.Action("VesselMovementManagement", "VesselMovement")',
            data: params,
            type: 'POST',
            cache: false,
            beforeSend: function() {
                ShowLoadingScreen()
            },
            complete: function() {
                RemoveLoadingScreen()
            },
            success: function(response) {
                if (response.msg == null) {
                    $('#VesselMovement').html(response).show();

                    $('#BackToVesselList').off('click').on('click', ViewVesselList);
                    $('#NewVesselMovement').off('click').on('click', SaveVesselMovement);

                    VesselManagementEvents();

                    //$(".vertical-timeline").animate({ scrollTop: $(".vertical-timeline")[0].scrollHeight }, 1500);
                } else {
                    toastr.error(response.res);
                }
            },
            error: function() {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }

    function EditOrNewVesselMovement() {
        if ($('#VesselMovement #NewMovementDiv').length == 1) {
            $divBlock = $(this).closest('div.vertical-timeline-block');

            var params = 'id=' +
                $(this).val() +
                '&vesselid=' +
                $('#NewVesselMovement').val() +
                '&__RequestVerificationToken=' +
                $('@Html.AntiForgeryToken()').val();

            $.ajax({
                data: params,
                type: 'POST',
                url: '@Url.Action("EditOrNewVesselMovement", "VesselMovement")',
                cache: false,
                beforeSend: function() {},
                complete: function() {},
                success: function(response) {
                    if (response.msg == null) {
                        $divBlock.before(response);
                        $divBlock.remove();

                        $('#VesselMovement #CancelVesselMovement').off('click').on('click', CancelVesselMovement);
                        $('#VesselMovement #SaveVesselMovement').off('click').on('click', SaveVesselMovement);

                        VesselManagementEvents();
                    } else {
                        toastr.error(response.res);
                    }
                },
                error: function(response) {
                    toastr.error(response.res);
                }
            });
        }
    }

    function CancelVesselMovement() {
        $divBlock = $(this).closest('div.vertical-timeline-block');

        var params = 'id=' + $(this).val() + '&__RequestVerificationToken=' + $('@Html.AntiForgeryToken()').val();
        $.ajax({
            data: params,
            type: 'POST',
            url: '@Url.Action("CancelVesselMovement", "VesselMovement")',
            cache: false,
            beforeSend: function() {},
            complete: function() {},
            success: function(response) {
                if (response.msg == null) {
                    $divBlock.before(response);
                    $divBlock.remove();

                    VesselManagementEvents();
                } else {
                    toastr.error(response.res);
                }
            },
            error: function(response) {
                toastr.error(response.res);
            }
        });
    }

    function SaveVesselVoyage(vesselid) {
        $('input.required').removeClass('input-incomplete');
        var formData = new FormData();
        var requiredFields = [];

        $('#ManageVoyageModal .form-control').each(function (e) {
            var label = ($(this).closest('label').text() || '').trim();
            var name = $(this).attr('name');
            var val = $(this).val();
            var isRequired = $(this).hasClass('required');

            if (name) {
                if (isRequired) {
                    if (!val) {
                        requiredFields.push(label);
                        $(this).addClass('input-incomplete');
                        return;
                    }

                    formData.append(name, val);
                }
                else {
                    formData.append(name, val);
                }
            }
        });

        //$('#CrewsTable tbody tr.crew').length > 0
        if ($_crewIdsArr.length > 0) {
            formData.append('crewlist', JSON.stringify($_crewIdsArr));
            //formData.append('CrewList', JSON.stringify($_crewIdsArr)); //$('#CrewsTable tbody tr.crew *').serialize()
        }

        formData.append('ID', $('#ManageVoyageModal #ID').val());
        formData.append('VesselID', vesselid);
        formData.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());

        if (requiredFields.length > 0) {
            toastr.warning('Please fill up required fields!', 'Warning');
            return;
        }

        $.ajax({
            data: formData,
            type: 'POST',
            url: '@Url.Action("CreateOrUpdateVesselMovement", "VesselMovement")',
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () { },
            complete: function () { },
            success: function(response) {
                if (response.msg == null) {
                    $('#ManageVoyageModal').html(response).appendTo("body").modal('show');
                    $('#ManageVoyageModal select').select2();
                    $('#ManageVoyageModal #CrewsTable').find('.AddCrew, .RemoveCrew').off('click').on('click', AddRemoveCrew);
                    $('#ManageVoyageModal #VoyageCrewsTable').find('.AddCrew, .RemoveCrew').off('click').on('click', AddRemoveCrew);
                    $('#ManageVoyageModal #SearchPersonnelDiv span').off('click').on('click', SearchPersonnel);
                    $('#ManageVoyageModal input#Personnel').off('keyup').on('keyup', function (e) {
                        SearchPersonnelAction(e);
                    });

                    $_crewIdsArr = [];

                    toastr.success('Vessel Voyage saved!');
                } else {
                    toastr.error(response.res);
                }
            },
            error: function(response) {
                toastr.error(response.res);
            }
        });
    }

        function SaveVesselMovement() {
            $divBlock = $(this).closest('.vertical-timeline-block');
            var type = $divBlock.find('#MovementTypeID').val();
            var place = $divBlock.find('#Place').val();
            var datetime = $divBlock.find('#MovementDate').val();
            var movementID = $(this).val();
            var isUpdate = $('#VesselMovement #NewMovementDiv .fa-pencil').length === 1 && movementID > 0;

            if (place == '') {
                toastr.error('Place is required!');
                return
            }

            if (datetime == '') {
                toastr.error('Date & Time is required!');
                return
            }

            var params = $('#VesselMovement #NewMovementDiv *').serialize() +
                '&__RequestVerificationToken=' +
                $('@Html.AntiForgeryToken()').val();

            $.ajax({
                data: params,
                type: 'POST',
                url: '@Url.Action("CreateOrUpdateVesselMovement", "VesselMovement")',
                cache: false,
                beforeSend: function() {},
                complete: function() {},
                success: function(response) {
                    if (response.msg == null) {
                        $divBlock.before(response);
                        $divBlock.find('#Place').val('');
                        if (isUpdate)
                            $divBlock.remove();

                        VesselManagementEvents();

                        toastr.success('Vessel Movement saved!');
                    } else {
                        toastr.error(response.res);
                    }
                },
                error: function(response) {
                    toastr.error(response.res);
                }
            });
        }

        function EnableDelete() {
            var id = parseFloat($(this).val() ? $(this).val() : 0);
            var description = $(this).closest('tr').find('.clickable-text').text().trim();

            if ($(this).is(':checked')) {
                $_SelectedRows = $_SelectedRows.filter(function (e) { return e.ID !== id; });
            }
            else {
                if ($_SelectedRows.filter(function (e) { return e.ID == id; }).length == 0)
                    $_SelectedRows.push({ ID: id, Description: description });
            }

            var rowCount = $(this).closest('table').find('tbody tr.Row-Display .chkRow').length;
            $('#SelectAll').iCheck(($_SelectedRows.length == rowCount ? '' : 'un') + 'check');
            $('#MultipleDelete').attr('disabled', $_SelectedRows.length > 0 ? false : true);
        }

        function MultipleDelete() {
            var pagetitle = $('.page-heading h2').text().trim().toLowerCase();
            var message = $_SelectedRows.length + ' ' + pagetitle + ($_SelectedRows.length > 1 ? 's' : '');

            swal({
                title: 'Delete ' + message + '?',
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function(confirm) {
                if (confirm) {
                    $.ajax({
                        data: {
                            'ids': JSON.stringify($_SelectedRows),
                            '__RequestVerificationToken': $('@Html.AntiForgeryToken()').val()
                        },
                        type: 'POST',
                        datatype: 'JSON',
                        url: '@Url.Action("DeleteMultiple", "VesselMovement")',
                        async: true,
                        cache: false,
                        beforeSend: function(x) {
                            ShowLoadingScreen()
                        },
                        complete: function() {
                            RemoveLoadingScreen()
                        },
                        success: function(response) {
                            if (response.msg) {
                                toastr.success(message + ' deleted!');
                                Search();
                            } else {
                                toastr.error(response.res);
                            }
                        },
                        error: function(x) {
                        }
                    })
                }
            });
        }

        function SelectAllRows() {
            $checkRows = $(this).closest('table').find('input.chkRow');

            if ($(this).is(':checked')) {
                $checkRows.iCheck('uncheck');
                $_SelectedRows = [];
            }
            else {
                $checkRows.iCheck('check');

                $checkRows.each(function (e) {
                    var id = parseFloat($(this).val() ? $(this).val() : 0);
                    var description = $(this).closest('tr').find('.clickable-text').text().trim();

                    if ($_SelectedRows.filter(function (e) { return e.ID == id; }).length == 0)
                        $_SelectedRows.push({ ID: id, Description: description });
                });
            }

            $('#MultipleDelete').attr('disabled', $_SelectedRows.length > 0 ? false : true);
        }

        function DeleteVesselMovement() {
            $divBlock = $(this).closest('div.vertical-timeline-block');
            var params = 'id=' + $(this).val() + '&__RequestVerificationToken=' + $('@Html.AntiForgeryToken()').val();

            swal({
                    title: 'You are about to delete a vessel movement.\nContinue?',
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                function(confirm) {
                    if (confirm) {
                        $.ajax({
                            data: params,
                            type: 'POST',
                            url: '@Url.Action("DeleteVesselMovement", "VesselMovement")',
                            cache: false,
                            beforeSend: function() {},
                            complete: function() {},
                            success: function(response) {
                                if (response.msg) {
                                    $('#NewMovementDiv').removeClass('fadeInUp');
                                    $divBlock.remove();
                                    $('#NewMovementDiv').addClass('fadeInUp');

                                    toastr.error('Vessel Movement deleted!');
                                } else {
                                    toastr.error(response.res);
                                }
                            },
                            error: function(response) {
                                toastr.error(response.res);
                            }
                        });
                    }
                });
        }

        function InitDatePicker() {
            $('.input-group.date')
                .find('.form-control').attr('readonly', true)
                .css('background-color', '#fff')
                .datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                }).off('change').on('change',
                    function() {
                        showClearInput($(this));
                    });

            $('.input-group.date').each(function() {
                $(this).closest('.form-group').css({
                    'margin-bottom': '7px'
                });
                showClearInput($(this).find('input.form-control'));
            });
        }

        function InitDateTimePicker() {
            //jQuery('input.datetimepicker').datetimepicker({
            //    format : 'Y/m/d H:i'
            //}).trigger('change');
            $('input.js-datetimepicker').tpjdatetime();
        }

        function ClearField() {
            $input = $(this).prev('input');
            $inputHidden = $(this).closest('td').find('input[type="hidden"]');
            $input.val('');
            $inputHidden.val('');
            showClearInput($input);
            $('.send').hide();

            if ($(this).parent().parent().find('input.form-control').attr('id') == 'browseImage' &&
                $('#ImageCanvasImg').attr('src') != '\Images\default.jpg') {
                $('#ImageCanvasImg').attr('src', '\\Images\\default.jpg');
                $input.val('default.jpg');
            }
        }

        function showClearInput($this) {
            var $input = $('#' + $this.attr('id'))
            var $clearBtn = $input.next('.clearInput');
            //$clearBtn.css("display", $input.val() == "" ? "none" : "block");

            if ($input.val() == "") {
                $clearBtn.hide();
            } else {
                $clearBtn.show();
            }
    }

    $(document).ready(function (e) {
        $("#VoyageCrewsModal").on("hidden.bs.modal",
            function () {

            });
    });

    function GetVesselCrews(id) {
        var formdata = new FormData();
        //formdata.append('VesselID', id);
        $('#VesselMovementParameters *').each(function () {
            if ($(this).attr('name'))
                formdata.append($(this).attr('name'), $(this).val());
        });
        formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());

        $.ajax({
            url: '@Url.Action("GetVesselCrews", "VesselMovement")',
            data: formdata,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function() {
                ShowLoadingScreen()
            },
            complete: function() {
                RemoveLoadingScreen()
            },
            success: function(response) {
                if (response.msg == null) {
                    try {
                        $("#VesselVoyage").html(response).show();
                        //$('#VoyageCrewsModal .modal-body').html(response).appendTo("body").modal('show');
                    } catch {
                        $('body').replaceWith(response);
                    }
                } else {
                    toastr.error(response.res);
                }
            },
            error: function() {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }
</script>
