@model WebTemplate.Models.DynamicLookup.Index
@using WebTemplate.Models.DynamicLookup
@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PageAccess = credential.GetPage("DynamicLookup/DynamicLookup") ?? new DataAccessLayer.System.Page();

    ViewBag.title = PageAccess.PageName;
}

<div class="wrapper wrapper-content">
    <div class="page-heading">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Shared/_Breadcrumbs.cshtml", PageAccess)
        </div>
        <div class="col-lg-4">
            <div class="title-action">
            </div>
        </div>
    </div>
    <div class="" style="margin-top: 80px;">
        @if (PageAccess.View)
        {
            <div id="lookup_form">
                @Html.Partial("~/Views/DynamicLookup/DynamicLookup/_Search.cshtml")
            </div>
        }
    </div>
</div>


<div class="modal inmodal custom-modal" id="dynamic_modal" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInUp modal-width-50">
                <div class="modal-header">
                    <h5 class="modal-title">Manage Lookup</h5>
                    <button type="button" id="dynamic_modal_close" class="close" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body" style="max-height: 750px; background-color: #fff; overflow: auto;">
                    <div class="body"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="btn_save">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#dynamic_modal_close").on("click", closeModal);
        events();
    });

    $('.pages').click(function () {
        $('#hid_page').val($(this).val())
        search();
    })

    function events() {
        $(".pages").off('click').on('click', nextPage);
        $("#lookupname").off('change').on('change', lookupChange);
        $("#btn_search").off('click').on('click', search);
        $(".btn_delete").off('click').on('click', deleteItem);
        $(".btn_edit").off('click').on('click', editItem);
        $("#btn_add").off('click').on('click', addItem);
        $("#btn_save").off('click').on('click', saveItem);
        $('.search_key').off('keydown').on('keydown',
            function () {
                if (event.keyCode == 13) {
                    $('#btn_search').click();
                }
            });
        Select2Override();
    }

    function closeModal() {
        $('#dynamic_modal').modal('hide');
    }

    function lookupChange() {
        get("LookupName=" + $(this).val());
    }

    function search() {
        $('#form_search_params input[name="Page"]').val(1);
        get($('#form_search_params *').serialize());
    }

    function nextPage() {
        var params = "LookupName=" + $("#hid_lookupname").val() + "&Key=" + $("#hid_key").val() + "&Page=" + $(this).val();
        get(params);
    }

    function get(params) {
        $.ajax({
            url: '@Url.Action("Index", "DynamicLookup")',
            data: params,
            type: "GET",
            cache: false,
            beforeSend: function () {
                ShowLoadingScreen();
            },
            complete: function () {
                RemoveLoadingScreen();
            },
            success: function (response) {
                if (response.msg == null) {
                    $('#lookup_form').html(response);
                    events();
                } else {
                    toastr.error(response.res);
                }
            },
            error: function () {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }

    function deleteItem() {
        var tr = $(this).closest('tr')

        swal({
                title: "Are you sure?",
                text: "Delete this Item?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    var value = tr.attr('tpj-key');
                    var lookup = $("#hid_lookupname").val();
                    var token = $('@Html.AntiForgeryToken()').val();
                    $.ajax({
                        url: '@Url.Action("Delete", "DynamicLookup")',
                        data: {
                            id: value,
                            lookup,
                            __RequestVerificationToken: token,
                        },
                        dataType: "JSON",
                        type: "POST",
                        cache: false,
                        beforeSend: function () {
                            ShowLoadingScreen();
                        },
                        complete: function () {
                            RemoveLoadingScreen();
                        },
                        success: function (response) {
                            if (response.msg) {
                                toastr.success(response.res);
                                var params = "LookupName=" + $("#hid_lookupname").val() + "&Key=" + $("#hid_key").val() + "&Page=" + $("#hid_page").val();
                                get(params);
                            } else {
                                toastr.error(response.res);
                            }
                        },
                        error: function () {
                            toastr.error('AJAX backend error', 'An error has occured.');
                        }
                    });
                }
            });
    }

    function addItem() {
        getItem();
    }

    function editItem() {
        var tr = $(this).closest('tr')
        console.log(tr.attr('tpj-key'));
        getItem(tr.attr('tpj-key'));
    }

    function getItem(id) {
        var lookup = $("#hid_lookupname").val();
        var token = $('@Html.AntiForgeryToken()').val();

        $.ajax({
            url: '@Url.Action("Get", "DynamicLookup")',
            data: {
                id: id,
                lookup,
                __RequestVerificationToken: token,
            },
            type: "POST",
            cache: false,
            beforeSend: function () {
                ShowLoadingScreen();
            },
            complete: function () {
                RemoveLoadingScreen();
            },
            success: function (response) {
                if (response.msg == null) {
                    $('#dynamic_modal .modal-body').html(response);
                    $('#dynamic_modal').appendTo("body").modal('show');

                    $('.i-checks').iCheck({
                        checkboxClass: 'icheckbox_square-green',
                        radioClass: 'iradio_square-green',
                    });
                    $('.modal select').select2();
                } else {
                    toastr.error(response.res);
                }
            },
            error: function (e, f, g) {
                console.log(e)
                console.log(f)
                console.log(g)
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }

    function saveItem() {
        var lookup = $("#lookup").val();
        var token = $('@Html.AntiForgeryToken()').val();
        var item = {};
        $("#lookupdata *").each(function () {
            if ($(this).attr('name') !== undefined && $(this).val() !== '' && $(this).val() !== null) {
                if ($(this).attr("type") == 'checkbox')
                    item[$(this).attr('name')] = $(this).is(':checked');
                else
                    item[$(this).attr('name')] = $(this).val();
            }
        });

        $.ajax({
            url: '@Url.Action("Save", "DynamicLookup")',
            data: {
                item: JSON.stringify(item),
                lookup,
                __RequestVerificationToken: token,
            },
            type: "POST",
            beforeSend: function () {
                ShowLoadingScreen();
            },
            complete: function () {
                RemoveLoadingScreen();
            },
            success: function (response) {
                if (response.msg) {
                    closeModal();
                    toastr.success(response.res);
                    get("LookupName=" + $("#hid_lookupname").val());
                } else {
                    toastr.error(response.res);
                }
            },
            error: function () {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }
</script>