@model WebTemplate.Models.Maintenance.Lookup.HRDynamicMaintenance.Index
@{
    double PageCount = Math.Ceiling((double)Model.ItemCount / Model.GridCount);
}

<div class="">
    <div class="mail-box">
        <table class="table table-hover table-striped">
            <thead>
                @*<tr>
                        <th class="text-center">Description</th>
                        <th class="text-center">Action</th>
                    </tr>*@
                <tr>
                    <td class="text-right" colspan="10" style="background-color: white;">
                        <div id="form_search_params" class="btn-group">
                            @using (Ajax.BeginForm("GetList", "Maintenance/Lookup/HRDynamicMaintenance",
                                new AjaxOptions { HttpMethod = "POST", OnBegin = "ShowLoadingScreen()", OnComplete = "RemoveLoadingScreen()", OnSuccess = "search_item_success", OnFailure = "toastr.error('Potentially dangerous value was detected', 'Saving failed')" }))
                            {
                                @Html.AntiForgeryToken()
                                @*<input type="hidden" id="hid_search" name="@Html.NameFor(m => m.Filter)" value="@Html.ValueFor(m => m.Filter)" />
                                <input type="hidden" id="hid_tablename" name="@Html.NameFor(m => m.TableName)" value="@Html.ValueFor(m => m.TableName)" />*@
                                <input type="hidden" id="hid_page" name="@Html.NameFor(m => m.PageNumber)" value="@Html.ValueFor(m => m.PageNumber)" />

                                if (Model.PageNumber > 0)
                                {
                                    <button type="button" name="@Html.NameFor(m => m.PageNumber)" value="1" class="btn btn-white @(Model.PageNumber == 1 ? "active" : "pages")">1 @*<i class="fa fa-angle-double-left"></i>*@</button>
                                }
                                if (Model.PageNumber - 1 > 2)
                                {
                                    <button type="button" name="@Html.NameFor(m => m.PageNumber)" value="@(Model.PageNumber - 2)" class="btn btn-white pages">...@*<i class="fa fa-angle-left"></i>*@</button>
                                }
                                for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                                {
                                    if (i > 1 && i < PageCount)
                                    {
                                        <button type="button" name="@Html.NameFor(m => m.PageNumber)" value="@(i)" class="btn btn-white @(i == Model.PageNumber ? "active" : "pages")">@(i)</button>
                                    }
                                }
                                if (Model.PageNumber + 1 < PageCount - 1)
                                {
                                    <button type="button" name="@Html.NameFor(m => m.PageNumber)" value="@(Model.PageNumber + 2)" class="btn btn-white pages">...@*<i class="fa fa-angle-right"></i>*@</button>
                                }
                                if (Model.PageNumber <= PageCount && PageCount > 1)
                                {
                                    <button type="button" name="@Html.NameFor(m => m.PageNumber)" value="@PageCount" class="btn btn-white @(Model.PageNumber == PageCount ? "active" : "pages")">@PageCount @*<i class="fa fa-angle-double-right"></i>*@</button>
                                }
                            }
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr id="Row-Loading-Display" class="hidden">
                    <td style="text-align: center;" colspan="6">
                        <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                    </td>
                </tr>

                @if (Model.ItemList.Any())
                {
                    for (int x = 0; x < Model.ItemList.Count; x++)
                    {
                        <tr class="Row-Display read" style="cursor: pointer;">
                            <td class="text-center text-uppercase">@Model.ItemList[x].Description</td>
                            <td style="" class="row-actions">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded btn-outline" title="Edit" onclick="manage_item(@Model.ItemList[x].ID)"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-danger btn-sm btn-rounded btn-outline" title="Delete" onclick="delete_item(@Model.ItemList[x].ID)"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr id="No-Row-Display">
                        <td style="text-align: center;" colspan="8">No Item found...</td>
                    </tr>
                }

            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>