@model WebTemplate.Models.RequestsApproval.OT_Request.Index

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var OtRequestPageAccess = credential.GetPage("RequestsApproval/OTRequests") ?? new DataAccessLayer.System.Page();
    var OtRequestApprover = credential.GetPage("Approver Request Over Time") ?? new DataAccessLayer.System.Page();

    ViewBag.title = OtRequestPageAccess.PageName;
}

<div class="wrapper wrapper-content">
    <div class="page-heading">
        <div class="col-lg-8">
            <h1>@Html.Raw(OtRequestPageAccess.PageName ?? "&nbsp;")</h1>
            <ol class="breadcrumb">
                <li>
                    <a href='@Url.Action("Index", "Home")'>Home</a>
                </li>
                <li>Movement</li>
                <li class="active">
                    <strong>@Html.Raw(OtRequestPageAccess.PageName ?? "&nbsp;")</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-4">
            <div class="title-action">
                @if (OtRequestPageAccess.Insert)
                {
                    @*<a class="btn btn-primary compose-mail" href="#" id="btnadd">New Request</a>*@
                }
            </div>
        </div>
    </div>
    <div class="" style="margin-top: 85px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated fadeInLef">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-sm" style="padding: 0px;">
                <div class="tabs-container" style="border: 1px solid #009688;">
                    <div class="tab-content" style="margin-top: 0px; max-height: unset; overflow-y: hidden; overflow-x: hidden; height: 770px;">
                        @if (OtRequestApprover.Approve)
                        {
                            @*<div id="tab-2" class="tab-pane@(!OtRequestCreator.Insert ? " active": "" )">
                            *@
                            <div id="tab-2" class="tab-pane active" style="height: 850px;">
                                <div id="OTRequestsForm" class="panel-body" style="padding: 10px; max-height: 100%; border: 1px solid #e5e6e7; overflow-y: hidden;">
                                    @Html.Partial("~/Views/RequestsApproval/OTRequests/_OTRequests.cshtml")
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal custom-modal" id="ApprovalModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInDown modal-width-30">
                <div class="modal-header">
                    <h5 class="modal-title">Hours to Approve</h5>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 750px; background-color: #fff; overflow: hidden;">
                    <div class="chat-view">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label">Indicate how many hours is allowed to this request.</label>
                            <input type="number" id="ApprovedHours" name="ApprovedHours" value="" class="form-control text-transform-none" placeholder="Approved Hours..." />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" name="CancelMemoArchive" class="btn btn-outline btn-w-m btn-danger CancelMemoArchive" value="0" title="Clear"><i class="fa fa-times"></i> &nbsp;Cancel</button>*@
                    <button type="button" name="Proceed" class="btn btn-info btn-w-m Proceed" value="0" title="Proceed Approval">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal custom-modal" id="CancellationModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInDown modal-width-30">
                <div class="modal-header">
                    <h5 class="modal-title">Cancellation Remarks</h5>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 750px; background-color: #fff; overflow: hidden;">
                    <div class="chat-view">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="control-label">Indicate why you are cancelling this request.</label>
                            <textarea name="CancellationRemarks" value="" style="resize: none;" class="form-control text-transform-none" placeholder="Cancellation Remarks..." rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" name="CancelMemoArchive" class="btn btn-outline btn-w-m btn-danger CancelMemoArchive" value="0" title="Clear"><i class="fa fa-times"></i> &nbsp;Cancel</button>*@
                    <button type="button" name="Proceed" class="btn btn-info btn-w-m Proceed" value="0" title="Proceed Cancellation">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal custom-modal" id="OTRequestModal" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInDown modal-width-30">
                <div class="modal-header">
                    <h5 class="modal-title" style="text-align: center;">New Over Time Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div id="OTRequestForm" class="modal-body" style="max-height: 750px; background-color: #fff; overflow: hidden;">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
            var PersonnelID = 0; //Model.Personnel.ID;

            $(document).ready(function () {
                Events();

                $('#OTRequestModal').on('hidden.bs.modal', function () {
                    var title = $('#OTRequestModal .modal-title').text();

                    if (title.indexOf('View') == -1)
                        SearchOTRequests();
                });
            });

            function Events() {
                SetRowLoadingDisplayColSpan();

                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $('.status-checkbox').off('ifClicked').on('ifClicked', StatusFilter);

                $(".modal").on('shown.bs.modal', function () {
                    var id = $(this).attr('id');
                    $('#' + id + ' .form-control:first').focus();
                });

                $('.pages').off('click').on('click', function () {
                    $('#hid_page').val($(this).val())
                    Search();
                });

               $(document).off('keydown').on('keydown', function () {
                    if (event.keyCode == 13) {
                        if ($('div.showSweetAlert button.confirm').length > 0)
                            $('div.showSweetAlert button.confirm').trigger('click');
                    }

                    if (event.keyCode == 27) {
                        if ($('div.showSweetAlert button.confirm').length > 0)
                            $('div.showSweetAlert button.cancel').trigger('click');
                    }
                });

                $('.txt_search').off('keydown').on('keydown', function () {
                    if (event.keyCode == 13) {
                        $('#btn_search').click();
                    }
                });

                $('#btn_search').off('click').on('click', function () {
                    $('#hid_search').val($('.txt_search').val());
                    $('#hid_page').val(1);
                    $('#hid_empStat').val($('#EmploymentStatusID').val());
                    Search();
                });

                $('.clearInput').off('click').on('click', ClearField);

                $('#txt_description').off('keydown').on('keydown', function () {
                    if (event.keyCode == 13) {
                        $('#btn_search').click();
                    }
                });

                $('ul.nav-tabs li a[href="#tab-1"]').off('click').on('click', EditOrNewOTRequest);
                $('ul.nav-tabs li a[href="#tab-2"]').off('click').on('click', SearchOTRequests);

                InitDateTimePicker();
                $('#CreateOTRequest').off('click').on('click', SaveOTRequest);
                SearchTabEvents();

                $('#form_search_params .form-control').off('keydown').on('keydown', function (e) {
                    if (e.keyCode === 13) {
                        Search();
                    }
                });
            }

            function StatusFilter() {
                var name = $(this).attr('name');

                if (name == 'All') {
                    if ($(this).is(':checked')) {
                        $('.status-checkbox').each(function (e) {
                            if ($(this).attr('name') !== 'All') {
                                $(this).iCheck('uncheck');
                            }
                        });
                    }
                    else {
                        $('.status-checkbox').each(function (e) {
                            if ($(this).attr('name') !== 'All') {
                                $(this).iCheck('check');
                            }
                        });
                    }

                    $('.status-checkbox[name="IsPending"]').iCheck('check');
                }
                else {
                    $('.status-checkbox[name="All"]').iCheck('uncheck');
                }
            }

            function Search() {
                var params = $('#form_search_params *').serialize() +
                    '&IsExpired=' + $('#IsExpired').is(':checked') +
                    '&IsPending=' + $('#IsPending').is(':checked') +
                    '&IsCancelled=' + $('#IsCancelled').is(':checked') +
                    '&IsApproved=' + $('#IsApproved').is(':checked');

                $.ajax({
                    url: '@Url.Action("Index", "OTRequests")',
                    data: params,
                    type: "GET",
                    cache: false,
                    beforeSend: function () {
                        //ShowLoadingScreen();
                        ShowHideRowLoadingDisplay('OTRequestsTable', true);
                    },
                    complete: function () {
                        //RemoveLoadingScreen();
                        //ShowHideRowLoadingDisplay('OTRequestsTable', false);
                    },
                    success: function (response) {
                        if (response.msg == null) {
                            $("#OTRequestsForm").html(response);
                            Events();
                            $('.txt_search').focus()
                        } else {
                            toastr.error(response.res);
                        }
                    },
                    error: function (response) {
                        toastr.error(response.res);
                    }
                });
            }

            function SearchTabEvents() {
                $('#btn_search').off('click').on('click', SearchOTRequests);
                $('.ApproveOTRequest').off('click').on('click', ApproveOTRequest);
                $('.CancelOTRequest').off('click').on('click', CancelOTRequest);
                $('.DeleteOTRequest').off('click').on('click', DeleteOTRequest);

                $('#CreateNewOTRequest').val(PersonnelID);
                $('#ShowAllOTRequest').off('click').on('click', ShowCreateOTRequest);
                $('#CreateNewOTRequest').off('click').on('click', ShowCreateOTRequest);
                $('.ViewOTRequest').off('click').on('click', ShowCreateOTRequest);
                $('.EditOrNewOTRequest').off('click').on('click', ShowCreateOTRequest);

                $('#form_search_params select').select2();
            }

            function ShowCreateOTRequest() {
                var id = $(this).val();
                var btnTitle = $(this).attr('title');
                var tabID = $(this).attr('tpj-show-tab');

                if (tabID == '#tab-2') {
                    $('div.tab-content .tab-pane').removeClass('active');
                    $('div.tab-content ' + tabID).addClass('active');
                }

                if (tabID == '#tab-1') {
                    //EditOrNewOTRequest(id, btnTitle);
                    $('#ToClearWhenNew *').val('');
                    $('.md-step-optional').text('');
                    $('#CreateOTRequest').attr('title', 'Save');
                    $('#CreateOTRequest').empty().html('<i class="fa fa-save"></i>&nbsp;&nbsp;Save');
                    NewOTRequest();
                }
                else if (tabID == '#tab-2') {
                    SearchOTRequests();
                    //$('#tab-3 .panel-body').empty();
                    //$('ul.nav-tabs li a[href="#tab-2"]').trigger('click');
                }
                else if (tabID == '#tab-3') {
                    EditOrNewOTRequest(id, btnTitle);
                    //$('#tab-2 .panel-body').empty();
                }
            }

            function NewOTRequest() {
                var params = '__RequestVerificationToken=' +
                    $('@Html.AntiForgeryToken()').val();

                $.ajax({
                    url: '@Url.Action("New", "OTRequest")',
                    data: params,
                    type: "POST",
                    cache: false,
                    beforeSend: function () {
                        ShowLoadingScreen()
                    },
                    complete: function () {
                        RemoveLoadingScreen()
                    },
                    success: function (response) {
                        if (response.msg == null) {
                            $('#OTRequestModal .modal-body').html(response);
                            $('#OTRequestModal .modal-title').html('New Over Time Request');
                            $('#OTRequestModal').appendTo('body').modal('show');

                            //$('#CreateOTRequestForm').html(response);
                            //$('#ViewOTRequestForm').empty()
                            //$('#OTRequestsForm').empty();
                            $('#CreateOTRequest').off('click').on('click', SaveOTRequest);
                            $('#ShowAllOTRequest').off('click').on('click', ShowCreateOTRequest);
                            //ShowHideTab('#tab-1', btnTitle);
                            //$('#CreateNewOTRequest').val(id);
                            //$('#CreateNewOTRequest').off('click').on('click', EditOrNewOTRequest);

                            //if (btnTitle == 'Create')
                            //    $('#CreateOTRequestForm *').val('');
                            SearchTabEvents();
                            InitDateTimePicker();
                        } else {
                            toastr.error(response.res);
                        }
                    },
                    error: function () {
                        toastr.error('AJAX backend error', 'An error has occured.');
                    }
                });
            }

            function SearchOTRequests() {
                $('#form_search_params input[name="Page"]').val(1);

                var params = $('#form_search_params *').serialize() +
                    '&All=' + $('#All').is(':checked') +
                    '&IsExpired=' + $('#IsExpired').is(':checked') +
                    '&IsPending=' + $('#IsPending').is(':checked') +
                    '&IsCancelled=' + $('#IsCancelled').is(':checked') +
                    '&IsApproved=' + $('#IsApproved').is(':checked');

                $.ajax({
                    url: '@Url.Action("Index", "OTRequests")',
                    data: params,
                    type: "GET",
                    cache: false,
                    beforeSend: function () {
                        //ShowLoadingScreen();
                        ShowHideRowLoadingDisplay('OTRequestsTable', true);
                    },
                    complete: function () {
                        //RemoveLoadingScreen();
                        //ShowHideRowLoadingDisplay('OTRequestsTable', false);
                    },
                    success: function (response) {
                        if (response.msg == null) {
                            $('#OTRequestsForm').html(response);

                            Events();
                            InitDateTimePicker();
                        } else {
                            toastr.error(response.res);
                        }
                    },
                    error: function () {
                        toastr.error('AJAX backend error', 'An error has occured.');
                    }
                });
            }

            function SaveOTRequest() {
                var btnTitle = $(this).attr('title');
                var serializeID = btnTitle == 'Save' ? '#CreateOTRequestForm' : '#ViewOTRequestForm';
                if (btnTitle == 'Save')
                    $(serializeID + ' input[name="ID"]').val('');

                var params = $('#OTRequestForm *').serialize() +
                    '&__RequestVerificationToken=' +
                    $('@Html.AntiForgeryToken()').val();

                $.ajax({
                    data: params,
                    type: 'POST',
                    url: '@Url.Action("Save", "OTRequest")',
                    cache: false,
                    beforeSend: function () {
                        ShowLoadingScreen()
                    },
                    complete: function () {
                        RemoveLoadingScreen()
                    },
                    success: function (response) {
                        if (response.msg == null) {
                            //if (btnTitle == 'Save') {
                            //    $('#CreateOTRequestForm').empty();
                            //    $('#ViewOTRequestForm').html(response);
                            //}
                            //else {
                            //    $('#ViewOTRequestForm').empty();
                            //    $('#CreateOTRequestForm').html(response);
                            //}

                            toastr.success('Request for Over Time ' + btnTitle + 'd!');

                            $('#OTRequestForm').html(response);

                            SearchOTRequests();

                            //$('#CreateOTRequestForm *').val('');
                            //$('#CreateOTRequest').off('click').on('click', SaveOTRequest);
                            //$('#ShowAllOTRequest').off('click').on('click', ShowCreateOTRequest);
                            //InitDateTimePicker();
                        } else {
                            toastr.error(response.res);
                        }
                    },
                    error: function (response) {
                        toastr.error(response.res);
                    }
                });
            }

            function EditOrNewOTRequest(id, btnTitle) {
                var params = $('#Row-Display-OTRequests-' + id + ' *').serialize() + //serialized +
                    '&__RequestVerificationToken=' +
                    $('@Html.AntiForgeryToken()').val();

                $.ajax({
                    url: '@Url.Action("EditOrNew", "OTRequest")',
                    data: params,
                    type: "POST",
                    cache: false,
                    beforeSend: function () {
                        ShowLoadingScreen()
                    },
                    complete: function () {
                        RemoveLoadingScreen()
                    },
                    success: function (response) {
                        if (response.msg == null) {
                            $('#OTRequestModal .modal-body').html(response);
                            $('#OTRequestModal .modal-title').html('View Over Time Request');
                            $('#OTRequestModal').appendTo('body').modal('show');

                            SearchTabEvents();
                            InitDateTimePicker();
                        } else {
                            toastr.error(response.res);
                        }
                    },
                    error: function () {
                        toastr.error('AJAX backend error', 'An error has occured.');
                    }
                });
            }

            function Proceed() {
                $proceedBtn = $(this).closest('div.modal').find('.Proceed');

                if (event.keyCode == 13)
                    $proceedBtn.trigger('click');
            }

            function ApproveOTRequest() {
                var id = $(this).val();

                swal({
                    title: 'Continue to approve<br/>OT Request?',
                    text: '', //'Choose from the actions below or<br/>Press Esc to Cancel, Enter to Continue.',
                    type: 'warning',
                    showConfirmButton: true,
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    cancelButtonColor: "#f27474", //"f27474",
                    confirmButtonText: 'Continue',
                    cancelButtonText: 'Cancel',
                    closeOnConfirm: true,
                    closeOnCancel: true,
                    html: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        //$('#ApprovalModal').appendTo("body").modal('show');
                        //$('#ApprovalModal input[name="ApprovedHours"]').val('');
                        //$('#ApprovalModal .Proceed').val(id);
                        //$('#ApprovalModal .Proceed').off('click').on('click', Approve);
                        //$('#ApprovalModal .form-control').off('keydown').on('keydown', Proceed);

                        Approve(id);
                    }
                });
            }

            function Approve(id) {
                //var approveBtn = $(this);
                //var cancelBtn = $(this).next('button.CancelOTRequest');
                //var id = $(this).val();
                var approvedHours = $('#ApprovalModal input').val();
                //var row = $('#Row-Display-OTRequest-' + id);

                var params = 'id=' + id +
                    //'&ApprovedHours=' + approvedHours +
                    '&__RequestVerificationToken=' +
                    $('@Html.AntiForgeryToken()').val();

                $.ajax({
                    data: params,
                    type: 'POST',
                    url: '@Url.Action("Approve", "OTRequests")',
                    cache: false,
                    beforeSend: function () {
                        ShowLoadingScreen()
                    },
                    complete: function () {
                        RemoveLoadingScreen()
                    },
                    success: function (response) {
                        if (response.msg == true) {
                            //row.after(response);
                            //row.remove();
                            //$('.ViewOTRequest').off('click').on('click', ShowCreateOTRequest);

                            $('#ApprovalModal').modal('hide');
                            toastr.success('OT Request Approved!');

                            SearchOTRequests();
                        } else {
                            toastr.error(response.res);
                        }
                    },
                    error: function (response) {
                        toastr.error(response.res);
                    }
                });
            }

            function DeleteOTRequest() {
                var id = $(this).val();

                swal({
                    title: 'Continue to delete<br/>OT Request?',
                    text: '', //'Choose from the actions below or<br/>Press Esc to Cancel, Enter to Continue.',
                    type: 'warning',
                    showConfirmButton: true,
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    cancelButtonColor: "#f27474", //"f27474",
                    confirmButtonText: 'Continue',
                    cancelButtonText: 'Cancel',
                    closeOnConfirm: true,
                    closeOnCancel: true,
                    html: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        var params = 'id=' + id +
                            '&__RequestVerificationToken=' +
                            $('@Html.AntiForgeryToken()').val();

                        $.ajax({
                            data: params,
                            type: 'POST',
                            url: '@Url.Action("Delete", "OTRequest")',
                            cache: false,
                            beforeSend: function () {
                                ShowLoadingScreen()
                            },
                            complete: function () {
                                RemoveLoadingScreen()
                            },
                            success: function (response) {
                                if (response.msg == true) {
                                    toastr.success('OT Request Deleted!');

                                    SearchOTRequests();
                                } else {
                                    toastr.error(response.res);
                                }
                            },
                            error: function (response) {
                                toastr.error(response.res);
                            }
                        });
                    }
                });
            }

            function CancelOTRequest() {
                var id = $(this).val();

                swal({
                    title: 'Continue to cancel<br/>OT Request?',
                    text: '', //'Choose from the actions below or<br/>Press Esc to Cancel, Enter to Continue.',
                    type: 'warning',
                    showConfirmButton: true,
                    showCancelButton: true,
                    confirmButtonColor: "#1ab394",
                    cancelButtonColor: "#f27474", //"f27474",
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel',
                    closeOnConfirm: true,
                    closeOnCancel: true,
                    html: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#CancellationModal').appendTo("body").modal('show');
                            $('#CancellationModal .Proceed').val(id);
                            $('#CancellationModal .Proceed').off('click').on('click', Cancel);
                            $('#CancellationModal .form-control').off('keydown').on('keydown', Proceed);
                        }
                    });
            }

            function Cancel() {
                var remarks = $('#CancellationModal textarea').val();
                var id = $(this).val();
                //var row = $('#Row-Display-OTRequest-' + id);

                if (remarks.length > 0) {
                    var params = 'id=' + id +
                        '&CancellationRemarks=' + remarks +
                        '&__RequestVerificationToken=' +
                        $('@Html.AntiForgeryToken()').val();

                    $.ajax({
                        data: params,
                        type: 'POST',
                        url: '@Url.Action("Cancel", "OTRequests")',
                        cache: false,
                        beforeSend: function () {
                            ShowLoadingScreen()
                        },
                        complete: function () {
                            RemoveLoadingScreen()
                        },
                        success: function (response) {
                            if (response.msg == true) {
                                $('#CancellationModal').modal('hide');
                                toastr.success('OT Request cancelled!');

                                SearchOTRequests();
                            } else {
                                toastr.error(response.res);
                            }
                        },
                        error: function (response) {
                            toastr.error(response.res);
                        }
                    });
                }
                else {
                    toastr.error('Remarks is required!');
                }
            }

            function ShowHideTab(id, btnTitle) {
                $('ul.nav-tabs li').removeClass('active');
                $('div.tab-content .tab-pane').removeClass('active');

                $('ul.nav-tabs li a[href="' + id + '"]').text(btnTitle + ' Request').attr('title', btnTitle);
                $('ul.nav-tabs li a[href="' + id + '"]').parent('li').addClass('active');
                $('div.tab-content ' + id).addClass('active');
            }

            function InitDateTimePicker() {
                $('input.js-datetimepicker').tpjdatetime();

                $('input.js-datetimepicker').next('.clearInput').hide();

                $('.clearInput').off('click').on('click', ClearField);
            }

            function ClearField() {
                $input = $(this).prev('input');
                $inputHidden = $(this).closest('td').find('input[type="hidden"]');
                $input.val('');
                $inputHidden.val('');
                showClearInput($input);
                $('.send').hide();

                if ($(this).parent().parent().find('input.form-control').attr('id') == 'browseImage' &&
                    $('#ImageCanvasImg').attr('src') != '\Images\default.jpg') {
                    $('#ImageCanvasImg').attr('src', '\\Images\\default.jpg');
                    $input.val('default.jpg');
                }
            }

            function showClearInput($this) {
                var $input = $('#' + $this.attr('id'))
                var $clearBtn = $input.next('.clearInput');
                //$clearBtn.css("display", $input.val() == "" ? "none" : "block");

                if ($input.val() == "") {
                    $clearBtn.hide();
                } else {
                    $clearBtn.show();
                }
            }
</script>