@model WebTemplate.Models.Maintenance.Lookup.HRDynamicMaintenance.Management

@using (Ajax.BeginForm("CreateOrUpdate", "Maintenance/Lookup/HRDynamicMaintenance", 
    new AjaxOptions { HttpMethod = "POST", OnBegin = "", OnComplete = "", OnSuccess = "createupdate_item_success", OnFailure = "toastr.error('Potentially dangerous value was detected', 'Saving failed')" }))
{
    @Html.HiddenFor(m => m.TableName)
    @Html.HiddenFor(m => m.Lookup.ID)
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-10">
                <h5 class="modal-title">@(Model.Lookup.ID == 0 ? "Add New Item" : "Update Existing Item")</h5>
            </div>
            <div class="col-xs-2">
                <button type="button" class="modal-tools" data-dismiss="modal" title="Left click to close"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="m-t-sm m-b-sm">
               @Html.Label("Description")
               @Html.TextBoxFor(m => m.Lookup.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-outline btn-w-m" type="submit"><i class="fa fa-save"></i>&nbsp; Save</button>
    </div>
}