@model ProcessLayer.Entities.CnB.PayrollPeriod

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PayrollPageAccess = credential.GetPage("CnB/PayrollSheetB") ?? new DataAccessLayer.System.Page();
}

<tr id="@Model.PayPeriod" class="Row-Display Row-Display-PayrollBase" style="cursor: pointer">
    <td hidden>
        <input id="PayrollBase.ID" name="PayrollBase.ID" value="@Html.ValueFor(m => m.ID)" />
        <input id="PayrollBase.StartDate" name="PayrollBase.StartDate" value="@Html.ValueFor(m => m.StartDate)" />
        <input id="PayrollBase.EndDate" name="PayrollBase.EndDate" value="@Html.ValueFor(m => m.EndDate)" />
    </td>
    <td style="text-align: center;"><i class="fa fa-angle-right"></i></td>
    <td style="text-align: center">@Model.StartDate.ToString("MMM dd, yyyy")</td>
    <td style="text-align: center">@Model.EndDate.ToString("MMM dd, yyyy")</td>
    @*<td style="width: 160px;" class="row-actions">
            <div class="btn-group">
                @if (PayrollPageAccess.Update)
                {
                    <button type="button" name="id" tpj-show-tab="#tab-3" class="btn btn-info btn-sm btn-rounded ViewPayrollBase" value="@Model.PayPeriod" title="View Payroll"><i class="fa fa-eye"></i></button>
                }
            </div>
        </td>*@
</tr>