@model List<ProcessLayer.Entities.VesselMovementCrews>
@using WebTemplate.Extension

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PageAccess = credential.GetPage("Movement/VesselMovement") ?? new DataAccessLayer.System.Page();
}

<form>
    <fieldset>
        <legend>Voyage Crews</legend>
        <div class="table-responsive" style="max-height: 300px; overflow-y: auto; margin-bottom: 0">
            <table id="VoyageCrewsTable" class="table table-stripped table-bordered" style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        @*<th>Seq No.</th>*@
                        <th>Rank</th>
                        <th>Destination</th>
                        <th>Employee No</th>
                        <th>Employee</th>
                        @*<th>Date Embarked</th>
                        <th>Date Disembarked</th>
                        <th>Basic Rate</th>*@
                        @*<th>Daily Rate</th>
                        <th>Remarks</th>*@
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="VoyageCrewDiv">
                    <tr id="Row-Loading-Display" class="hidden">
                        <td style="text-align: center;" colspan="10">
                            <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                        </td>
                    </tr>
                    @if (Model.Count > 0)
                    {
                        for (var i = 0; i < Model.Count(); i++)
                        {
                            <tr id="@Model[i].ID" class="voyageCrew Voyage-Crew-@Model[i].ID">
                                <td>
                                    <input class="Personnel" type="hidden" name="model.VesselMovementCrewList[@i].PersonnelID" value="@Model[i].Personnel.ID" />
                                    <input class="Deleted" type="hidden" name="model.VesselMovementCrewList[@i].Deleted" value="false" />
                                </td>
                                <td></td>
                                <td>@Model[i].Personnel.EmployeeNo</td>
                                <td style="text-align: left; text-transform: uppercase; display: flex;">
                                    <img src="@(String.IsNullOrEmpty(Model[i].Personnel.ImagePath) ? "\\Images\\default.jpg": Model[i].Personnel.ImagePath)" style="height: 50px; width: 50px; min-height: 40px; max-w: 40px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;" title="" />
                                    <div>
                                        <b class="text-primary">@Model[i].Personnel.FullName</b>
                                        @Html.Raw(!String.IsNullOrEmpty(Model[i].Department.CheckIfNull().ShortDescription) ? $"<br /><text style='text-transform: uppercase; font-weight: 700;'>{Model[i].Department.CheckIfNull().ShortDescription}</text>" : "")
                                        @Html.Raw(!String.IsNullOrEmpty(Model[i].Position.CheckIfNull().Description) ? $"<br /><text style='text-transform: uppercase; font-weight: 700;'>{Model[i].Position.CheckIfNull().Description}</text>" : "")
                                        @Html.Raw(!String.IsNullOrEmpty(Model[i].Personnel.Email) ? $"<br /><text style='text-transform: uppercase;'><i class='fa fa-envelope'></i> {Model[i].Personnel.Email}</text>" : "")
                                        @Html.Raw(!String.IsNullOrEmpty(Model[i].Personnel.Address) ? $"<br /><text style='text-transform: uppercase;'><i class='fa fa-map-marker'></i> {Model[i].Personnel.Address}</text>" : "")
                                    </div>
                                </td>
                                    @*<td>@Model[i].DateEmbarked.CheckIfNull().ToString("MMM dd, yyyy")</td>
                                    <td>@Model[i].DateDisembarked.CheckIfNull().ToString("MMM dd, yyyy")</td>
                                <td>@Model[i].BasicRate.Value.ToString("#,###.00##")</td>*@
                                @*<td>@Model[i].DailyRate.ToString("#,###.00##")</td>
                                    <td>@Model[i].Remarks</td>*@
                                <td style="text-align: center;">
                                    @if (PageAccess.View)
                                    {
                                        <button type="button" name="RemoveCrew" class="btn btn-outline btn-danger btn-sm btn-rounded RemoveCrew" value="@Model[i].PersonnelID" title="Remove crew"><i class="fa fa-times"></i></button>
                                        <button type="button" name="AddCrew" class="btn btn-default btn-sm btn-rounded AddCrew hidden" value="@Model[i].PersonnelID" title="Undo remove crew"><i class="fa fa-undo"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr id="No-Row-Display"><td class="text-center" colspan="10">No Crews yet...</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </fieldset>
</form>