@model List<ProcessLayer.Entities.VesselCrews>
@using WebTemplate.Extension

@{
}

<div class="row">
    <form>
        <fieldset>
            <legend>Crew</legend>
            <table class="table table-stripped table-bordered" style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th>Seq No.</th>
                        <th>Rank</th>
                        <th>Destination</th>
                        <th>Employee No</th>
                        <th>Employee</th>
                        @*<th>Department</th>
                            <th>Position</th><th>Basic Rate</th>
                            <th>Date Embarked</th>
                            <th>Date Disembarked</th>*@
                        @*<th>Daily Rate</th>
                            <th>Remarks</th>*@
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var crew in Model)
                        {
                            <tr id="@crew.Personnel.ID">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>@crew.Personnel.EmployeeNo</td>
                                <td>
                                    @crew.Personnel.FullName
                                    @*@crew.Department.Description*@
                                    @*@crew.Department.ShortDescription
                                        @crew.Department.Office*@
                                    @crew.Position.Description
                                    @*@crew.Position.Display
                                        @crew.Position.FullDisplay*@
                                </td>
                                @*<td>@crew.BasicRate.Value.ToString("#,###.00##")</td>
                                    <td>@crew.DateEmbarked.CheckIfNull().ToString("MMM dd, yyyy")</td>
                                    <td>@crew.DateDisembarked.CheckIfNull().ToString("MMM dd, yyyy")</td>*@
                                @*<td>@crew.DailyRate.ToString("#,###.00##")</td>
                                    <td>@crew.Remarks</td>*@
                                <td></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td class="text-center" colspan="10">No records...</td></tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </form>
</div>

@*<form>
        <fieldset>
            <legend>Allowance</legend>
            <table class="table table-stripped table-bordered" style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th>Allowance</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Created By</th>
                        <th>Date Created</th>
                        <th>Created By</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td class="text-center" colspan="10">No records...</td></tr>
                </tbody>
            </table>
        </fieldset>
    </form>*@