@model ProcessLayer.Entities.VesselMovement
@using WebTemplate.Extension

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PageAccess = credential.GetPage("Movement/VesselMovement") ?? new DataAccessLayer.System.Page();
    var CheckAccess = credential.GetPage("Vessel Movement Check") ?? new DataAccessLayer.System.Page();
    var ApproveAccess = credential.GetPage("Approver Vessel Movement") ?? new DataAccessLayer.System.Page();

    var movementTypes = ProcessLayer.Processes.LookupProcess.GetVesselMovementType().Where(m => m.ID != Model.MovementStatusID);
    //var voyageTypes = ProcessLayer.Processes.LookupProcess.GetVesse
    var locations = ProcessLayer.Processes.LocationProcess.Instance.GetList();

    var isForChecking = CheckAccess.Approve && Model.MovementStatusID < 3 && Model.VesselMovementCrewList.Count() > 0;// Model.CheckedBy == null && Model.ApprovedBy == null;
    var isForApproving = ApproveAccess.Approve && Model.MovementStatusID < 4 && !isForChecking && Model.VesselMovementCrewList.Count() > 0;//  && Model.ApprovedBy == null && !isForChecking;
}

<style>
    body .md-stepper-horizontal .md-step:hover,
    body .md-stepper-horizontal .md-step:active {
        background-color: transparent !important;
    }

    .md-step.btn-primary .md-step-circle {
        background-color: #000;
    }
</style>

<div class="vertical-alignment-helper">
    <div class="modal-center vertical-align-center" style="margin: 0;">
        <div class="modal-content modal-width-100" style="height: 100%;">
            <div class="modal-header">
                <h5 class="modal-title">@(Model.ID == 0 ? "New " : "Edit ") @Model._Vessel.CheckIfNull().Description Voyage</h5>
            </div>
            <div class="modal-body" style="height: inherit;">
                @if (Model.ID > 0)
                {
                    if (Model.MovementStatusID == 1)
                    {
                        @*<div class="md-stepper-horizontal orange">
                        <div class="md-step active done5">
                            <div class="md-step-circle"></div>
                            <div class="md-step-title">Cancelled</div>
                            <div class='md-step-optional'>@Model.Moveme, @String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.CancelledDate)</div>
                            <div class="md-step-bar-left"></div>
                        </div>
                    </div>*@
                    }
                    else
                    {
                        <div class="md-stepper-horizontal green">
                            @if (Model.ModifiedBy != null) { 
                                <div class="md-step @((Model.MovementStatusID ?? 0) >= 0 ? "active " : "")done1" title="Created: &#13;@(Model.Creator) &#13;@($"{Model.CreatedDate:MM/dd/yyyy hh:mm tt}")">
                                    <div class="md-step-circle"></div>
                                    <div class='md-step-optional'>@Html.Raw((Model.MovementStatusID ?? 0) >= 0 ? Model.Modifier : "&nbsp;"), @Html.Raw((Model.MovementStatusID ?? 0) >= 0 ? $"{Model.ModifiedDate:MM/dd/yyyy hh:mm tt}" + "" : "&nbsp;")</div>
                                    <div class="md-step-title">Modified</div>
                                    <div class="md-step-bar-left"></div>
                                    <div class="md-step-bar-right"></div>
                                </div>
                            }
                            else { 
                                <div class="md-step @((Model.MovementStatusID ?? 0) >= 0 ? "active " : "")done1">
                                    <div class="md-step-circle"></div>
                                    <div class='md-step-optional'>@Html.Raw((Model.MovementStatusID ?? 0) >= 0 ? Model.Creator : "&nbsp;"), @Html.Raw((Model.MovementStatusID ?? 0) >= 0 ? $"{Model.CreatedDate:MM/dd/yyyy hh:mm tt}" + "" : "&nbsp;")</div>
                                    <div class="md-step-title">Created</div>
                                    <div class="md-step-bar-left"></div>
                                    <div class="md-step-bar-right"></div>
                                </div>
                            }
                            <div class="md-step @(Model.MovementStatusID >= 3 ? "active " : "")done2 @Html.Raw(isForChecking ? "btn btn-primary" : "")" @Html.Raw(isForChecking ? "style='cursor: pointer;' action='Check' onclick='CheckApproveVoyage(1);'" : "")>
                                <div class="md-step-circle"></div>
                                <div class='md-step-optional'>
                                    @Html.Raw($"{(Model.MovementStatusID >= 3 ? $"{Model.Checker} {Model.CheckedDate:MM/dd/yyyy hh:mm tt}" : (!Model.VesselMovementCrewList.Any() ? "No Crews Yet..." : "&nbsp;"))}")
                                </div>
                                <div class="md-step-title">@Html.Raw(Model.MovementStatusID >= 3 ? "Checked" : "For Checking")</div>
                                @Html.Raw(!isForChecking ? "<div class='md-step-bar-left'></div><div class='md-step-bar-right'></div>" : "")
                            </div>
                            <div class="md-step @(Model.MovementStatusID == 4 ? "active " : "")done4 @Html.Raw(isForApproving ? "btn btn-primary" : "")" @Html.Raw(isForApproving ? "style='cursor: pointer;' action='Approve' onclick='CheckApproveVoyage(0);'" : "")>
                                <div class="md-step-circle"></div>
                                <div class='md-step-optional'>@Html.Raw(Model.MovementStatusID == 4 ? Model.Approver : "&nbsp;"), @Html.Raw(Model.MovementStatusID >= 4 ? String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.ApprovedDate) + "" : "&nbsp;")</div>
                                <div class="md-step-title">@Html.Raw(Model.MovementStatusID == 4 ? "Approved" : "For Approving")</div>
                                @Html.Raw(!isForApproving ? "<div class='md-step-bar-left'></div><div class='md-step-bar-right'></div>" : "")
                            </div>
                        </div>
                    }
                }
            <fieldset id="VesselVoyageFieldSet">
                <legend>Route</legend>
                @Html.Hidden("model.ID", Model.ID, new { @class = "form-control" })
                @Html.Hidden("model.VesselID", Model.VesselID, new { @class = "form-control" })
                @Html.Hidden("model.CreatedBy", Model.CreatedBy, new { @class = "form-control" })
                @Html.Hidden("model.ModifiedBy", Model.ModifiedBy, new { @class = "form-control" })
                @Html.Hidden("model.CheckedBy", Model.CheckedBy, new { @class = "form-control" })
                @Html.Hidden("model.ApprovedBy", Model.ApprovedBy, new { @class = "form-control" })
                @Html.Hidden("model.CreatedDate", Model.CreatedDate, new { @class = "form-control" })
                @Html.Hidden("model.ModifiedDate", Model.ModifiedDate, new { @class = "form-control" })
                @Html.Hidden("model.CheckedDate", Model.CheckedDate, new { @class = "form-control" })
                @Html.Hidden("model.ApprovedDate", Model.ApprovedDate, new { @class = "form-control" })
                @Html.Hidden("model.MovementStatusID", Model.MovementStatusID, new { @class = "form-control" })
                <div class="">
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="control-label">Start Date</label>
                        @Html.TextBox("model.VoyageStartDate", $"{Model.VoyageStartDate:yyyy'-'MM'-'dd}", new { @type = "date", @class = "form-control voyage-main required" })
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="control-label">End Date</label>
                        @Html.TextBox("model.VoyageEndDate", $"{Model.VoyageEndDate ?? DateTime.Now:yyyy'-'MM'-'dd}", new { @type = "date", @class = "form-control voyage-main" })
                    </div>
                    @*<div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <label class="control-label"></label>
                @Html.DropDownList("VoyageStatusID", new SelectList(absenceSubTypes, "Key", "Value", 1), new { @class = "form-control" })
            </div>*@
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="control-label">Origin</label>
                        @Html.DropDownList("model.OriginLocationID", new SelectList(locations, "ID", "Description", Model.OriginLocationID), new { @class = "form-control required" })
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="control-label">ETD</label>
                        @Html.TextBox("model.ETD", $"{Model.ETD:yyyy'-'MM'-'dd}", new { @type = "date", @class = "form-control voyage-main required" })
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="control-label">Destination</label>
                        @Html.DropDownList("model.DestinationLocationID", new SelectList(locations, "ID", "Description", Model.DestinationLocationID), new { @class = "form-control" })
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="control-label">ETA</label>
                        @Html.TextBox("model.ETA", $"{Model.ETA:yyyy'-'MM'-'dd}", new { @type = "date", @class = "form-control voyage-main required" })
                    </div>
                </div>
                <div class="">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="control-label">Details</label>
                        @Html.TextArea("model.VoyageDetails", new { @class = "form-control voyage-main", @rows = "4", @placeholder = "Details..." })
                    </div>
                </div>
            </fieldset>
                @if (Model.ID > 0)
                {
                    if (Model.MovementStatusID != 4 && !isForApproving)
                    {
                        @Html.Partial("~/Views/Movement/VesselMovement/Voyage/_CrewSearch.cshtml")
                    }
                    @Html.Partial("~/Views/Movement/VesselMovement/Voyage/_VesselMovement.cshtml")
                }
            </div>
            <div class="modal-footer" style=" bottom: 0; position: absolute; width: 100%;">
                @if (Model.MovementStatusID != 4 && !isForApproving)
                {
                    <button id="SaveVesselVoyage" type="button" class="btn btn-primary pull-right" onclick="SaveVesselVoyage(@Model.VesselID);" value="@Model.ID" title="@(Model.ID == 0 ? "Save " : "Update ")Voyage"><i class="fa fa-@(Model.ID == 0 ? "save" : "save")"></i> @(Model.ID == 0 ? "Save" : "Update")</button>
                }
                <button type="button" class="btn btn-white pull-right m-r-sm" data-dismiss="modal"><i class="fa fa-ban"></i> Close</button>
            </div>
        </div>
    </div>
</div>
