@model ProcessLayer.Entities.VesselMovement
@using WebTemplate.Extension

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PageAccess = credential.GetPage("Movement/VesselMovement") ?? new DataAccessLayer.System.Page();
    var CheckAccess = credential.GetPage("Vessel Movement Check") ?? new DataAccessLayer.System.Page();
    var ApproveAccess = credential.GetPage("Approver Vessel Movement") ?? new DataAccessLayer.System.Page();

    var crews = Model.VesselMovementCrewList ?? new List<ProcessLayer.Entities.VesselMovementCrews>();
    var isForChecking = CheckAccess.Approve && Model.MovementStatusID < 3 && Model.VesselMovementCrewList.Count() > 0;// Model.CheckedBy == null && Model.ApprovedBy == null;
    var isForApproving = ApproveAccess.Approve && Model.MovementStatusID < 4 && !isForChecking && Model.VesselMovementCrewList.Count() > 0;//  && Model.ApprovedBy == null && !isForChecking;

    var positionsalary = ProcessLayer.Processes.PositionSalaryProcess.GetList();
    //var fleetDept = ProcessLayer.Processes.Lookups.DepartmentProcess.Instance.GetListOffice().Where(m => m.ShortDescription == "FD");
}

@if (crews.Count > 0)
{
    <form>
        <fieldset>
            <legend>Voyage Crews</legend>
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto; margin-bottom: 0">
                <table id="VoyageCrewsTable" class="table table-stripped table-bordered" style="margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th class="text-center">Employee No</th>
                            <th class="text-left">Employee</th>
                            <th class="text-left">Position</th>
                            <th class="text-right">Daily Rate</th>
                            <th>Remarks</th>
                            @if (PageAccess.View && PageAccess.Update && PageAccess.Insert && Model.MovementStatusID != 4 && !isForApproving)
                            {
                                <th class="text-center">Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody id="VoyageCrewDiv">
                        <tr id="Row-Loading-Display" class="hidden">
                            <td style="text-align: center;" colspan="10">
                                <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                            </td>
                        </tr>
                        @for (var i = 0; i < crews.Count(); i++)
                        {
                            <tr id="@crews[i].ID" class="voyageCrew Voyage-Crew-@crews[i].ID">
                                <td class="text-center">
                                    <input class="form-control" type="hidden" name="ID" value="@crews[i].ID" />
                                    <input class="form-control" type="hidden" name="VesselMovementID" value="@crews[i].VesselMovementID" />
                                    <input class="form-control" type="hidden" name="PersonnelID" value="@crews[i].Personnel.ID" />
                                    <input class="form-control" type="hidden" name="Deleted" value="false" />@crews[i].Personnel.EmployeeNo
                                    <input class="form-control" type="hidden" name="DepartmentID" value="@crews[i].DepartmentID" />
                                </td>
                                <td class="text-left" style="text-transform: uppercase; display: flex;">
                                    <img src="@(String.IsNullOrEmpty(crews[i].Personnel.ImagePath) ? "\\Images\\default.jpg": crews[i].Personnel.ImagePath)" style="height: 50px; width: 50px; min-height: 40px; max-width: 40px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;" title="" />
                                    <div>
                                        <b class="text-primary">@crews[i].Personnel.FullName</b>
                                        @Html.Raw(!String.IsNullOrEmpty(crews[i].Department.CheckIfNull().Description) ? $"<br /><text style='text-transform: uppercase; font-weight: 700;'>{crews[i].Department.CheckIfNull().Description}</text>" : "")
                                    </div>
                                </td>
                                @if (Model.MovementStatusID != 4 && !isForApproving)
                                {
                                    <td class="text-center">
                                        @Html.DropDownList("PositionID", new SelectList(positionsalary, "Position.ID", "Position.Description", crews[i].PositionID), "N/A", new { @class = "form-control required" })
                                        @*@Html.Raw(!String.IsNullOrEmpty(crews[i].Position.CheckIfNull().Description) ? $"<br /><text style='text-transform: uppercase; font-weight: 700;'>{crews[i].Position.CheckIfNull().Description}</text>" : "")*@
                                    </td>
                                    <td class="text-right rate">
                                        <div class="rate-group">
                                            @Html.TextBox("DailyRate", (crews[i].DailyRate ?? 0).ToString("#,##0.00##"), new { @class = "form-control text-right required", @type = "currency" })
                                            @*@crews[i].BasicRate.Value.ToString("#,###.00##")*@
                                            @*@if (Model.MovementStatusID < 3)
                    {
                        <button id="" class="btn btn-outline btn-info EditDailyRate edit" type="button" action="Edit" title="Edit Daily Rate"><i class="fa fa-pencil"></i></button>
                        <button id="" class="btn btn-outline btn-warning CancelDailyRate save" type="button" action="Cancel" style="display: none;" title="Cancel editing"><i class="fa fa-ban"></i></button>
                        <button id="" class="btn btn-outline btn-primary SaveDailyRate save" type="button" action="Save" style="display: none;" title="Ok"><i class="fa fa-thumbs-up"></i></button>
                    }*@
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        @Html.Raw(!String.IsNullOrEmpty(crews[i].Position.CheckIfNull().Description) ? $"<br /><text style='text-transform: uppercase; font-weight: 700;'>{crews[i].Position.CheckIfNull().Description}</text>" : "")
                                    </td>
                                    <td class="text-right rate">
                                        @crews[i].DailyRate.Value.ToString("#,###.00##")
                                    </td>
                                }
                                <td>@crews[i].Remarks</td>
                                @if (PageAccess.View && PageAccess.Update && PageAccess.Insert && Model.MovementStatusID != 4 && !isForApproving)
                                {
                                    <td style="text-align: center;">
                                        <button type="button" name="RemoveCrew" class="btn btn-outline btn-danger btn-sm btn-rounded RemoveCrew" value="@crews[i].PersonnelID" title="Remove crew"><i class="fa fa-times"></i></button>
                                        <button type="button" name="AddCrew" class="btn btn-default btn-sm btn-rounded AddCrew hidden" value="@crews[i].PersonnelID" title="Undo remove crew"><i class="fa fa-undo"></i></button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
}
else
{
    @*<tr    id="No-Row-Display"><td class="text-center" colspan="10">No Crews yet...</td></tr>*@
}