@model WebTemplate.Models.Maintenance.Lookup.PositionSalary.Index
@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PageAccess = credential.GetPage("Maintenance/Lookup/PositionSalary") ?? new DataAccessLayer.System.Page();
    ViewBag.title = PageAccess.PageName;
}

<div class="wrapper wrapper-content">
    <div class="page-heading">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Shared/_Breadcrumbs.cshtml", PageAccess)
        </div>
        <div class="col-lg-4">
            @if (PageAccess.Insert)
            {
                <div class="title-action">
                    <a class="btn btn-primary compose-mail" href="#" id="btnadd" onclick="manage_item()">Add @PageAccess.PageName</a>
                </div>
            }
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-sm" style="padding: 0px; margin-top: 80px;">
        <div class="tabs-container" style="">
            <div class="tab-content" style="margin-top: 0px; max-height: unset; overflow-y: hidden; overflow-x: hidden; height: unset;">
                @if (PageAccess.View)
                {
                    <div id="tab-2" class="tab-pane active" style="">
                        <div id="" class="panel-body" style="padding: 10px !important; max-height: 100%; border: 1px solid #e5e6e7; overflow: hidden;">
                            @Html.Partial("~/Views/Maintenance/Lookup/PositionSalary/_Search.cshtml")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal custom-modal" id="modal-lookup" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInDown modal-width-30">
                <div id="modal-lookup-body"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

        $(document).ready(function () {
            InitializeAutoNumeric('.autonumeric');
            $('#view-text-description').focus();
            $('#view-text-description').keypress(function (e) {
                var key = e.which;
                if (key == 13) {
                    get_items();
                }
            });
        });

        function get_items() {
            $.ajax({
                url: '@Url.Action("Index", "Maintenance/Lookup/PositionSalary")',
                data: { filter: $('#view-text-description').val() },
                type: "POST",
                cache: false,
                beforeSend: function () {
                    ShowLoadingScreen()
                },
                complete: function () {
                    RemoveLoadingScreen()
                },
                success: function (response) {
                    if (response.ErrorMsg != null) {
                        toastr.error(response.ErrorMsg, "Backend Error");
                    }
                    else {
                        $('#form_search').html(response);
                        InitializeAutoNumeric('.autonumeric');
                        $('#view-text-description').focus();
                    }
                },
                error: function () {
                    toastr.error('AJAX backend error', 'An error has occured.');
                }
            });
        }
        function manage_item(id) {
            $.ajax({
                url: '@Url.Action("Management", "Maintenance/Lookup/PositionSalary")',
                data: { uid: id },
                type: "POST",
                cache: false,
                beforeSend: function () {
                    ShowLoadingScreen()
                },
                complete: function () {
                    RemoveLoadingScreen()
                },
                success: function (response) {
                    if (response.ErrorMsg != null) {
                        toastr.error(response.ErrorMsg, "Backend Error");
                    }
                    else {
                        $('#modal-lookup-body').html(response);
                        $('#btn-save').off('click').on('click', function () {
                            $('input.autonumeric').each(function () {
                                if (HasAutoNumeric(this)) {
                                    var _elementValue = GetAutoNumericValue(this);
                                    DestroyAutoNumeric(this);
                                    $(this).val(_elementValue);
                                }
                            });
                            $('#form').submit();
                        });

                        Select2Override();
                        InitializeAutoNumeric('.autonumeric');
                        $('#modal-lookup').appendTo("body").modal('show');
                    }
                },
                error: function () {
                    toastr.error('AJAX backend error', 'An error has occured.');
                }
            });
        }
        function delete_item(id) {
            swal({
                title: "Are you sure?",
                text: "Delete this Item?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm)
                    $.ajax({
                        url: '@Url.Action("Delete", "Maintenance/Lookup/PositionSalary")',
                        data: { uid: id },
                        type: "POST",
                        cache: false,
                        beforeSend: function () {
                            ShowLoadingScreen()
                        },
                        complete: function () {
                            RemoveLoadingScreen()
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                toastr.success("Item has been successfully deleted!");
                                get_items();
                            }
                            else {
                                toastr.error(response.ErrorMsg, "Backend Error");
                            }
                        },
                        error: function () {
                            toastr.error('AJAX backend error', 'An error has occured.');
                        }
                    });
            })
        }
        function search_item_success(response) {
            if (response != null) {
                if (response.ErrorMsg != null) {
                    toastr.error(response.ErrorMsg, "Backend Error");
                }
                else {
                    $('#form_search').html(response);
                }
            }
            else {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        }
        function createupdate_item_success(response) {
            if (response != null) {
                if (response.IsSuccess) {
                    toastr.success("Item has been successfully saved!", "Success");
                    get_items();
                    $('#modal-lookup').modal('hide');
                }
                else {
                    toastr.error(response.ErrorMsg, "Backend Error");
                }
            }
            else {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        }

</script>