@model ProcessLayer.Entities.PolicyAndProcedure


<tr id="@Model.ID" class="Row-Display Row-Display-MemoArchive read Modal-PolicyAndProcedure-Record" title="Click to open record">
    <td class="text-left">
        <input hidden class="MemoNo" value="@Model.MemoNo" />
        <input hidden class="Subject" value="@Model.Subject" />
        <b style="font-size: 10px;">@Model.MemoNo</b>
        <br />
        <text class="font-bold-500" style="font-size: 10px; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
            @(!String.IsNullOrEmpty(Model.Description) ? Model.Description : "")
        </text>
    </td>
    <td class="text-center mail-date" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px;">@String.Format("{0:MMM dd, yyyy}", Model.MemoDate)</td>
    <td>
        @if (Model.IsNew)
        {
            <div class='infraction-action'>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger btn-sm btn-rounded btn-outline btn-delete-memo" title="Delete" value="@Model.MemoDate.Value.Year" id="@Model.ID"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        }
    </td>
</tr>
