@using WebTemplate.Extension;
@model WebTemplate.Models.MemoArchives.PolicyAndProcedure.Management

@{ 

}

<div class="" style="max-height: 550px; overflow-y: scroll;">
    <table id="PersonnelsTable" class="table table-stripped table-bordered" tpj-table-multiple-select="false" style="max-height: 500px;">
        <thead>
            <tr>
                <th style="text-align: center; " scope="col">Personnel</th>
            </tr>
        </thead>
        <tbody>
            <tr id="Row-Loading-Display" class="hidden">
                <td style="text-align: center;" colspan="10">
                    <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                </td>
            </tr>
            @if (Model.Personnels.Count() > 0)
            {
                <tr id="No-Row-Display" class="hidden"><td style="text-align: center;" colspan="10">No Personnels found...</td></tr>
                for (int i = 0; i < Model.Personnels.Count(); i++)
                {
                    <tr id="@Model.Personnels[i].ID" class="personnel">
                        <td class="hidden">
                            <input class="PersonnelID" type="hidden" name="model[@i].PersonnelID" value="@Model.Personnels[i].ID" />
                            <input class="Deleted" type="hidden" name="model[@i].Deleted" value="0" />
                            <input class="RowIndex" type="hidden" value="@i" />
                        </td>
                        <td style="padding: 0px;" colspan="2">
                            <button type="button" class="btn btn-white" style="width: 100%; padding: 3px 0px 0px 12px; cursor: pointer;">
                                <div style="text-align: left; text-transform: uppercase; white-space: nowrap; display: flex;">
                                    <label style="margin: 0px; margin: auto 0px;" class="checkbox i-checks pull-right">
                                        <input type="checkbox" id="SelectPersonnel" class="form-control pull-right selectPersonnel" disabled="disabled">
                                    </label>
                                    <img src="@(String.IsNullOrEmpty(Model.Personnels[i].ImagePath) ? "\\Images\\default.jpg": Model.Personnels[i].ImagePath)" style="height: 50px; width: 50px; min-height: 40px; min-width: 40px; border: 3px solid #eaeaea; margin: 10px ; border-radius: 50px;" title="" />
                                    <div>
                                        <b class="" style="color: #535353;">@String.Format("{0}, {1} {2}", Model.Personnels[i].LastName, Model.Personnels[i].FirstName, Model.Personnels[i].MiddleName)</b>
                                        <br />
                                        <text class="" style="text-transform: none; font-weight: 700;">@(Model.Personnels[i]._Departments.CheckIfNull().Select(x => x._Department.CheckIfNull().Description).FirstOrDefault() ?? "No Department")</text>
                                        <br />
                                        <text class="" style="text-transform: none;">@(Model.Personnels[i]._Positions.Select(x => x._Position.CheckIfNull().Description).FirstOrDefault() ?? "No Position")</text>
                                    </div>
                                </div>
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr id="No-Row-Display">
                    <td style="text-align: center;" colspan="10">No Personnels found...</td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
