@model WebTemplate.Models.Personnel.Index

@{
}
<div class="license-container">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            @*<li class=""><a data-toggle="tab" href="#license-tab-1">Recent</a></li>*@
            <li class="active"><a data-toggle="tab" href="#license-tab-2">This Year</a></li>
            <li class=""><a data-toggle="tab" href="#license-tab-3">Upcoming Year</a></li>
        </ul>
        <div class="tab-content">
            @*<div id="license-tab-1" class="tab-pane">
                    <div class="panel-body" style="padding: 0px; ">
                        <table class="table table-stripped table-bordered" style="margin-bottom: 0px;">
                            <tbody>
                                @if (ExpiringLicencesThisMonthRecent.Count() > 0)
                                {
                                    for (int i = 0; i < ExpiringLicencesThisMonthRecent.Count(); i++)
                                    {
                                        if (lastbdate != String.Format("{0:mm/dd/yyyy}", ExpiringLicencesThisMonthRecent[i].ExpirationDate.ToString()))
                                        {
                                            <tr><td>@String.Format("{0:dddd}, {1:MMMM dd}", new DateTime(DateTime.Now.Year, DateTime.Now.Month, ExpiringLicencesThisMonthRecent[i].ExpirationDate.Value.Day), ExpiringLicencesThisMonthRecent[i].ExpirationDate)</td></tr>
                                        }
                                        <tr title="@String.Format("{0}, {1} {2}", ExpiringLicencesThisMonthRecent[i]._Personnel.LastName, ExpiringLicencesThisMonthRecent[i]._Personnel.FirstName, ExpiringLicencesThisMonthRecent[i]._Personnel.MiddleName)">
                                            <td style="text-align: left; padding: 5px; border: 1px solid #eee; text-transform: uppercase;">
                                                <div style="float: left;">
                                                    <img src="@(String.IsNullOrEmpty(ExpiringLicencesThisMonthRecent[i]._Personnel.ImagePath) ? "\\Images\\default.jpg" : ExpiringLicencesThisMonthRecent[i]._Personnel.ImagePath)" style="height: 35px; width: 35px; min-height: 35px; min-width: 35px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;" />
                                                </div>
                                                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    <b>@String.Format("{0}, {1} {2}", ExpiringLicencesThisMonthRecent[i]._Personnel.LastName, ExpiringLicencesThisMonthRecent[i]._Personnel.FirstName, ExpiringLicencesThisMonthRecent[i]._Personnel.MiddleName)</b>
                                                    <br />
                                                    @(!String.IsNullOrEmpty(ExpiringLicencesThisMonthRecent[i].LicenseNo) ? ExpiringLicencesThisMonthRecent[i]._LicenseType.Description + ": " + ExpiringLicencesThisMonthRecent[i].LicenseNo : "")
                                                </div>
                                            </td>
                                        </tr>
                                        lastbdate = String.Format("{0:mm/dd/yyyy}", ExpiringLicencesThisMonthRecent[i].ExpirationDate.ToString());
                                    }
                                }
                                else
                                {
                                    <tr><td style="text-align: center;">No recent expiring licenses...</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>*@
            <div id="license-tab-2" class="tab-pane active">
                <div class="panel-body" style="padding: 0px; ">
                    <table class="table table-stripped table-bordered" style="margin-bottom: 0px;">
                        <tbody>
                            @if (Model.ExpiringLicensesToday.Count() > 0)
                            {
                                for (int i = 0; i < Model.ExpiringLicensesToday.Count(); i++)
                                {
                                    if (i > 0)
                                    {
                                        if (Model.ExpiringLicensesToday[i - 1].ExpirationDate.ToString() != Model.ExpiringLicensesToday[i].ExpirationDate.ToString())
                                        {
                                            <tr class="list-title" style=" background-color: #ddd;"><td>@Model.ExpiringLicensesToday[i].ExpirationDate.Value.ToString("dddd, MMMM dd")</td></tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr class="list-title" style=" background-color: #ddd;"><td>@Model.ExpiringLicensesToday[i].ExpirationDate.Value.ToString("dddd, MMMM dd")</td></tr>
                                    }

                                    <tr title="@String.Format("{0}, {1} {2}", Model.ExpiringLicensesToday[i]._Personnel.LastName, Model.ExpiringLicensesToday[i]._Personnel.FirstName, Model.ExpiringLicensesToday[i]._Personnel.MiddleName)">
                                        <td style="text-align: left; padding: 5px; border: 1px solid #eee;">
                                            <div style="float: left; text-transform: uppercase;">
                                                <img src="@(String.IsNullOrEmpty(Model.ExpiringLicensesToday[i]._Personnel.ImagePath) ? "\\Images\\default.jpg" : Model.ExpiringLicensesToday[i]._Personnel.ImagePath)" style="height: 35px; width: 35px; min-height: 35px; min-width: 35px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;" />
                                            </div>
                                            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <b>@String.Format("{0}, {1} {2}", Model.ExpiringLicensesToday[i]._Personnel.LastName, Model.ExpiringLicensesToday[i]._Personnel.FirstName, Model.ExpiringLicensesToday[i]._Personnel.MiddleName)</b>
                                                <br />
                                                @(!String.IsNullOrEmpty(Model.ExpiringLicensesToday[i].LicenseNo) ? Model.ExpiringLicensesToday[i]._LicenseType.Description + ": " + Model.ExpiringLicensesToday[i].LicenseNo : "")
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td style="text-align: center;">No expiring licenses this year...</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="license-tab-3" class="tab-pane">
                <div class="panel-body" style="padding: 0px; ">
                    <table class="table table-stripped table-bordered" style="margin-bottom: 0px;">
                        <tbody>
                            @if (Model.ExpiringLicensesUpcoming.Count() > 0)
                            {
                                for (int i = 0; i < Model.ExpiringLicensesUpcoming.Count(); i++)
                                {
                                    if (i > 0)
                                    {
                                        if (Model.ExpiringLicensesUpcoming[i - 1].ExpirationDate.ToString() != Model.ExpiringLicensesUpcoming[i].ExpirationDate.ToString())
                                        {
                                            <tr class="list-title" style=" background-color: #ddd;"><td>@Model.ExpiringLicensesUpcoming[i].ExpirationDate.Value.ToString("dddd, MMMM dd")</td></tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr class="list-title" style=" background-color: #ddd;"><td>@Model.ExpiringLicensesUpcoming[i].ExpirationDate.Value.ToString("dddd, MMMM dd")</td></tr>
                                    }

                                    <tr title="@String.Format("{0}, {1} {2}", Model.ExpiringLicensesUpcoming[i]._Personnel.LastName, Model.ExpiringLicensesUpcoming[i]._Personnel.FirstName, Model.ExpiringLicensesUpcoming[i]._Personnel.MiddleName)">
                                        <td style="text-align: left; padding: 5px; border: 1px solid #eee; text-transform: uppercase;">
                                            <div style="float: left;">
                                                <img src="@(String.IsNullOrEmpty(Model.ExpiringLicensesUpcoming[i]._Personnel.ImagePath) ? "\\Images\\default.jpg" : Model.ExpiringLicensesUpcoming[i]._Personnel.ImagePath)" style="height: 35px; width: 35px; min-height: 35px; min-width: 35px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;" />
                                            </div>
                                            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <b>@String.Format("{0}, {1} {2}", Model.ExpiringLicensesUpcoming[i]._Personnel.LastName, Model.ExpiringLicensesUpcoming[i]._Personnel.FirstName, Model.ExpiringLicensesUpcoming[i]._Personnel.MiddleName)</b>
                                                <br />
                                                @(!String.IsNullOrEmpty(Model.ExpiringLicensesUpcoming[i].LicenseNo) ? Model.ExpiringLicensesUpcoming[i]._LicenseType.Description + ": " + Model.ExpiringLicensesUpcoming[i].LicenseNo : "")
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td style="text-align: center;">No upcoming expiring licenses...</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>