@model WebTemplate.Models.Kiosk.Leave_Request.Index

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var CreatorAccess = credential.GetPage("Creator Leave Request") ?? new DataAccessLayer.System.Page();
    var leaveSubTypes = new Dictionary<int, string> { { 1, "Absent" }, { 2, "Half-day" } };
    var timeofday = new Dictionary<int, string> { { 1, "Morning" }, { 2, "Afternoon" } };
}

@Html.Hidden("PersonnelID", Model.Personnel.ID, new { @class = "form-control leave-main" })

@*<div id="NonBulkUseDatePicker">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label class="control-label">Start DateTime</label>
                @Html.TextBox("StartDateTime", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", ""), new { @type = "datetime-local", @class = "form-control" })
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label class="control-label">End DateTime</label>
                @Html.TextBox("EndDateTime", String.Format("{0:yyyy'-'MM'-'dd'T'HH':'mm}", ""), new { @type = "datetime-local", @class = "form-control" })
            </div>

    <div id="BulkUseDatePicker" class="hidden">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Start Date</label>
            @Html.TextBox("StartDateTime", String.Format("{0:yyyy'-'MM'-'dd}", ""), new { @type = "date", @class = "form-control" })
        </div>
    </div>
        </div>*@

<div class="row">
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <label class="control-label">Leave Type</label>
        @Html.DropDownListFor(m => m.LeaveTypeID, new SelectList(Model.LeaveTypes, "ID", "Description"), "N/A", new { @class = "form-control leave-main" })
    </div>

    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <label class="control-label">Request Date</label>
        @Html.TextBox("RequestedDate", String.Format("{0:yyyy'-'MM'-'dd}", DateTime.Now), new { @type = "date", @class = "form-control leave-main" })
    </div>
</div>

<fieldset class="form-group">
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <label class="control-label"></label>
        @Html.DropDownList("LeaveSubTypes", new SelectList(leaveSubTypes, "Key", "Value", 1), new { @class = "form-control leave-main" })
    </div>

    <div id="IsAbsentFields" class="leaveSubTypes">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label class="control-label">Period Start</label>
            @Html.TextBox("PeriodStart", String.Format("{0:yyyy'-'MM'-'dd}", ""), new { @type = "date", @class = "form-control" })
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label class="control-label">Period End</label>
            @Html.TextBox("PeriodEnd", String.Format("{0:yyyy'-'MM'-'dd}", ""), new { @type = "date", @class = "form-control" })
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label class="control-label">No. of Days</label>
            @Html.TextBox("NoofDays", "1", new { @type = "number", @class = "form-control leave-main" })
        </div>
    </div>

    <div id="IsHalfdayFields" class="hidden leaveSubTypes">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <label class="control-label">Time of Day</label>
            @Html.DropDownList("TimeOfDay", new SelectList(timeofday, "Key", "Value", 1), new { @class = "form-control leave-main" })
        </div>
    </div>
</fieldset>

<div id="MedicardFields" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden">
    <fieldset class="row">
        <legend>Medicard Fields</legend>
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <label class="control-label">Hospital</label>
            @Html.TextBox("Hospital", "", new { @class = "form-control" })
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <label class="control-label">Location</label>
            @Html.TextBox("Location", "", new { @class = "form-control" })
        </div>
    </fieldset>
</div>

<div class="row">
    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label class="control-label">Reasons</label>
        @Html.TextArea("Reasons", new { @class = "form-control leave-main", @rows = "4", @placeholder = "Reasons..." })
    </div>
</div>

<div class="row">
    @if (CreatorAccess.Update || CreatorAccess.Insert)
    {
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" id="CreateLeaveRequest" onclick="SaveRequest();" class="btn btn-primary font-bold pull-right" title="Save"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
        </div>
    }

</div>