@model WebTemplate.Models.Kiosk.Leave_Request.Index

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PageAccess = credential.GetPage("Kiosk/LeaveRequest") ?? new DataAccessLayer.System.Page();
    var CreatorAccess = credential.GetPage("Creator Leave Request") ?? new DataAccessLayer.System.Page();
    var UploadDocumentAccess = credential.GetPage("Kiosk Upload Document") ?? new DataAccessLayer.System.Page();

    ViewBag.title = PageAccess.PageName;
}

<div class="wrapper wrapper-content">
    <div class="page-heading">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Shared/_Breadcrumbs.cshtml", PageAccess)
        </div>
        <div class="col-lg-4">
            <div class="title-action">
                @if (PageAccess.Insert)
                {
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @*<h1><b>My Overtime Requests</b></h1>*@
                        <button type="button" id="CreateNew" onclick="NewRequest();" tpj-show-tab="#tab-1" class="btn btn-primary font-bold pull-right" title="Create"><i class="fa fa-plus"></i>&nbsp;&nbsp;New Leave Request</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="" style="margin-top: 80px;">
        <div class="" style="padding: 0px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-sm" style="padding: 0px;">
                <div class="tabs-container" style="">
                    <div class="tab-content" style="margin-top: 0px; max-height: unset; overflow-y: auto; overflow-x: hidden; height: unset; ">
                        @if (CreatorAccess.View)
                        {
                            <div id="tab-2" class="tab-pane active" style="">
                                <div id="LeaveRequestsForm" class="panel-body" style="padding: 10px !important; max-height: 100%; border: 1px solid #e5e6e7; overflow: hidden;">
                                    @Html.Partial("~/Views/Kiosk/LeaveRequest/_MyLeaveRequests.cshtml")
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal custom-modal" id="LeaveRequestModal" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInDown modal-width-60">
                <div class="modal-header">
                    <h5 class="modal-title" style="text-align: center;">New Leave Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div id="LeaveRequestForm" class="modal-body" style="max-height: 750px; background-color: #fff; overflow: hidden;">
                </div>
            </div>
        </div>
    </div>
</div>

@if (UploadDocumentAccess.View || UploadDocumentAccess.Insert || UploadDocumentAccess.Update || UploadDocumentAccess.Delete)
{
    <!--<div class="modal inmodal custom-modal" id="UploadDocumentModal" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-center vertical-align-center">
                <div class="modal-content animated fadeInDown modal-width-30">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload Document</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body" style="max-height: 750px; background-color: #fff; overflow: hidden;">-->
                        @*<label id="filename" class="control-label"></label>*@
                        <!--<input id="browseFile" type="file" class="btn btn-default" />
                        Html.Hidden("leaveRequestId", 0)
                        <div id="DeleteDocumentForm" action="/LeaveRequests/DeleteDocument?leaveRequestId=">
                            <input id="DeleteDocument" type="hidden" value="Delete" class="btn btn-danger btn-outline btn-w-m font-bold-700 pull-right" title="Delete" />
                        </div>
                    </div>
                    <div class="modal-footer" style=" margin: 0;">
                        <button type="button" class="btn btn-default btn-outline btn-w-m font-bold-700 pull-left" data-dismiss="modal">Close</button>
                        <button type="button" onclick="ValidateFile()" class="btn btn-primary btn-w-m font-bold-700 pull-right">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
}

<script type="text/javascript">
    var $_leaveTypeArr = @Html.Raw(Json.Encode(Model.LeaveTypes));
    var $_uploadDocAcc = @Html.Raw(Json.Encode(UploadDocumentAccess));
    //var $_IsBulkUse = false;
    var $_IsMedicard = false;
    var xhr;

    $(document).ready(function () {
        Events();
    });


    function Events() {
        $_SelectedRows = [];

        SetRowLoadingDisplayColSpan();
        SearchTabEvents();

        $(document).off('keydown').on('keydown', function () {
            if (event.keyCode == 13) {
                if ($('div.showSweetAlert button.confirm').length > 0)
                    $('div.showSweetAlert button.confirm').trigger('click');
            }

            if (event.keyCode == 27) {
                if ($('div.showSweetAlert button.confirm').length > 0)
                    $('div.showSweetAlert button.cancel').trigger('click');
            }
        });

        $(".modal").on('shown.bs.modal', function () {
            var id = $(this).attr('id');
            //$('#' + id + '.form-control:first').select();
            $(this).find('span.select2').css('width', '100%');
            Select2Override();

            $("#LeaveSubTypes").off('change').on('change', function () {
                let value = parseInt($(this).val());
                $('.leaveSubTypes').addClass('hidden');
                toastr.remove();

                switch (value) {
                    case 2:
                        $('#IsHalfdayFields').removeClass('hidden');
                        break;
                    default:
                        $('#IsAbsentFields').removeClass('hidden');
                        break;
                }
                Select2Override();
            });
        });
    }

    function SearchTabEvents() {
        //$('#form_search_params #LeaveTypeID').off('change').on('change', SetLeaveTypeID);
        Select2Override();

        $('input.chkRow').off('ifClicked').on('ifClicked', EnableDelete);
        $('button#MultipleDelete').off('click').on('click', MultipleDelete);
        $('input#SelectAll').off('ifClicked').on('ifClicked', SelectAllRows);
        $('.status-checkbox').off('ifClicked').on('ifClicked', StatusFilter);

        $('#Key').off('keydown').on('keydown', function () {
            if (event.keyCode == 13) {
                $('#Btn_Search').click();
            }
        });

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $('#Btn_Search').off('click').on('click', function () {
            $('#Page').val(1);
            SearchRequest();
        });

        $('.pages').off('click').on('click', function () {
            $('#Page').val($(this).val());
            SearchRequest();
        });
    }

    function SelectAllRows() {
        $checkRows = $(this).closest('table').find('input.chkRow');

        if ($(this).is(':checked')) {
            $checkRows.iCheck('uncheck');
            $_SelectedRows = [];
        }
        else {
            $checkRows.iCheck('check');

            $checkRows.each(function (e) {
                var id = parseFloat($(this).val() ? $(this).val() : 0);
                var description = $(this).closest('tr').find('.clickable-text').text().trim();

                if ($_SelectedRows.filter(function (e) { return e.ID == id; }).length == 0)
                    $_SelectedRows.push({ ID: id, Description: description });
            });
        }

        $('#MultipleDelete').attr('disabled', $_SelectedRows.length > 0 ? false : true);
    }

    function StatusFilter() {
        //var isChecked = $(this).is(':checked');
        //var name = $(this).attr('name');
        //var isAll = name == 'All';

        //$('.status-checkbox').each(function (e) {
        //    if ($(this).attr('name') !== 'All') {
        //        $(this).iCheck(isChecked ? 'uncheck' : 'check');
        //    }
        //});

        //$('.status-checkbox[name="' + (isAll ? 'IsPending' : 'All') + '"]').iCheck(isAll ? 'check' : 'uncheck');

        var name = $(this).attr('name');

        if (name == 'All') {
            if ($(this).is(':checked')) {
                $('.status-checkbox').each(function (e) {
                    if ($(this).attr('name') !== 'All') {
                        $(this).iCheck('uncheck');
                    }
                });
            }
            else {
                $('.status-checkbox').each(function (e) {
                    if ($(this).attr('name') !== 'All') {
                        $(this).iCheck('check');
                    }
                });
            }

            $('.status-checkbox[name="IsPending"]').iCheck('check');
        }
        else {
            $('.status-checkbox[name="All"]').iCheck('uncheck');
        }

        setTimeout(SearchRequest, 500);
    }

    function SetLeaveTypeID() {
        $('#MedicardFields').addClass('hidden');
        var div = $('#LeaveRequestModal').is(':visible') ? '#LeaveRequestModal ' : '#form_search_params ';
        var id = $(div + ' #LeaveTypeID option:selected').val();
        //var newBulkUse = $(div + ' #LeaveTypeID option:selected').attr('isbulk') === 'true';
        var isMedicard = id == 3;

        if (isMedicard) {
            //if (newBulkUse != $_IsBulkUse || newBulkUse == true) {
            //    $(div + ' #' + (newBulkUse ? 'Non' : '') + 'BulkUseDatePicker').addClass('hidden');
            //    $(div + ' #' + (newBulkUse ? '' : 'Non') + 'BulkUseDatePicker').removeClass('hidden');
            //    $(div + ' #' + (newBulkUse ? '' : 'Non') + 'BulkUseDatePicker input').val('');
            //}

            //$_IsBulkUse = newBulkUse;

            $('#MedicardFields').removeClass('hidden');
            $_IsMedicard = isMedicard;
        }
    }

    function ModalEvents(modal, title, response) {
        $(modal + ' .modal-body').html(response);
        $(modal + ' .modal-title').html(title + ' Leave Request');
        $(modal + ' #LeaveTypeID').off('change').on('change', SetLeaveTypeID);
        $("#browseFile").off("change input").on('change input', ClearDocument);
        $(modal).appendTo('body').modal('show');
    }

    function ClearDocument() {
        var hasFile = $("#browseFile")[0].files.length == 0;
        var title = hasFile ? $("#ValidateFile").attr("title") : "Upload";
        $("#ValidateFile").text(title);
        $("#ValidateFile").attr("disabled", hasFile);
    }

    function UploadDocument(leaveReqID, filename) {
        e.preventDefault();
        $tr = $('#LeaveRequestForm tr#Row-Display-LeaveRequests-' + leaveReqID);
        //var action = $('#DeleteDocumentForm').attr('action');
        filename = $tr.find('td button').attr('title');

        if (leaveReqID) {
            $('#LeaveRequestForm #leaveRequestId').val(leaveReqID);
            //$('#UploadDocumentModal').attr('action', action + (filename ? leaveReqID : ''));
            $('#LeaveRequestForm #filename').text('filename: ' + filename);
            //$('#LeaveRequestForm #DeleteDocument').attr(filename ? 'submit' : 'hidden');
            $('#LeaveRequestForm .modal-header .close').off('click').on('click', CancelDocumentUpload);
            $("#LeaveRequestForm #browseFile").val('');
            //$('#UploadDocumentModal').appendTo('body').modal('show');
        }
        else {
            toastr.warning('Warning', 'Leave Request not found.');
        }
    }

    function CancelDocumentUpload() {
        $('#SelectedFilesPreview').empty();
        $('#LeaveRequestForm .fileinput .close').trigger('click');
        $("#LeaveRequestForm #browseFile").val('');
        //$('#UploadDocumentModal').modal('hide');
    }

    function ValidateFile() {
        var formdata = new FormData();
        formdata.append("fileBase", $("#LeaveRequestForm #browseFile")[0].files[0])
        formdata.append("leaveRequestId", $("#LeaveRequestForm #ID").val());
        formdata.append("__RequestVerificationToken", $('@Html.AntiForgeryToken()').val());

        if (xhr) { xhr.abort(); }
        xhr = $.ajax({
            data: formdata,
            url: '@Url.Action("UploadDocument", "LeaveRequest")',
            type: 'POST',
            datatype: 'JSON',
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () { ShowLoadingScreen() },
            complete: function () { RemoveLoadingScreen() },
            success: function (response) {
                if (response.msg == null) {
                    toastr.warning('Warning', response.res);
                }
                else {
                    toastr.success('Success', response.res);
                    SearchRequest();
                }
            },
            error: function (x, y, z) {
                //toastr.error('Error', x + y + z);
            }
        })
    }

    function SearchRequest() {
        var formdata = new FormData();
        var url = '@Url.Action("Index", "LeaveRequest")';
        //var isBulkUse = $('#form_search_params #LeaveTypeID option:selected').attr('isbulk') === 'true';

        $('#form_search_params .form-control').each(function () {
            formdata.append($(this).attr('name'), $(this).val());
        });
        //$('#form_search_params #' + (isBulkUse ? '' : 'Non') + 'BulkUseDatePicker input[type="date' + (isBulkUse ? '' : 'time-local') + '"]').each(function () {
        //    formdata.append($(this).attr('name'), $(this).val());
        //});
        $('#status_search_params input.i-checks').each(function () {
            formdata.append($(this).attr('name'), $(this).is(':checked'));
        });
        formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());

        $.ajax({
            url: url,
            data: formdata,
            type: "POST",
            datatype: 'JSON',
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                //ShowLoadingScreen();
                ShowHideRowLoadingDisplay('LeaveRequestsTable', true);
            },
            complete: function () {
                //RemoveLoadingScreen();
                //xhr = null;
            },
            success: function (response) {
                if (response.msg == null) {
                    $("#LeaveRequestsForm").html(response);
                    SearchTabEvents();
                    //Events();
                } else {
                    toastr.warning(response.res, "Warning");
                }
            },
            error: function (response) {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }

    function NewRequest() {
        var formdata = new FormData();
        var url = '@Url.Action("NewRequest", "LeaveRequest")';
        formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());

        $.ajax({
            url: url,
            data: formdata,
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                ShowLoadingScreen();
            },
            complete: function () {
                RemoveLoadingScreen();
                //xhr = null;
            },
            success: function (response) {
                if (response.msg == null) {
                    ModalEvents('#LeaveRequestModal', 'New', response);
                } else {
                    toastr.warning(response.res, "Warning");
                }
            },
            error: function () {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }

    function SaveRequest() {
        toastr.remove();

        var formdata = new FormData();
        var url = '@Url.Action("SaveRequest", "LeaveRequest")';
        //var isBulkUse = $('#LeaveRequestModal #LeaveTypeID option:selected').attr('isbulk') === 'true';
        var isMedicard = $('#LeaveRequestModal #LeaveTypeID option:selected').val() == 3;
        var isAbsent = $('#LeaveRequestModal #LeaveSubTypes option:selected').val() == 1;
        var save = true;

        $('#LeaveRequestModal .form-control.leave-main').each(function () {
            var value = $(this).val();
            var name = $(this).attr('name');
            if (value)
                formdata.append(name, value);
            else {
                var label = $('#' + name).prev('label').text() || name;
                toastr.options = {
                    timeOut: 0,
                    extendedTimeOut: 0
                };
                toastr.warning(label + " is required.", "Warning");
                save = false;
                return false;
            }
        });
        //$('#LeaveRequestModal #' + (isBulkUse ? '' : 'Non') + 'BulkUseDatePicker input').each(function () {
        //    formdata.append($(this).attr('name'), $(this).val());
        //});
        if (isMedicard) {
            $('#MedicardFields .form-control').each(function () {
                var value = $(this).val();
                var name = $(this).attr('name');
                if (value)
                    formdata.append(name, value);
                else {
                    var label = $('#' + name).prev('label').text() || name;
                    toastr.options = {
                        timeOut: 0,
                        extendedTimeOut: 0
                    };
                    toastr.warning(label + " is required if Medicard is chosen.", "Warning");
                    save = false;
                    return false;
                }
            });
        }
        if (isAbsent) {
            formdata.append("IsAbsent", true);
            $('#IsAbsentFields .form-control').each(function () {
                var value = $(this).val();
                var name = $(this).attr('name');
                if (value)
                    formdata.append(name, value);
                else {
                    var label = $('#' + name).prev('label').text() || name;
                    toastr.options = {
                        timeOut: 0,
                        extendedTimeOut: 0
                    };
                    toastr.warning(label + " is required if Absent is chosen.", "Warning");
                    save = false;
                    return false;
                }
            });
        }
        else {
            formdata.append("IsHalfday", true);
            var halfDay = $('#IsHalfdayFields .form-control').val()
            var name = halfDay == 1 ? 'IsMorning' : 'IsAfternoon';
            if (halfDay) {
                formdata.append(name, true);
            }
            else {
                toastr.options = {
                    timeOut: 0,
                    extendedTimeOut: 0
                };
                toastr.warning("Time of day is required if Half-day is chosen.", "Warning");
                save = false;
                return false;
            }
        }
        formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());

        if (save) {
            toastr.options = {
                timeOut: 6000,
                extendedTimeOut: 6000
            };
            $.ajax({
                url: url,
                data: formdata,
                type: 'POST',
                datatype: 'JSON',
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    ShowLoadingScreen();
                },
                complete: function () {
                    RemoveLoadingScreen();
                    //xhr = null;
                },
                success: function (response) {
                    if (response.msg == null) {
                        toastr.success('Success', 'Request saved!');
                        var modal = '#LeaveRequestModal';
                        //$(modal + ' #LeaveTypeID').select2('destroy');
                        ModalEvents(modal, 'View', response);
                        $(modal + ' select').select2();
                        SearchRequest();
                    } else {
                        toastr.warning(response.res, "Warning");
                    }
                },
                error: function (response) {
                    toastr.warning(response.res, "Error");
                }
            });
        }
    }

    function EditRequest(id, action) {
        var formdata = new FormData();
        var url = '@Url.Action("EditRequest", "LeaveRequest")';
        formdata.append('id', id);
        formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());

        $.ajax({
            url: url,
            data: formdata,
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                ShowLoadingScreen();
            },
            complete: function () {
                RemoveLoadingScreen();
                //xhr = null;
            },
            success: function (response) {
                if (response.msg == null) {
                    ModalEvents('#LeaveRequestModal', action, response);
                } else {
                    toastr.warning(response.res, "Warning");
                }
            },
            error: function () {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }

    function ViewRequest(id) {

    }

    function EnableDelete() {
        var id = parseFloat($(this).val() ? $(this).val() : 0);
        var description = $(this).closest('tr').find('.clickable-text').text().trim();

        if ($(this).is(':checked')) {
            $_SelectedRows = $_SelectedRows.filter(function (e) { return e.ID !== id; });
        }
        else {
            if ($_SelectedRows.filter(function (e) { return e.ID == id; }).length == 0)
                $_SelectedRows.push({ ID: id, Description: description });
        }

        var rowCount = $(this).closest('table').find('tbody tr.Row-Display .chkRow').length;
        $('#SelectAll').iCheck(($_SelectedRows.length == rowCount ? '' : 'un') + 'check');
        $('#MultipleDelete').attr('disabled', $_SelectedRows.length > 0 ? false : true);
    }

    function MultipleDelete() {
        var pagetitle = $('.page-heading h2').text().trim().toLowerCase();
        var message = $_SelectedRows.length + ' ' + pagetitle + ($_SelectedRows.length > 1 ? 's' : '');
        var url = '@Url.Action("DeleteMultiple", "LeaveRequest")';

        swal({
            title: 'Delete ' + message + '?',
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
        function(confirm) {
            if (confirm) {
                var formdata = new FormData();
                formdata.append('ids', JSON.stringify($_SelectedRows));
                formdata.append('__RequestVerificationToken', $('@Html.AntiForgeryToken()').val());

                $.ajax({
                    url: url,
                    data: formdata,
                    type: "POST",
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function(x) {
                        ShowLoadingScreen();
                    },
                    complete: function() {
                        RemoveLoadingScreen();
                        //xhr = null;
                    },
                    success: function(response) {
                        if (response.msg) {
                            toastr.success(message + ' deleted!', 'Success');
                            SearchRequest();
                        } else {
                            toastr.warning(response.res, "Warning");
                        }
                    },
                    error: function (x) {
                        toastr.error('AJAX backend error', 'An error has occured.');
                    }
                })
            }
        });
    }
</script>