@model WebTemplate.Models.Maintenance.Lookup.ApproverPosition.Index
@{
    var PageCount = Math.Ceiling((double)Model.ItemCount / Model.GridCount);
}

<div class="">
    <div class="mail-box">
        <table class="table table-hover table-striped">
            <thead>
                @if (PageCount > 1)
                {
                    <tr>
                        <td class="text-right" colspan="10" style="background-color: white;">
                            <div style="float: left; line-height: 3;">
                                @*@Html.Raw(string.Format("{0} items of {1}", Model.ItemList.Count, Model.ItemCount))*@
                                @Html.Raw(string.Format("{0} items", Model.ItemCount))
                            </div>

                            <div class="btn-group">
                                @{
                                    <input type="hidden" id="hid_page" name="@Html.NameFor(m => m.PageNumber)" value="@Html.ValueFor(m => m.PageNumber)" />

                                    if (Model.PageNumber > 0)
                                    {
                                        <button type="button" name="@Html.NameFor(m => m.PageNumber)" value="1" class="btn btn-white @(Model.PageNumber == 1 ? "active" : "pages")">1 @*<i class="fa fa-angle-double-left"></i>*@</button>
                                    }
                                    if (Model.PageNumber - 1 > 2)
                                    {
                                        <button type="button" name="@Html.NameFor(m => m.PageNumber)" value="@(Model.PageNumber - 2)" class="btn btn-white pages">...@*<i class="fa fa-angle-left"></i>*@</button>
                                    }
                                    for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                                    {
                                        if (i > 1 && i < PageCount)
                                        {
                                            <button type="button" name="@Html.NameFor(m => m.PageNumber)" value="@(i)" class="btn btn-white @(i == Model.PageNumber ? "active" : "pages")">@(i)</button>
                                        }
                                    }
                                    if (Model.PageNumber + 1 < PageCount - 1)
                                    {
                                        <button type="button" name="@Html.NameFor(m => m.PageNumber)" value="@(Model.PageNumber + 2)" class="btn btn-white pages">...@*<i class="fa fa-angle-right"></i>*@</button>
                                    }
                                    if (Model.PageNumber <= PageCount && PageCount > 1)
                                    {
                                        <button type="button" name="@Html.NameFor(m => m.PageNumber)" value="@PageCount" class="btn btn-white @(Model.PageNumber == PageCount ? "active" : "pages")">@PageCount @*<i class="fa fa-angle-double-right"></i>*@</button>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <th class="text-center col-lg-2">Description</th>
                    <th class="text-center col-lg-1">Short Description</th>
                    <th class="text-center col-lg-2">Allow Approver</th>
                    <th class="text-center col-lg-2">Last Modified</th>
                    @*<th class="text-center col-lg-2">Created By</th>
            <th class="text-center col-lg-2">Created Date</th>
                        <th class="text-center col-lg-2">Modified Date</th>*@
                    <th class="text-center col-lg-1">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr id="Row-Loading-Display" class="hidden">
                    <td style="text-align: center;" colspan="6">
                        <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                    </td>
                </tr>
            @if (Model.ItemList.Any())
                {
                    for (int i = 0; i < Model.ItemList.Count; i++)
                    {
            <tr class="Row-Display read" style="cursor: pointer;">
                <td class="text-center text-uppercase">
                    @Html.Hidden("ID", Model.ItemList[i].ID)
                    @Html.Hidden("Description", Model.ItemList[i].Description)
                    @Model.ItemList[i].Description
                </td>
                <td class="text-center text-uppercase">
                    @Model.ItemList[i].Abbreviation
                </td>
                <td class="text-center">
                    @*@Html.CheckBox("AllowApprove", Model.ItemList[i].AllowApprove, new { @class = "i-checks" })*@
                    @(Model.ItemList[i].AllowApprove == true ? "Yes" : "No")
                </td>
                <td style="text-align: center;" class="client-status">
                    @Html.Raw((Model.ItemList[i]._Modifier ?? Model.ItemList[i]._Creator ?? "N/A") + "<br/>" + String.Format("{0:MMM dd, yyyy hh:mm tt}", Model.ItemList[i].ModifiedOn ?? Model.ItemList[i].CreatedOn))
                </td>
                <td style="" class="row-actions">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm btn-rounded btn-outline" title="Edit" onclick="manage_item(@Model.ItemList[i].ID)"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger btn-sm btn-rounded btn-outline" title="Delete" onclick="delete_item(@Model.ItemList[i].ID)"><i class="fa fa-trash"></i></button>
                    </div>
                </td>
            </tr>
                    }
                }
                else
                {
                    <tr id="No-Row-Display">
                        <td style="text-align: center;" colspan="8">No Positions found...</td>
                    </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>