@model WebTemplate.Models.Maintenance.Lookup.ApproverPosition.Index
@{
    var PageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("Maintenance/Lookup/ApproverPosition");

    var isapprovers = new Dictionary<bool, string> { { true, "Approvers Only" }, { false, "Not Approvers" } };
    ViewBag.title = PageAccess.PageName;
}

<div class="wrapper wrapper-content">
    <div class="page-heading">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Shared/_Breadcrumbs.cshtml", PageAccess)
        </div>
        <div class="col-lg-4">
            <div class="title-action">
                @if (PageAccess.Insert)
                {
                    <a class="btn btn-primary compose-mail" href="#" id="btnadd" onclick="manage_item()">Add Approver Position</a>
                }
            </div>
        </div>
    </div>
    <div class="" style="margin-top: 80px;">
        <div class="col-xs-12 col-sm-12 col-md-push-2 col-md-8 col-lg-push-3 col-lg-6 animated fadeInLef">
            <div class="file-manager">
                @Html.AntiForgeryToken()

                <div id="form_search_params" class="m-t-md" enctype="multipart/form-data" style="margin: 0 -15px;">
                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="">
                            @Html.DropDownList("IsApprover", new SelectList(isapprovers, "Key", "Value"), "--All--", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <input type="text" id="txt_search" class="form-control" placeholder="Description/Short Description..." value="@Html.ValueFor(m => m.Filter)" />
                    </div>
                </div>

                <div class="form-group" style="">
                    <button type="button" id="btn_search" class="btn btn-primary font-bold" onclick="get_items()"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
            <div id="form_search" enctype="multipart/form-data" class="pull-left" style="width: 100%;">
                @Html.Partial("~/Views/Maintenance/Lookup/ApproverPosition/_Search.cshtml")
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal custom-modal" id="modal-lookup" data-backdrop="static" data-keyboard="false" tabindex="" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-center vertical-align-center">
            <div class="modal-content animated fadeInDown modal-width-30">
                <div id="modal-lookup-body"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var LookupTitle = '';

    $(document).ready(function () {
        get_items();
        Events();
    });

    function Events() {
        $('#txt_search').keypress(function (e) {
            $('#hid_page').val(1);
            var key = e.which;
            if (key == 13) {
                get_items();
            }
        });

        $('.pages').off('click').on('click',
            function () {
                $('#hid_page').val($(this).val())
                get_items();
            })

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $('#modal-lookup input.i-checks').off('ifClicked').on('ifClicked', Approve);
    }

    function get_items() {
        //LookupTitle = $('#view-select-lookup option:selected').text().trim();
        //$('#btnadd').text('Add ' + LookupTitle);
        var params = 'IsApprover=' + $('#IsApprover').val() + '&PageNumber=' + $('#hid_page').val() + '&Filter=' + $('#txt_search').val();

        $.ajax({
            url: '@Url.Action("Index", "Maintenance/Lookup/ApproverPosition")',
            data: params,
            type: "POST",
            cache: false,
            beforeSend: function () {
                ShowLoadingScreen()
            },
            complete: function () {
                RemoveLoadingScreen()
            },
            success: function (response) {
                if (response.ErrorMsg == null) {
                    $('#form_search').html(response);
                    $('#view-text-description').focus();
                    Events();
                }
                else {
                    $('#form_search').html('<h3 class="text-center m-t-md">No item found...</h3>');
                    toastr.error(response.ErrorMsg, "Backend Error");
                }
            },
            error: function () {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }

    function manage_item(id) {
        $.ajax({
            url: '@Url.Action("Management", "Maintenance/Lookup/ApproverPosition")',
            data: { uid: id },
            type: "POST",
            cache: false,
            beforeSend: function () {
                ShowLoadingScreen()
            },
            complete: function () {
                RemoveLoadingScreen()
            },
            success: function (response) {
                if (response.ErrorMsg != null) {
                    toastr.error(response.ErrorMsg, "Backend Error");
                }
                else {
                    $('#modal-lookup-body').html(response);
                    $('.i-checks').iCheck({
                        checkboxClass: 'icheckbox_square-green',
                    });
                    $('#modal-lookup').appendTo("body").modal('show');
                }
            },
            error: function () {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
}

    function Approve() {
        var approve = !$(this).is(':checked');

        if ($(this).is(':checked')) {
            $(this).parent('div').next('input').val(approve);
        }
        else {
            $(this).parent('div').next('input').val(approve);
        }
    }

    function search_item_success(response) {
        if (response != null) {
            if (response.ErrorMsg != null) {
                toastr.error(response.ErrorMsg, "Backend Error");
            }
            else {
                $('#view-table-lookup').html(response);
            }
        }
        else {
            toastr.error('AJAX backend error', 'An error has occured.');
        }
    }

    function createupdate_item_success(response) {
        if (response != null) {
            if (response.IsSuccess) {
                toastr.success("Item has been successfully saved!", "Success");
                get_items();
                $('#modal-lookup').modal('hide');
            }
            else {
                toastr.error(response.ErrorMsg, "Backend Error");
            }
        }
        else {
            toastr.error('AJAX backend error', 'An error has occured.');
        }
    }

    function delete_item(id) {
        swal({
                title: "Are you sure?",
                text: "Delete this Item?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm)
                    $.ajax({
                        url: '@Url.Action("Delete", "Maintenance/Lookup/ApproverPosition")',
                        data: { tablename: 'Position', uid: id },
                        type: "POST",
                        cache: false,
                        beforeSend: function () {
                            ShowLoadingScreen()
                        },
                        complete: function () {
                            RemoveLoadingScreen()
                        },
                        success: function (response) {
                            if (response.IsSuccess) {
                                toastr.success("Item has been successfully deleted!");
                                get_items();
                            }
                            else {
                                toastr.error(response.ErrorMsg, "Backend Error");
                            }
                        },
                        error: function () {
                            toastr.error('AJAX backend error', 'An error has occured.');
                        }
                    });
            });
    }

    function AllowApprove() {
        var id = $(this).closest('tr').find('#ID').val() || 0;
        var description = $(this).closest('tr').find('#Description').val() || '';
        var approve = !$(this).is(':checked');

        var params = 'ID=' + id + '&Description=' + description + '&AllowApprove=' + approve + '&__RequestVerificationToken=' + $('@Html.AntiForgeryToken()').val();

        $.ajax({
            url: '@Url.Action("CreateOrUpdate", "Maintenance/Lookup/ApproverPosition")',
            data: params,
            type: "POST",
            cache: false,
            beforeSend: function () {
                ShowLoadingScreen();
            },
            complete: function () {
                RemoveLoadingScreen();
            },
            success: function (response) {
                if (response.ErrorMsg != null) {
                    toastr.error(response.ErrorMsg, "Backend Error");
                }
                else {
                    var msg = description + (approve ? ' ' : ' dis') + 'allowed as approver.';
                    toastr.success(msg, "Success");

                    if ($(this).is(':checked')) {
                        $(this).parent('div').next('input').val(approve);
                    }
                    else {
                        $(this).parent('div').next('input').val(approve);
                    }
                }
            },
            error: function () {
                toastr.error('AJAX backend error', 'An error has occured.');
            }
        });
    }
</script>