@model WebTemplate.Models.Maintenance.Lookup.KioskApprover.Index

@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var c = User as WebTemplate.Models.CustomPrincipal;
    var PageAccess = credential.GetPage("Maintenance/Lookup/KioskApprover") ?? new DataAccessLayer.System.Page();
    var departments = ProcessLayer.Processes.Lookups.DepartmentProcess.Instance.GetList();

    ViewBag.title = PageAccess.PageName;
}

<div class="wrapper wrapper-content">
    <div class="page-heading">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Shared/_Breadcrumbs.cshtml", PageAccess)
        </div>
        <div class="col-lg-4">
            <div class="title-action">
                @if (PageAccess.Insert)
                {
                    @*<button type="button" id="CreateNewKioskApprover" tpj-show-tab="#tab-1" class="btn btn-primary font-bold pull-right" title="New Kiosk Approver"><i class="fa fa-plus"></i>&nbsp;&nbsp;New Kiosk Approver</button>*@
                }
            </div>
        </div>
    </div>
    <div class="" style="margin-top: 80px;">
        <div class="col-xs-12 col-sm-12 col-md-push-2 col-md-8 col-lg-push-2 col-lg-8 animated fadeInLef">
            <div class="tabs-container" style="">
                <div class="tab-content" style="margin-top: 0px; max-height: unset; overflow: hidden;">
                    @if (PageAccess.View)
                    {
                        <div id="tab-2" class="tab-pane active" style="">
                            <div id="CandidatesAndApproversForm" class="panel-body" style="padding: 10px; max-height: unset; height: 100%; border: 1px solid #e5e6e7; overflow: hidden;">
                                @Html.Partial("~/Views/Maintenance/Lookup/KioskApprover/_KioskApproversSearch.cshtml", Model)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var PageAccess = @Html.Raw(Json.Encode(PageAccess));
    var departmentsArr = @Html.Raw(Json.Encode(departments));
    var editMode = false;
    var $_personnelIDsArr = []; var $_loadedPersonnelIDsArr = [];
    var $_approverIDsArr = []; var $_loadedApproverIDsArr = [];

    $(document).ready(function () {
        Events();
        $('#DepartmentID').trigger('change');

        //$('#KioskApproverModal').on('hidden.bs.modal', function () {
        //    var title = $('#KioskApproverModal .modal-title').text();
        //
        //    if (title.indexOf('View') == -1)
        //    SearchKioskApprovers();
        //});
    });

    function Events() {
        SetRowLoadingDisplayColSpan();
        Select2Override();
        $('#form_search_params .btn').off('click').on('click', TriggerChangeDepartment);

        $('#DepartmentID').select2();
        $('#DepartmentID').off('change').on('change', ChangeDepartment);
        $('#SearchPersonnel').off('change').on('change', SearchPersonnel);
        $('#SearchApprover').off('change').on('change', SearchApprover);
    }

    function TriggerChangeDepartment() {
        var buttonid = $(this).attr('id');
        var deptarrlen = departmentsArr.length;
        var deptid = 0;
        var index = 0;
        var search = false;
        $('#DepartmentID option:selected').prev().attr('selected', 'selected').trigger('change');
        $('#DepartmentID').select2();
        index = $('#DepartmentID option:selected:' + (buttonid == "PrevDept" ? 'first' : 'last')).index();
        search = index > 0;

        //if (buttonid == "PrevDept") {
        //    index = $('#DepartmentID option:selected:first').index();
        //    search = index >= 0;
        //}
        //else {
        //    index = $('#DepartmentID option:selected:last').index();
        //    search = index < deptarrlen;
        //}

        deptid = $('#DepartmentID').val();
        if (search) {
            if (deptid > 0 && deptid) {
                $('#DepartmentID')
                $('#SearchPersonnel').val(deptid);
                $('#SearchApprover').val(deptid);
            }
            $('#form_search_params .btn').attr('disabled', false);
        }
        else {
            $('#' + buttonid).attr('disabled', true);
        }
    }

    function ChangeDepartment() {
        var deptid = $('#DepartmentID').val() || $(this).val() || 0;
        GetCandidatesAndApprovers(deptid);
    }

    function BindSaveFunction() {
        $('.AddRemoveApprover').off('click').on('click', AddRemoveApprover);
        $('.UndoRemoveApprover').off('click').on('click', UndoRemoveApprover);
        $('#SaveApprovers').off('click').on('click', SaveApprovers);
        $('#SaveApprovers').attr('disabled', true);
        $('.input-group input').off('keyup').on('keyup', KeyDown);
        $('.input-group-addon').off('click').on('click', ChangeDepartment);

        CheckTableRowCount();
        UpdateTableRowIndex();
    }

    function GetCandidatesAndApprovers(deptid) {
        //var deptid = $(this).val() || 0;

        $.ajax({
            data: {
                DepartmentID: deptid,
                Approver: $('#Approver').val().trim(),
                Personnel: $('#Personnel').val().trim(),
                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
            },
            type: 'POST',
            datatype: 'JSON',
            url: '@Url.Action("GetCandidatesAndApprovers", "KioskApprover")',
            cache: false,
            beforeSend: function() {
                ShowLoadingScreen();
            },
            complete: function() {
                RemoveLoadingScreen();
            },
            success: function(response) {
                if (response.msg == null) {
                    $('#CandidatesAndApproversForm').html(response);

                    if (deptid) {
                        $('#SaveApprovers').val(deptid);
                        BindSaveFunction();
                    }

                    Events();
                } else {
                    toastr.error(response.res);
                }
            },
            error: function(x) {
            }
        })
    }

    function KeyDown(e) {
        if (e.keyCode == 13) {
            deptid = $('#DepartmentID').val() || 0;
            GetCandidatesAndApprovers(deptid);
        }
    }

    function AddRemoveApprover() {
        var personnelID = parseFloat($(this).val()),
            tableName = $(this).closest('table').attr('id'),
            rowName = tableName.replace('sTable', ''),
            action = rowName == 'Personnel' ? 'Add' : 'Remove',
            approverDeptID = parseFloat($(this).closest('tr').find('td input.ID').val()),
            prevRowIndex = parseFloat($(this).closest('tr').find('td input.RowIndex').val());

        if (action == 'Add') {
            if ($_approverIDsArr.filter(function (e) { return e == personnelID }).length > 0) {
                toastr.error('Selected personnel is already an approver!');
            }
            else {
                $personnelRow = $(this).closest('tr').clone();
                $personnelRow.removeClass().addClass('approver Approver-' + personnelID);
                $personnelRow.find('input.DepartmentID').val($('#SaveApprovers').val());
                $personnelRow.find('.AddRemoveApprover').attr('title', 'Add as approver');
                $personnelRow.find('.AddRemoveApprover').removeClass('btn-info').addClass('btn-danger');
                $personnelRow.find('.AddRemoveApprover').find('i').removeClass().addClass('fa fa-times');
                $('#ApproversTable tbody').append($personnelRow);
                $(this).closest('tr').addClass('hidden');

                $_approverIDsArr.push(personnelID);
                $_personnelIDsArr = $.grep($_personnelIDsArr, function (a) { return a !== personnelID; });
            }
        }
        else {
            $(this).addClass('hidden');
            $(this).closest('tr').find('input.Deleted').val(true);
            $(this).closest('tr').addClass('deleted');
            $(this).closest('tr').find('img').css('opacity', '0.5');
            $(this).closest('tr').find('.UndoRemoveApprover').removeClass('hidden');
            $(this).closest('tr').addClass('text-muted bg-muted').find('b').removeClass('text-primary');

            if (approverDeptID == 0) {
                $(this).closest('tr').remove();
                $personnelRow.find('input.ApproverID').val(0);
                $('#PersonnelsTable tr.Personnel-' + personnelID).removeClass('hidden');
                $_personnelIDsArr.push(personnelID);
                $_approverIDsArr = $.grep($_approverIDsArr, function (a) { return a !== personnelID; });
            }

            $_approverIDsArr = $.grep($_approverIDsArr, function (a) { return a !== personnelID; });
        }

        CheckTableRowCount();
        BindSaveFunction();
        UpdateTableRowIndex();

        //if ($_loadedApproverIDsArr.length != $_approverIDsArr.length)
        //    $('#SaveApprovers').removeAttr('disabled');
        //else
        //    $('#SaveApprovers').attr('disabled', true);
        DetectChanges();
    }

    function UndoRemoveApprover() {
        var personnelID = parseFloat($(this).val());
        $(this).addClass('hidden');
        $(this).closest('tr').find('input.Deleted').val(false);
        $(this).closest('tr').removeClass('deleted');
        $(this).closest('tr').find('img').css('opacity', '1');
        $(this).closest('tr').find('.AddRemoveApprover').removeClass('hidden');
        $(this).closest('tr').removeClass('text-muted bg-muted').find('b').addClass('text-primary');
        $_approverIDsArr.push(personnelID);

        //if ($_loadedApproverIDsArr.length != $_approverIDsArr.length)
        //    $('#SaveApprovers').removeAttr('disabled');
        //else
        //    $('#SaveApprovers').attr('disabled', true);
        DetectChanges();
    }

    function DetectChanges() {
        //var uniqueArr = [];
        //if ($_loadedApproverIDsArr.length > $_approverIDsArr.length) {
        //    for (var i = 0; i < $_loadedApproverIDsArr.length; i++) {
        //        uniqueArr = $.grep($_approverIDsArr, function (a) { return a !== $_loadedApproverIDsArr[i]; });
        //    }
        //}
        //else {
        //    for (var i = 0; i < $_approverIDsArr.length; i++) {
        //        uniqueArr = $.grep($_loadedApproverIDsArr, function (a) { return a !== $_approverIDsArr[i]; });
        //    }
        //}
        var newApprovers = $('#ApproversTable tbody tr.approver input.Deleted[value="true"]').length;
        var deletedApprovers = $('#ApproversTable tbody tr.approver input.ID[value="0"]').length;

        if (newApprovers > 0 || deletedApprovers > 0)
            $('#SaveApprovers').removeAttr('disabled');
        else
            $('#SaveApprovers').attr('disabled', true);
    }

    function UpdateTableRowIndex() {
        $('#PersonnelsTable tbody tr.personnel').each(function (i, val) {
            $(this).find('input.ID').removeAttr('name').attr('name', 'model[' + i + '].ID');
            $(this).find('input.DepartmentID').removeAttr('name').attr('name', 'model[' + i + '].DepartmentID');
            $(this).find('input.Sequence').removeAttr('name').attr('name', 'model[' + i + '].Sequence');
            $(this).find('input.Deleted').removeAttr('name').attr('name', 'model[' + i + '].Deleted');
            $(this).find('input.ApproverID').removeAttr('name').attr('name', 'model[' + i + '].ApproverID');
        });
        $('#ApproversTable tbody tr.approver:not(.deleted)').each(function (i, val) {
            $(this).find('input.Sequence').val(i + 1);
        });
        $('#ApproversTable tbody tr.approver').each(function (i, val) {
            $(this).find('input.ID').removeAttr('name').attr('name', 'model[' + i + '].ID');
            $(this).find('input.DepartmentID').removeAttr('name').attr('name', 'model[' + i + '].DepartmentID');
            $(this).find('input.Sequence').removeAttr('name').attr('name', 'model[' + i + '].Sequence');
            $(this).find('input.Deleted').removeAttr('name').attr('name', 'model[' + i + '].Deleted');
            $(this).find('input.ApproverID').removeAttr('name').attr('name', 'model[' + i + '].ApproverID');
        });
    }

    function CheckTableRowCount() {
        var tableNames = [];
        tableNames.push({ Table: 'PersonnelsTable', Class: 'personnel' });
        tableNames.push({ Table: 'ApproversTable', Class: 'approver' });

        for (var i = 0; i < tableNames.length; i++) {
            if ($('#' + tableNames[i].Table + ' tbody tr.' + tableNames[i].Class + ':visible').length > 0) {
                $('#' + tableNames[i].Table + ' tbody tr#No-Row-Display').addClass('hidden');
            } else {
                $('#' + tableNames[i].Table + ' tbody tr#No-Row-Display').removeClass('hidden');
            }
        }
    }

    function SaveApprovers() {
        var deptID = parseFloat($(this).val());
        var formdata = 'deptid=' + deptID + '&' + $('#ApproversTable tbody tr.approver *').serialize() + "&__RequestVerificationToken=" + $('@Html.AntiForgeryToken()').val();

        $.ajax({
            data: formdata,
            type: 'POST',
            datatype: 'JSON',
            url: '@Url.Action("SaveKioskApprovers", "KioskApprover")',
            beforeSend: function() {
                ShowLoadingScreen();
            },
            complete: function() {
                RemoveLoadingScreen();
            },
            success: function(response) {
                if (response.msg == null) {
                    $('#CandidatesAndApproversForm').html(response);

                    if (deptID) {
                        $('#SaveApprovers').val(deptID);
                        BindSaveFunction();
                    }

                    Events();
                } else {
                    toastr.error(response.res);
                }
            },
            error: function(x) {
            }
        })
    }

    function RemoveApproverInPersonnel() {
        //$('#ApproversTable tbody tr td .PersonnelID').each(function (e) {
        //    //$('#PersonnelsTable tbody tr#' + $(this).val()).addClass('hidden');
        //    $('#PersonnelsTable tbody tr.Personnel-' + $(this).val()).addClass('hidden');
        //});

        //CheckTableRowCount();
    }
</script>