@model ProcessLayer.Entities.Crew
@{
    var CrewPageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("HumanResource/Crew");

    var vessels = ProcessLayer.Processes.VesselProcess.Instance.Value.GetList();
    var crews = ProcessLayer.Processes.PersonnelProcess.GetList();
    var positions = ProcessLayer.Processes.PositionProcess.Instance.Value.GetList();
    var departments = ProcessLayer.Processes.Lookups.DepartmentProcess.Instance.Value.GetListOffice(isOffice: true);
}

<tr id="Row-Display-Crew-@Model.ID" class="Row-Display Row-Display-Crew read" style="" title="">
    @*<td class="check-mail">
            <input type="checkbox" class="i-checks chkPersonnel" title="Select row">
        </td>*@
    <td style="text-align: left;" nowrap>
        <input type="hidden" value="@Model.ID" />
        @String.Format("{0} - {1}", Model._Vessel.Code, Model._Vessel.Description)
    </td>
    <td style="text-align: left; text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-flex; width: 100%;">
        <img src="@(String.IsNullOrEmpty(Model._Personnel.ImagePath) ? "\\Images\\default.jpg": Model._Personnel.ImagePath)" style="height: 30px; width: 30px; min-height: 30px; min-width: 30px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;" title="" />
        @Html.Raw(String.Format("<div style='line-height: 1.2;'><b>{0}</b>,<br/>{1} {2}<div>", Model._Personnel.LastName, Model._Personnel.FirstName, Model._Personnel.MiddleName))
    </td>
    <td style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px;" title="@Model._Department.Description">
        @Html.Raw(String.Format("<div style='line-height: 1;'><b>{0}<br/></b><text class='font-bold-500' style='text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;'>{1}</text></div>", Model._Department.Description ?? "", Model._Position.Description ?? ""))
        @*Html.Raw(String.Format("<div style='line-height: 1;'><b>{0}</b></div>", Model._Personnel._Department.Description ?? ""))*@
    </td>
    @*<td style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px;" title="@Model._Position.Description">
        @Html.Raw(String.Format("<div style='line-height: 1;'><text class='font-bold-500' style='text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;'>{0}</text></div>", Model._Position.Description ?? ""))
    </td>*@
    <td style="text-align: left;" nowrap>
        @if (!String.IsNullOrEmpty(Model.StartDate.ToString()))
        {
            @Html.Raw(String.Format("<div style='line-height: 1;'><b style='font-size: 9px;'>Start Date:<br/></b><text class='font-bold-500' style='text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;'>{0:MMMM dd, yyyy}</text></div>", Model.StartDate))
        }
        else
        {
            @*<div>N/A</div>*@
        }
    </td>
    <td style="text-align: left;" nowrap>
        @if (!String.IsNullOrEmpty(Model.EndDate.ToString()))
        {
            @Html.Raw(String.Format("<div style='line-height: 1;'><b style='font-size: 9px;'>End Date:<br/></b><text class='font-bold-500' style='text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;'>{0:MMMM dd, yyyy}</text></div>", Model.EndDate))
        }
        else
        {
            @*<div>N/A</div>*@
        }
    </td>
    <td style="text-align: left;">
        @if (!String.IsNullOrEmpty(Model.Remarks))
        {
            @Model.Remarks
        }
        else
        {
            @*<div>N/A</div>*@
        }
    </td>
    @if (CrewPageAccess.Update || CrewPageAccess.Delete || CrewPageAccess.View)
    {
        <td style="" class="row-actions">
            @if (String.IsNullOrEmpty(Model.EndDate.ToString()))
            {
            <div class="btn-group">
                @if (CrewPageAccess.Update || CrewPageAccess.View)
                {
                    if (CrewPageAccess.Update)
                    {
                        <button type="button" name="EditCrew" class="btn btn-info btn-sm btn-rounded EditCrew" value="@Model.ID" title="Edit"><i class="fa fa-pencil"></i></button>
                    }
                    else if (CrewPageAccess.View)
                    {
                        @*<button type="button" name="ViewMembers" class="btn btn-primary btn-sm btn-rounded ViewMembers" value="@Model.ID" title="View Members"><i class="fa fa-eye"></i></button>*@
                    }
                }
                @if (CrewPageAccess.Delete)
                {
                    <button type="button" name="DeleteCrew" class="btn btn-outline btn-danger btn-sm btn-rounded DeleteCrew" value="@Model.ID" title="Delete"><i class="fa fa-trash"></i></button>
                }
            </div>
            }
        </td>
    }
</tr>
<tr id="Row-Input-Crew-@Model.ID" class="Row-Input Row-Input-Crew hidden" style="cursor: pointer" title="">
    @*<td class="check-mail">
            <input type="checkbox" class="i-checks chkPersonnel" title="Select row">
        </td>*@
    <td style="text-align: center;">
        @Html.HiddenFor(m => m.ID)
        <input type="hidden" name="VesselID" value="@Model.VesselID" />
        @*Html.DropDownListFor(m => m.VesselID, new SelectList(vessels, "ID", "Display"), new { @class = "form-control vessels", @crew_vessel_action = "Edit" })*@
        @String.Format("{0} - {1}", Model._Vessel.Code, Model._Vessel.Description)
    </td>
    <td style="text-align: left; text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px; display: inline-flex;">
        @Html.HiddenFor(m => m.PersonnelID)
        @*Html.DropDownListFor(m => m.PersonnelID, new SelectList(crews, "ID", "FullName"), new { @class = "form-control" })*@
        @*<button type="button" id="" class="form-control" style="color: #999; text-align: left; height: unset; font-size: 13px; padding: 3px 7px;" title="Choose Crew..." value="@Model.PersonnelID" disabled="disabled">@Model._Personnel.FullName</button>*@
        <img src="@(String.IsNullOrEmpty(Model._Personnel.ImagePath) ? "\\Images\\default.jpg": Model._Personnel.ImagePath)" style="height: 30px; width: 30px; min-height: 30px; min-width: 30px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;" title="" />
        @Html.Raw(String.Format("<div style='line-height: 1.2;'><b>{0}</b>,<br/>{1} {2}<div>", Model._Personnel.LastName, Model._Personnel.FirstName, Model._Personnel.MiddleName))
    </td>
    <td style="text-align: center; padding: 5px 7px;">
        <input type="hidden" id="HiddenDepartmentID" value="@Model.DepartmentID" name="DepartmentID" crew-department-action="Edit" />
        <input type="hidden" id="HiddenPositionID" value="@Model.PositionID" name="PositionID" crew-position-action="Edit" />
        <button type="button" id="" value="@Model.ID" class="form-control SearchDeptPosButton" crew-deptpos-action="Edit" style="color: #999; text-align: left; min-height: 34px; height: unset; font-size: 13px; padding: 3px 7px;" title="Update Department & Position...">
            @Html.Raw(!String.IsNullOrEmpty(Model._Department.Description + Model._Position.Description) ? String.Format("<div style='line-height: 1;'><b>{0}<br/></b><text class='font-bold-500' style='text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;'>{1}</text></div>", Model._Department.Description ?? "", Model._Position.Description ?? "") : "Update Department & Position...")
        </button>
    </td>
    <td style="text-align: left;" nowrap>
        @if (!String.IsNullOrEmpty(Model.StartDate.ToString()))
        {
            @Html.Raw(String.Format("<div style='line-height: 1;'><b style='font-size: 9px;'>Start Date:<br/></b><text class='font-bold-500' style='text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;'>{0:MMMM dd, yyyy}</text></div>", Model.StartDate))
            
            <input type="hidden" name="StartDate" value="@(String.Format("{0:MM/dd/yyyy}", Model.StartDate))" />
        }
        else
        {
            @*<div>N/A</div>*@
        }
    </td>
    <td style="text-align: left;" nowrap>
        <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            @Html.TextBox("EndDate", String.Format("{0:yyyy'-'MM'-'dd}", Model.EndDate), new { @type = "date", @class = "form-control" })
        </div>
    </td>
    <td style="text-align: center;">
        @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control text-transform-none" })
    </td>
    @if (CrewPageAccess.Update || CrewPageAccess.Delete || CrewPageAccess.View)
    {
        <td style="" class="row-actions">
            <div class="btn-group">
                @if (CrewPageAccess.Update || CrewPageAccess.View)
                {
                    <button type="button" name="CancelCrew" class="btn btn-outline btn-warning btn-sm btn-rounded CancelCrew" value="@Model.ID" title="Cancel"><i class="fa fa-times"></i></button>
                    if (CrewPageAccess.Update)
                    {
                        <button type="button" name="SaveCrew" class="btn btn-info btn-sm btn-rounded SaveCrew" value="@Model.ID" title="Save"><i class="fa fa-save"></i></button>
                    }
                    else if (CrewPageAccess.View)
                    {
                    }
                }
            </div>
        </td>
    }
</tr>

