@model WebTemplate.Models.Searchable.Search

@{
    var CrewPageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("HumanResource/Crew");

    ViewBag.title = CrewPageAccess.PageName;
}

<div class="table-responsive" style="max-height: 550px; overflow-y: scroll;">
    <table id="CrewsTable" class="table table-stripped table-bordered" style="max-height: 500px;">
        <thead>
            <tr>
                <th style="text-align: center; " scope="col">Personnel</th>
            </tr>
        </thead>
        <tbody>
            <tr id="Row-Loading-Display" class="hidden">
                <td style="text-align: center;" colspan="6">
                    <i id="" class="fa fa-rotate-left rotate" style="padding: 8px; font-size: 20px; text-align: right;"></i>
                </td>
            </tr>
            @if (Model.Personnels.Personnel.Count() > 0)
            {
                <tr id="No-Row-Display" class="hidden"><td style="text-align: center;" colspan="6">No Crews found...</td></tr>
                for (int i = 0; i < Model.Personnels.Personnel.Count(); i++)
                {
                    @*<tr class="personnel Personnel-@Model.Personnels.Personnel[i].ID">
                            <td class="hidden">
                                <input class="ID" type="hidden" name="model[@i].ID" value="0" />
                                <input class="PersonnelID" type="hidden" name="model[@i].PersonnelID" value="@Model.Personnels.Personnel[i].ID" />
                                <input class="Deleted" type="hidden" name="model[@i].Deleted" value="0" />
                                <input class="RowIndex" type="hidden" value="@i" />
                            </td>
                            <td style="text-align: left; text-transform: uppercase; white-space: nowrap; display: flex;">
                                <img src="@(String.IsNullOrEmpty(Model.Personnels.Personnel[i].ImagePath) ? "\\Images\\default.jpg": Model.Personnels.Personnel[i].ImagePath)" style="height: 50px; width: 50px; min-height: 40px; min-width: 40px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;" title="" />
                                <div>
                                    <b class="text-primary">@String.Format("{0}, {1} {2}", Model.Personnels.Personnel[i].LastName, Model.Personnels.Personnel[i].FirstName, Model.Personnels.Personnel[i].MiddleName)</b>
                                    <br />
                                    <text class="" style="text-transform: none; font-weight: 700;">@Model.Personnels.Personnel[i]._Department.Description</text>
                                    <br />
                                    <text class="" style="text-transform: none;">@Model.Personnels.Personnel[i]._Position.Description</text>
                                </div>
                            </td>
                            <td style="text-align: center;">
                                @if (CrewPageAccess.View)
                                {
                                    <button type="button" name="AddRemoveMember" class="btn btn-outline btn-info btn-sm btn-rounded AddRemoveMember" value="@Model.Personnels.Personnel[i].ID" title="Add as member"><i class="fa fa-plus"></i></button>
                                    <button type="button" name="UndoRemoveMember" class="btn btn-default btn-sm btn-rounded UndoRemoveMember hidden" value="@Model.Personnels.Personnel[i].ID" title="Undo remove as member"><i class="fa fa-undo"></i></button>
                                }
                            </td>
                        </tr>*@

                    <tr id="@Model.Personnels.Personnel[i].ID" class="crew">
                        <td class="hidden">
                            <input class="PersonnelID" type="hidden" name="model[@i].PersonnelID" value="@Model.Personnels.Personnel[i].ID" />
                            <input class="Deleted" type="hidden" name="model[@i].Deleted" value="0" />
                            <input class="RowIndex" type="hidden" value="@i" />
                        </td>
                        <td style="padding: 0px;" colspan="2">
                            <button type="button" class="btn btn-white" style="width: 100%; padding: 3px 0px 0px 12px; cursor: pointer;">
                                <div style="text-align: left; text-transform: uppercase; white-space: nowrap; display: flex;">
                                    @if (CrewPageAccess.Update)
                                    {
                                        <label style="margin: 0px; margin: auto 0px;" class="checkbox i-checks pull-right">
                                            <input type="checkbox" id="SelectPersonnel" class="form-control pull-right selectPersonnel" disabled="disabled">
                                        </label>
                                    }
                                    <img src="@(String.IsNullOrEmpty(Model.Personnels.Personnel[i].ImagePath) ? "\\Images\\default.jpg": Model.Personnels.Personnel[i].ImagePath)" style="height: 50px; width: 50px; min-height: 40px; min-width: 40px; border: 3px solid #eaeaea; margin: 10px ; border-radius: 50px;" title="" />
                                    <div>
                                        <b id="CrewName" class="" style="">@String.Format("{0}, {1} {2}", Model.Personnels.Personnel[i].LastName, Model.Personnels.Personnel[i].FirstName, Model.Personnels.Personnel[i].MiddleName)</b>
                                        <br />
                                        <text class="" style="text-transform: none; font-weight: 700;">@Model.Personnels.Personnel[i]._Department.Description</text>
                                        <br />
                                        <text class="" style="text-transform: none;">@Model.Personnels.Personnel[i]._Position.Description</text>
                                    </div>
                                </div>
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr id="No-Row-Display">
                    <td style="text-align: center;" colspan="6">No Crews found...</td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
