@{
    var menus = Session["NavMenu"] as List<DataAccessLayer.System.NavMenu>;
    var c = User as WebTemplate.Models.CustomPrincipal;
}
<div class="topNavBar-mobile">
    <div class="navbar-logo">
        <div id="OpenSideNav">
            @* Menu Button on top left *@
            <a class="btn pull-left" data-toggle="modal" data-target=".sideNavigation" href="#" title="Menu">
                <img src="~/Content/patterns/menu button.png" />
            </a>
            <img class="logo" title="Trans-Pacific Journey Fishing Corporation Logo" src="~/Content/patterns/TPJ Logo copy.png" />
            <div class="company-name pull-left" title="Trans-Pacific Journey Fishing Corporation" style="width: 1000%;"><b>Trans-Pacific Journey</b><br />Fishing Corporation</div>
            <div class="navbar-title-short pull-left"></div>
            <div id="Profile" style="width: 40%;">
                @* &#xa; == code for NewLine *@
                @*<div class="profile-username"><strong>@(string.Format("{0}, {1}", c.LastName, c.FirstName).ToUpper())</strong></div>*@
                <div class="profile-picture" style="padding: 0px; width: 35px; height: 35px;">
                    <span>
                        @* clickable user image *@
                        <img src="~/Images/default.jpg" data-toggle="modal" data-target=".sideAccountInfo" href="#" id="ProfilePic" onclick="" alt="image" class="img-circle" title="TPJ Domain Account:&#xa;@(string.Format("{0}, {1}", c.LastName, c.FirstName).ToUpper())" style="width: 35px; height: 35px;" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sideNavigation modal inmodal" data-toggle="modal" role="dialog" aria-hidden="true" tabindex="" style="padding-left:0 !important; margin-top: 0px; width: 100%; height: auto; width: 100%">
    <div class="modal-dialog animated-fast slideInDown" style="width: 100%; height: auto;">
        <div class="topNavBar modal-header" style="height: auto; padding: 9px;">
            <button id="CloseSideNav" type="button" class="close" data-dismiss="modal" title="Close" style="color: #000; font-size: 30px; margin: 0px !important; padding: 4px 8px; float: left;"><span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" style="color: #000;">Menu</h4>
        </div>
        <div class="modal-body" style="padding: 0px;">
            <div class="navParent" style="width: 100%; height: auto; z-index: 500; position: absolute; background-color: #fff; margin-top: 55px; padding: 0px;">
                <ul class="nav" id="side-menu">
                    <li class="@Html.IsSelected(controller: "Home") toggleSpinners">
                        <a href="@Url.Action("Index", "Home")" class="" style="border-radius: 0px; border-top: 1px solid #efefef;"><i class="fa fa-home"></i> <span class="side-nav-label">Home</span> </a>
                    </li>

                    @helper DisplayMenus(IEnumerable<DataAccessLayer.System.NavMenu> nm, string level)
                    {
                        foreach (DataAccessLayer.System.NavMenu n in nm)
                        {
                            bool active = (n.Pages.Count > 0 && n.Pages.Any(p => Request.Url.AbsolutePath.Trim('/', '\\').StartsWith(p.URL))) || Request.Url.AbsolutePath.Trim('/', '\\').StartsWith(n.NavTitle);
                            <li class="@(active ? "active" : "")">
                                <a href="#" style="border-radius: 0px;"><i class="fa fa-@n.NavIconClass"></i><span class="side-nav-label"> @n.NavTitle</span><span class="fa arrow"></span> </a>
                                <ul class="nav @(active ? "in" : "")" aria-expanded="@active">
                                    @if (n.Pages.Count > 0)
                                    {
                                        foreach (DataAccessLayer.System.Page p in n.Pages)
                                        {
                                            <li class="@( Request.Url.AbsolutePath.Trim('/','\\').StartsWith(p.URL) ? "active":"") toggleSpinners">
                                                <a href="~/@p.URL" style="border-radius: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@p.Module</a>
                                            </li>
                                        }
                                    }

                                    @if (n.ChildNavMenu != null && n.ChildNavMenu.Count > 0)
                                    {
                                        @DisplayMenus(n.ChildNavMenu, "third")
                                    }
                                </ul>
                            </li>
                        }
                    }
                    @if (menus != null)
                    {
                        @DisplayMenus(menus, "second")
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="sideAccountInfo modal inmodal" data-toggle="modal" role="dialog" aria-hidden="true" tabindex="" style="padding: 10px; margin-top: 0px; width: 100%; height: auto; width: 100%">
    <div class="modal-dialog animated-fast slideInDown" style="height: auto;">
        <div class="topNavBar modal-header" style="height: auto; padding: 9px; text-align: center;">
            @*<button id="CloseSideNav" type="button" class="close" data-dismiss="modal" title="Close" style="color: #000; font-size: 30px; margin: 0px !important; padding: 4px 8px; float: left;"><span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">Close</span></button>*@
            <h4 class="modal-title" style="color: #000; padding-left: 10px;">Account Info</h4>
        </div>
        <div class="modal-body" style="padding: 0px;">
            <div class="navParent" style="width: 100%; height: auto; z-index: 500; position: absolute; background-color: #fff; margin-top: 55px; padding: 20px;">
                <div id="ProfileInfo" class="profile-information">
                    <div class="profile-pointer"></div>
                    <div class="profile-content">
                        <div class="profile-content-left" style="text-align: center;">
                            <span><img id="" alt="image" class="img-circle" src="~/Images/default.jpg" title="" style="width: 150px;"/></span>
                        </div>
                        <div class="profile-content-right">
                            <div class="profile-names" style="text-align: center; padding: 10px 0px;">
                                <div class="profile-name">@(string.Format("{0}, {1}", c.LastName, c.FirstName).ToUpper())</div>
                                <div class="profile-user">@c.EmailAddress</div>
                            </div>
                            <div class="profile-buttons" style="text-align: center;">
                                <a href="@Url.Action("Index", "Maintenance/Systems/UserProfile")" class="btn btn-primary btn-outline" style="width: 49.5%;">Profile</a>
                                <a href="@Url.Action("Logout", "Security")" class="btn btn-primary btn-w-m" style="width: 49.5%;">Sign Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>